[2015-10-21 23:22] edorivai commented on #315
Awesome man, keep up the good work!

[2015-10-22 16:57] jonathansamines commented on #289
Hi, i just was trying to run a es6 script to run, but is seems that is not supported by this module. Have you thought about adding an "--exec" option which will allow to run it with either "node itself", io or even babel if needed? I´ve seen other libraries to do it (like nodemon for example). It seems that the mocha solution, should allow this kind of behavior.

There´s a WIP for this?

[2015-11-04 08:34] tgriffo opened #321 "[ERROR] TypeError: Cannot read property 'rows' of undefined"
Hi all,

I realize that a potentially similar issue has been raised and closed in the past. I've tried with the latest version: 0.10.0-beta.4 and still getting the error so posting this.

The environment: Vagrant hashicorp/precise64 running on a Mac host. psql 9.1.19 (running inside Vagrant machine). Node v5.0.0.

When running a migration up without --dry-run, I get the following error:

[ERROR] T

[2015-11-04 12:03] wzrdtales commented on #321
@tgriffo This is probalby due to something else that does not work, however the all function gets an empty result and is crashing there.

I have just published a patch for the pg driver, which checks for this. Please update to this version, try again and send the new error logs if there are any.

[2015-11-04 12:27] wzrdtales commented on #289
@jonathansamines Not yet a WIP, but it is planned to support it.

[2015-11-06 04:57] tgriffo commented on #321
Hi @wzrdtales thanks heaps mate. All good now!!

[2015-11-06 04:57] #321 closed

[2015-11-06 05:58] zilkey opened #323 "createTable errors out when you specify length and autoincrement in postgres"
When using the postgres driver, and using the migration from the docs:

[code]

And you run it with `node node_modules/.bin/db-migrate up` you'll get:

[code]

When you run it with `node node_modules/.bin/db-migrate up --dry-run` you'll see:

[code]

Notice the `"id"  (10)` in there.  It's caused by this line:

https://github.com/db-migrate/pg/blob/master/index.js#L43

[code]

If autoincrement is

[2015-11-06 07:16] zilkey opened #324 "questions about supporting test database syncing better"
**Loading / Dumping Schema**

A scenario I come across fairly often is the need to drop old migrations.  For example, on a large codebase there might be dozens or hundreds of migrations.  In these cases, I find it helpful to just delete old ones (taking care to make sure all environments including dev environments).  After doing this, when new developers come on the team, they would just create an

[2015-11-06 07:59] #302 closed

[2015-11-06 17:26] Siron opened #325 "Existing table"
Started using this tool with postgres. Ran into a little bit of a blocker.

Want to use this module for development and production, however, production already has a few tables live. Ideally, I would like to get this all working and run the migration for new environments and simply by-pass the error where the table already exists. I tried using the call back to check if(err) in the response and th

[2015-11-07 10:59] wzrdtales commented on #325
There is a if not exist option for tables, this might help you.

https://github.com/db-migrate/db-migrate-base/blob/master/index.js#L171-L174

I see now this is missing in the description but shown in the example, I will add this:
http://umigrate.readthedocs.org/projects/db-migrate/en/v0.10.x/API/SQL/#createtabletablename-columnspec-callback

[2015-11-07 11:03] wzrdtales commented on #323
You're using the migrations in a wrong way!

This should be like this instead:

[code]

the createTable method returns a Promise, also to ask: Do you use v0.10.x-beta already, this is not true for v0.9.x though.

And yes you're absolutely right, I'm currently mainly focusing on the docs and think a lot about how to structure them better and make the entrance as easy as possible. Up to the final re

[2015-11-07 11:06] wzrdtales commented on #323
For the real issue with this issue, this needs that to be added to the pg driver.

[2015-11-07 11:24] wzrdtales commented on #324
So far, I'm in a hurry and have not read everything right now, but I  will leave some thoughts right now.

The thing about the migrations getting outdated and unneeded is known to me, we also have switched to place a up to date sql file on a known location for all developers instead of rerunning the migration set. But this had multiple other reasons, for example that the live database contains muc

[2015-11-07 12:34] Siron commented on #325
Excellent, that should work thank you :)

[2015-11-07 12:34] #325 closed

[2015-11-07 12:43] Siron opened #326 "Npm istall issue with version 0.10.x"
Hello,

Whilst specifying version "db-migrate": "0.10.0-beta.4" in the package.json file then calling npm install it seems skips over installing node-db-migrate. After the install is complete all the packages have been installed apart from db-migrate. If I specify the version to be 0.9.x this issue doesn't occur. This is slightly problematic if you want to use the module's API options and run it v

[2015-11-07 12:52] wzrdtales commented on #326
I need more information from you:

- node version used
- npm version used

However, I have tried with many npm versions and node versions and all worked. How do you come to the conclusion it was skipped?

[2015-11-07 13:04] Siron commented on #326
Information:
- Node 0.10.29
- Npm - 2.11.3

Here are the steps I used
1. rm -rf node_module/
2. npm install
3. ls -l node_modules

Everything is listed apart from db-migrate. If I then call npm update && npm install, then it gets installed. But I always have to call npm update first.

If I change the version to 0.9.x for db-migrate then everything is fine with just npm install. This happens across

[2015-11-07 13:10] wzrdtales commented on #326
First of all, you might consider updating node (0.10.40), as there are
probably many security issues with your version, apart from you're using
a quite old one.

However, I've tested with the exact same details and your package json,
no problems here.

[code]

Am 07.11.2015 um 14:04 schrieb Siron:

[2015-11-08 21:46] wzrdtales commented on #324
Your use case about auto migrations is not a common use case and also not a common practice, thus things like default loading the test environment is out of question. Wouldn't it also make more sense to chain your test suite together with the migrations?
However executing multiple environments after each other could be added to db-migrate, but I do not really see the use in here. Obviously this is

[2015-11-08 21:54] wzrdtales commented on #324
The thing about the dumps is not taking care of being generic yet. Simply dumping the db is not enough, this wouldn't be generic for all other databases and this is not something that db-migrate should do. A user can do within its userspace whatever he/she wants, but it is not a good practice to have an abstract layer for migrations that do not work on all databases in the end.

There would be the

[2015-11-08 22:00] wzrdtales commented on #324
To the last point, basically one instance of db-migrate has one connection at a time. Even with mutliple environments they would execute chained after each other. Thus diffing executed migrations accross different connections might be a problem for this. Maybe we can provide an API functionality to filter the actual migrations against a provided list of migrations and an API functionality that ret

[2015-11-09 12:31] Siron commented on #326
It was a local build issue. Sorry about that. All fixed now

[2015-11-09 12:31] #326 closed

[2015-11-09 12:40] wzrdtales commented on #326
@Siron Great to hear! Do not hesitate to ask again if you encounter any issues.

[2015-11-23 13:54] lfreneda opened #328 "up running twice for each migration D: wat"
Hello there, anyone faced this buggy?

Each migration is running twice, am I doing something wrong? D:

![db-migrate-running-twice-each](https://cloud.githubusercontent.com/assets/372420/11338072/f515c704-91d8-11e5-8b84-677e72648812.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28535042-up-running-twice-for-each-migration-d-wa

[2015-11-23 14:37] wzrdtales commented on #328
I can't help you this way...

Please provide everything that is needed to reproduce your issue:

- used node version
- used db-migrate version
- output from the verbose run
- if needed examples of your migrations, naturally with truncated details if needed

[2015-11-23 16:27] lfreneda commented on #328
hello @wzrdtales, thanks for your quick reply D:

Not sure if is really a bug D: db-migrate is smarter than me HAHAHA

Figured out what is going on here while creating a repository to replicate the "problem"(https://github.com/lfreneda/db-migrate-issue-328)

Let me try to explain.

Since I'm using coffeescript (<3) and my IDE is watching coffee files to transpile into javascript, db-migrate finds

[2015-11-23 16:27] #328 closed

[2015-12-03 15:09] wburgers opened #329 "all scope not working"
Hi,

I want to use node-db-migrate to apply app version numbers to the database.
To do this I would like to use the scoping feature.
For example create a new migration file in the scope 1.0.0.
When I run `db-migrate up:1.0.0`, this works fine. But `db-migrate up:all` has no effect whatsoever.

I'm using v0.10.0-beta.4 of node-db-migrate.
The docs say that up:all should be supported.
There is only

[2015-12-03 16:43] wzrdtales commented on #329
do you receive any error message? trying to reproduce this now

[2015-12-03 17:04] #329 closed

[2015-12-03 17:10] wzrdtales commented on #329
Found the bug, fix is going to be published under beta.5

[2015-12-03 17:10] wzrdtales commented on #329
waiting for ci now

[2015-12-03 17:23] wzrdtales commented on #329
published

[2015-12-03 17:48] wburgers commented on #329
Amazing!
I'll try the new release later tonight.
Thank you very much for the quick reply andere fix!

[2015-12-18 19:33] Termato commented on #210
Hi wzrdtales, I was wondering if it would be possible to put in the readme.md that you need to have the database.json file. I agree with toymachiner that it is a good message but it would have been much easier to just have it in the readme.md. Just my two cents. Thanks!

[2015-12-18 19:36] wzrdtales commented on #210
@Termato Hey, sry for having trouble, but the documentation is now completely on read the docs and there you can find this information.

May be we should move this part https://github.com/db-migrate/node-db-migrate#resources-and-usage-instructions a bit more to the top to make the users aware to actually read the docs.

[2015-12-18 19:48] Termato commented on #210
Yea, I can definitely see why you wouldn't want to duplicate information. Moving it to the top, or at least higher, would definitely help. At least above the driver information.

I was confused at first because the previous link: https://github.com/kunklejr/node-db-migrate#configuration took me to the readme instructions. I think that anchor may have been removed?

Anyways, this clears it up, it w

[2015-12-18 19:50] wzrdtales commented on #210
Ic, yes definitely, this needs to be updated. This anchor was there before the docs have been moved yes.

[2015-12-21 10:26] yaring opened #330 "Can't set mongo host as replica sets"
I'm using Mongodb and I want to set the host with replica sets.
https://github.com/db-migrate/mongodb/blob/master/index.js#L495
You can see it supports only one database format,
I want to do somthing like that
[code]

It is possible somehow?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29299276-can-t-set-mongo-host-as-replica-sets

[2015-12-21 17:37] wzrdtales commented on #330
Short answer, no not yet.

Long answer, you're right, currently this is not supported in the way that mongodb configurations are supplied right now.

I still need to look how this can be more generalized, currently the used module https://github.com/pwnall/node-parse-database-url does not understand such a url schema.

And I think something like

[code]

would make more sense,  then separating wit

[2015-12-21 19:12] wzrdtales commented on #330
@yaring Quick Side notes on this, I will probably first introduce the config schema like the example above and measuring out what actually is the most generous way for the url schemas and taking different dbs that allow sharding in account.

[2015-12-22 09:23] yaring commented on #330
@wzrdtales I think `db-migrate` should support connection string exactly like Mongodb does.
Maybe you can add some condition when "connectionString" is exists that it will used that instead of the more readable configuration.

Anyway, right now I can't do anything with that, right?

[2015-12-22 10:41] wzrdtales commented on #330
Yes not yet.

[2015-12-22 10:47] wzrdtales commented on #330
The problem with the url config is the following @yaring
Take a look at this module https://github.com/pwnall/node-parse-database-url

This one is used some levels higher than the drivers are:
https://github.com/db-migrate/node-db-migrate/blob/master/lib/config.js#L53

Thus, this module needs to be replaced somehow and as MongoDB is really just a driver as any other, it is treated like any other.

[2015-12-26 01:07] neerolyte commented on #187
`autoIncrement: true` seems to do this already:
http://db-migrate.readthedocs.org/en/v0.9.x/API/SQL/#createtabletablename-columnspec-callback

[2015-12-27 08:47] yaring opened #331 "Error in the end of the migrations up command"
When I'm running `NODE_ENV=development db-migrate up`
I'm getting this error
[code]

db-migrate version: 0.10.0-beta.6
db-migrate-mongodb version: 1.0.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29417283-error-in-the-end-of-the-migrations-up-command?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=gi

[2015-12-27 09:06] wzrdtales commented on #331
Please also always tell me your Node version, thank you for reporting so far. As this has something todo with closing the connection I need a bit more details:

https://github.com/db-migrate/mongodb/blob/master/index.js#L439

Can you please tell:
Can you please post a verbose run?
Do your migrations have worked in another environment before, what are you trying to do currently?
If migrations have

[2015-12-27 09:52] yaring commented on #331
Node version: v0.12.7
npm version: 2.12.1
Mongodb version: 3.0.0

What I'm trying to do is to migrate manual migrations files to db-migrate plugin, they have worked before when running manually one by one.

db-migrate runs the migrations properly, but at the end, the db conncetion isn't close properly as you see.

Running with verbose:
[code]

[2015-12-27 10:39] wzrdtales commented on #331
Ok actually the problem is that the connection is already closed at that point due to the current functionality of the mongo db driver, which is planned to be reworked in some future. I'm going to push out a patch to fix this problem as soon as I arrive back home this evening.

Thank you for reporting!

[2015-12-27 13:48] yaring commented on #331
@wzrdtales , that will be great!
I'm waiting for this patch :)

[2015-12-27 17:07] #331 closed

[2015-12-27 17:14] wzrdtales commented on #331
@yaring You can now update the mongo db driver, patch released under v1.0.2.

[2015-12-27 17:22] yaring commented on #331
Awesome! 10x @wzrdtales

[2016-01-04 09:02] yaring commented on #330
Hi @wzrdtales , Anything new about this subject? maybe can you point me and i'll try to add this feature?

[2016-01-04 10:19] wzrdtales commented on #330
Hey @yaring,

There is already an issue at https://github.com/pwnall/node-parse-database-url/issues/6 about this. If this gets fixed, that would also make this option available to you. The changes that need to be made for mentioned here https://github.com/db-migrate/node-db-migrate/issues/330#issuecomment-166369150 would need a change in the mongodb driver initialization https://github.com/db-migr

[2016-01-05 16:24] mschop opened #333 "[ERROR] Error: ER_PARSE_ERROR"
Hello together,

using db-migrate gte 0.9 I get the following error:

[ERROR] Error: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE TABLE token (
token VARCHAR(200) NOT NULL,
license_id CHAR(36) NOT NU' at line 9

Its working on the development system but not on the server. I have no clue

[2016-01-05 20:01] wzrdtales commented on #333
Please always provide all necessary details you should in any case always add:

used:
- node version
- npm version
- db-migrate version
- db-migrate driver version
- db-migrate driver(s)

Also attach a *verbose run* and in this case also post the versions of both mysql servers. In the verbose run you get an output of the generated queries which you can also test by hand.

Without this information

[2016-01-07 19:40] jaumard opened #334 "Usage in js script"
Is there any documentation or example for using node-db-migrate from a js script instead of command line ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29678736-usage-in-js-script?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2016-01-07 19:45] wzrdtales commented on #334
programatic access is defined as feature for the v0.10.x version which is currently in beta. There are not that much docs about this yet: http://umigrate.readthedocs.org/projects/db-migrate/en/v0.10.x/API/programable/

But you can take a look at https://github.com/db-migrate/node-db-migrate/blob/v0.10.x/api.js#L96-L362

Expect that there might be  somethings that do not work yet, but feel free to

[2016-01-07 19:49] jaumard commented on #334
Thanks ! I will look at this. Closing this :)

[2016-01-07 19:49] #334 closed

[2016-01-07 19:52] wzrdtales commented on #334
No problem. Not to forget: Feel free to ask question as they come up.

[2016-01-07 20:14] wzrdtales commented on #330
@yaring One note:

    localhost:27017/somedb,localhost:27018/somedb,localhost:27019/somedb

That string of your example, isn't this invalid? The spec tells that there can only be one db, that means this should be like this instead:

    localhost:27017,localhost:27018,localhost:27019/somedb

https://docs.mongodb.org/manual/reference/connection-string/

[2016-01-07 20:15] #330 closed

[2016-01-07 20:21] wzrdtales commented on #330
This has however been implemented to define multiple hosts like in the example given above:

[code]

And this is possible too:

[code]

[2016-01-07 20:22] wzrdtales commented on #330
This was released and published as + db-migrate-mongodb@1.1.0

[2016-01-07 20:22] wzrdtales commented on #330
The connection string parsing will probably get fixed through the pwnall package somewhat soon. If not I will act on this.

[2016-01-10 09:50] yaring commented on #330
@wzrdtales Awesome! Thank you!
About the connection string, it seems like the pwnall package has not been updated for over a year.

[2016-01-10 09:51] yaring commented on #330
As for the connection string,
It seems like you're right, but it did worked for me.
Anyway I guess what you suggest is better.

[2016-01-10 12:58] yaring commented on #330
@wzrdtales, I've look on pwnall package, it's using `url` package which parses URL and not DB URL (different behaviour).
I couldn't find any other node db url parsing but I found mongo db url parse which doing the job:
https://github.com/mongolab/mongodb-uri-node

Do you think we can add use case for Mongo to use that package instead of pwnall on your package?

[2016-01-10 13:03] wzrdtales commented on #330
@yaring Not as long as the mongo driver does not parse the configuration by itself. Currently configuration is the job of db-migrate and not the driver. And db-migrate handles efforts to provide a reusable format for all drivers that might come to existence.

However your mentioned package might be able to handle non mongodb uris as well, I will take a look at it later though.

[2016-01-10 13:04] wzrdtales opened #336 "Support of mongodb uris"
Refers to #330

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29745653-support-of-mongodb-uris?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)

[2016-01-10 13:06] yaring commented on #330
@wzrdtales Agree.
Maybe doing something like:
Try using `parseDatabaseUrl` function on driver, if not exists, use from base (kind of inheritance).

[2016-01-10 13:08] wzrdtales commented on #330
@yaring I would not be a fan of this, but we could also pass additionally the raw unformatted config for those use cases. Also in this case db-migrate will probably be able to provide a proper handling for mongodb.

[2016-01-10 13:10] yaring commented on #330
There is another option,
Fork parse-database-url package and add this use case over there.
@wzrdtales What do you think?

[2016-01-10 13:11] wzrdtales commented on #330
@yaring That is what I'm going to do if @pwnall is not going to do it within the next 2 weeks.

[2016-01-10 13:14] yaring commented on #330
@wzrdtales I can do it myself.
I'll send you a link to my fork after this change in couple of hours  and you will review it?

[2016-01-10 13:14] wzrdtales commented on #330
@yaring Also to note if the potential PR would not be accepted after a month I would also hard fork that package and republish it.
But it is just fair to give the maintainers that time, we all have stuff to do :)

[2016-01-10 13:15] wzrdtales commented on #330
@yaring You could do that and open the PR for it, if everything is ok and you put a tag on it I could link to the tag instead to the package version for a while.

[2016-01-10 14:50] yaring commented on #330
@wzrdtales, Check it out and let me know what you think :)
https://github.com/pwnall/node-parse-database-url/pull/7

[2016-01-10 15:17] wzrdtales commented on #330
I'm not sure about https://github.com/yaring/node-parse-database-url/blob/master/lib/parse-database-url.js#L35-L38 those lines. That seems a bit like wasting cycles, because actually you do the following:

- You parse the uri to extract the host and ports with the mongodb-uri model
- You build the string back to the original

That doesn't make sense from that point, I would rather add that bit of

[2016-01-10 15:34] yaring commented on #330
* I agree it's a little wasting, but that's how the other package works - it returns an array and we want return comma separated string. which mongodb driver did you mean?
* Well, I wanted to keep the same returns values and same types, and the `port` return as string for all the others includes the "before fix" state.
* I've added support for single one on the commit after, you probably missed it

[2016-01-10 15:42] wzrdtales commented on #330
- The db-migrate mongodb driver and the database-url package of pwnall also parses the port to a property of the config object. I think this should be designed more to fit the general behavior of the package than to fit the current expected configuration for this of db-migrate.

- Ok Ic the node url module does indeed also return a string for the parsed port
- Thats probably true :)

[2016-01-10 16:32] pwnall commented on #330
Hey guys!

Sorry, last time I checked, I couldn't find any indication that the mongodb driver supports the host array format. If that definitely works, I can look into the node-parse-database-url PR. I think I'll try to do the parsing without invoking an extra library before using the PR as is.

So... are we sure that the mongo driver will accept an array of hosts?

Thank you!

[2016-01-10 17:30] pwnall commented on #330
Please take a look at the parse-database-url branch aiming to fix this issue [1] and join the conversation in [2].

[1] https://github.com/pwnall/node-parse-database-url/tree/fix_mongo
[2] https://github.com/pwnall/node-parse-database-url/issues/6

[2016-01-12 23:33] wzrdtales commented on #336
Closed and supported with 0.10.0-beta.7

[2016-01-12 23:33] #336 closed

[2016-01-17 16:40] jney opened #337 "`DATABASE_URL` support"
As i read the doc `DATABASE_URL` env var is supported.
But, using `db-migrate` i accountered some awkward behaviours. Or i missed something.

[code]

At this point, why should i declare the db name as it is already explicitly declared in the `DATABASE_URL` var ?

[code]

Sure `test` does exist, i'm trying to create it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](ht

[2016-01-17 17:59] wzrdtales commented on #337
Please provide the information you get from the verbose run. You start the verbose run by appending `-v` as parameter.

[2016-01-17 18:03] wzrdtales commented on #337
Also to add, if test wouldn't exist, this error wouldn't be thrown. If it already exists there is no need for you to execute this command.

And about the specified db, no this is not the way how this command should work. You're creating a new database with this command, while the configuration expects that this already exists. Thus this is clearly out of scope for db:create, maybe we can additiona

[2016-01-17 18:04] wzrdtales commented on #337
And last but not least, also always provide:

Used
- node version
- npm version
- db-migrate version

[2016-01-17 18:05] jney commented on #337
[code]

[2016-01-17 18:08] wzrdtales commented on #337
Yes, as suspected nothing wrong with this, `test` clearly already exists. Just don't use create if this already exists. This information also does not come from db-migrate, but the driver itself, db-migrate did its job to completion.

[2016-01-17 18:35] jney commented on #337
@wzrdtales i don't get it the previous  message clearly says `[ERROR] error: database "test" does not exist` and :

[code]

[2016-01-17 18:43] wzrdtales commented on #337
oh, ok, really have not seen the not. This is because db-migrate always tries to connect to a database specified. This error is caused by your provided url which tries to connect to test. This is something that needs to be added, but in this case this is probably still an init instead of a create operation. Nevertheless, to have command execution supported without actually connecting to a database

[2016-01-17 19:01] wzrdtales opened #338 "Support "databaseless" execution commands"
# Current behavior

When a driver initiates a connection it gets passed the config and uses this straightforward. This creates a problem as soon as commands like `db:create` and `db:drop` are about to be executed.  Those have no need to be actually be connected to a database directly and this in turn might result in issues while connecting to this database which may not exists already.

# Proposed

[2016-01-17 19:04] wzrdtales commented on #337
@jney I have opened this as issue(task), #338.

[2016-01-17 19:18] wzrdtales opened #339 "Add init optionality"
# Current behavior

If db-migrate tries to connect to a database that does not yet exists it is going to throw an error. The user needs to create the database with fitting permissions first.

# Proposed solution

Add an command line option `--init` which tells db-migrate to first check if the database exists and then tries to execute a database execution. This tasks has items listed below.

# Affe

[2016-01-17 19:26] wzrdtales commented on #337
@jney Convinience feature for initialization also added as issue(task), #339

[2016-01-17 19:27] wzrdtales commented on #337
Closing this issue from here with thoe new items in place.

[2016-01-17 19:27] #337 closed

[2016-01-17 19:37] jney commented on #337
thank you :+1:

[2016-01-17 19:37] #299 closed

[2016-01-17 19:39] #304 closed

[2016-01-17 19:44] #298 closed

[2016-01-17 20:02] wzrdtales opened #340 "Add es6 executable"
# Current behavior

Currently harmony flags are ignored if supplied.
# Proposed solution

Duplicate https://github.com/db-migrate/node-db-migrate/blob/master/bin/db-migrate and create db-migrate-es6 which allows using harmony flags.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29957277-add-es6-executable?utm_campaign=plugin&utm

[2016-01-17 20:30] wzrdtales opened #341 "Add custom scope ordering"
# Current behavior

Scope ordering is always alphabetically sorted.
# Proposed solution

Add a route that parses a `.scopeorder` file, name might be chosen more wiseley, that parses the order of scopes to be executed if migrating with the all keyword.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29957783-add-custom-scope-orderi

[2016-01-19 20:04] pstephenson02 opened #342 "Question: Renaming a collection key"
Hi,
I've been reading through the the documentation and the source a bit, but I'm working a project that uses Mongoose ODM with a couple of simple models. I would like to write a migration to rename one of the indexes on my model. e.g.

[code]

would like to rename `theirid` to just `id`

It doesn't appear that the NoSQL API exposes a method to rename a specific index on a collection, although thi

[2016-01-20 19:03] wzrdtales commented on #342
Hey @pstephenson02

You're right this is currently not implemented. You can actually try to use _run https://github.com/db-migrate/mongodb/blob/master/index.js#L260

Also this might be very limited, may be it would be the best if we would open a feature issue for this
to improve the driver here.

[2016-01-23 02:28] sankethkatta opened #343 "Console hangs on dry-run"
When running with a `--dry-run` option, the SQL prints out, but the console hangs without ever exiting.

Example with `--dry-run`:
[code]

Example without `--dry-run`:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30133307-console-hangs-on-dry-run?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=g

[2016-01-23 09:10] wzrdtales commented on #343
Please always provide all necessary information to reproduce your issue:

Used
-db-migrate version
- driver and the version of the driver
- node version
- npm version

And always post the verbose run, never a non verbose. If needed also include example migrations that reproduce the failure on your side.

thank you

[2016-01-24 23:03] sankethkatta commented on #343
Here are some more details:

+ **db-migrate version**: 0.10.0-beta.7
+ **driver**: postgres
+ **db-migrate-pg version**: 0.1.7
+ **node version**: 4.2.6
+ **npm version**: 2.14.12

Steps to reproduce:

#### 1. Install `db-migrate` and `db-migrate-pg` at the above versions:

[code]

#### 2. Setup a `database.json` file:

[code]

#### 3. Create sql migration files:

[code]

#### 4. Edit the up and d

[2016-01-25 07:36] wzrdtales commented on #343
Thank you!

I will take a look at it ASAP.

[2016-01-25 07:52] wzrdtales commented on #343
Ok, with that followed I wasn't able to reproduce this:

[code]

Have you tried your described steps yourself, for me it works, maybe also OS dependent, here are my versions:

[code]

Maybe also your migrations are broken, maybe try recreate them.

[2016-01-25 07:54] wzrdtales commented on #343
Nevermind, just saw that I have left the `create` there, I need  to go for now, I take a look later again!

[2016-01-25 13:32] wzrdtales commented on #343
Ok, looked again and identified the bug!

This is due to changes to have backward compatible change towards promises. This currently done like this:
https://github.com/db-migrate/node-db-migrate/blob/master/lib/skeleton.js#L76

Actually it checks if the parameter is undefined, this do not work for this case, I followed back by then the advice:

Well, it turns out now that it is better to check mys

[2016-01-25 13:34] #343 closed

[2016-01-25 14:54] wzrdtales commented on #343
Published as + db-migrate@0.10.0-beta.8

[2016-01-25 17:25] sankethkatta commented on #343
Thanks for the quick commits! Greatly appreciated.

Did the changes solve the problems for you? I am still facing issues with the dry-run and the hanging problem still presents itself. I ran all commands in verbose, so the below logs are bit long.

#### 1. I followed the same installation instructions as above:

Only difference is I install `0.10.0-beta.8` from git as it is not on npm yet.

[code]

[2016-01-25 18:04] wzrdtales commented on #343
Yes you're right, this slipped through somehow. Pushing a hotfix out for this, just waiting for travis right now.

[2016-01-25 18:05] wzrdtales commented on #343
Thanks for reporting btw!

[2016-01-25 18:24] wzrdtales commented on #343
published as
+ db-migrate@0.10.0-beta.9

[2016-01-25 20:08] sankethkatta commented on #343
Thanks again! It fixed the issues for up dry run migrations. I was still getting the hanging on down migrations though, but I think I found the culprit there. I sent a PR: https://github.com/db-migrate/node-db-migrate/pull/344

Looks like one of the conditions were missed in one of the previous commits.

[2016-01-25 20:27] HopefulLlama opened #345 "Running db-migrate programtically"
I would like to be able to run db-migrate programmatically, such that all migrations run on start-up of my application.

I have tried to use the Programmable API as described, such as:

`var DbMigrate = require('db-migrate');
var dbm = DbMigrate.getInstance(true);
dbm.run();`

However, I get no such luck with this. I simply get the following error:

`[ERROR] TypeError: Cannot read property 'split'

[2016-01-25 23:16] wzrdtales commented on #345
May be an example project would fit for that, I will take a look at that tomorrow.

[2016-01-25 23:17] wzrdtales commented on #343
Thank you!

[2016-01-27 10:50] RhinoBleu commented on #315
Hi, guys !
@wzrdtales did you finish your doc on seeders ?
Thanks for your work man !

[2016-01-27 11:15] wzrdtales commented on #345
Yesterday was no time, to give you an example right now: If you want to call the command line version you can see this as example:

https://github.com/db-migrate/node-db-migrate/blob/master/bin/db-migrate

As the db-migrate startup also utilize the same API, I will take a look today to make another example.

[2016-01-27 11:23] HopefulLlama commented on #345
Don't worry about it! There's no rush.

This looks good and should work! I'll give it a go and let you know how it
goes. I should be able to get to it in the next couple of days.
On 27 Jan 2016 11:15, "Tobias Gurtzick" <notifications@github.com> wrote:

[2016-01-27 11:27] wzrdtales commented on #315
Hey @RhinoBleu, actually I have also redesigned them a bit and thought about them again, of what functionality they will provide at start.

The current plan is to deliver first the very basic and essential functionality:

- insert
- remove
- update
- lookup

My current plans are to finish on the tests for them and then push everything up. I also want to rewrite all existing tests, but I think I wi

[2016-01-27 12:29] RhinoBleu commented on #315
Great ! and thanks for your quick reply.
I'm impatient too see your work =)

[2016-01-27 23:07] wzrdtales commented on #345
@HopefulLlama Here is another example project: https://github.com/db-migrate/api-examples

Also please note: The API specification is not yet finished and there are things that are going to be improved, such as using promises on this level and so on.
But from the very basic this is a very little example, hope this helps a bit.

[2016-02-03 09:39] warriorkitty opened #347 "Simple runSql isn't working"
[code]
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30487298-simple-runsql-isn-t-working?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=gith

[2016-02-03 09:47] warriorkitty commented on #347
Sorry, I had a syntax error in another migration. :)

[2016-02-03 09:47] #347 closed

[2016-02-03 11:40] wzrdtales commented on #347
No problem,

please also not that your up migration will cause you problems. This is not how node works:

[code]

If you do this, db-migrate will call the callback before it will be able to execute db.runSql completely. This will result in sporadically crashing and not working migrations. May be you're more convenient with the Promise style migrations introduced with the v0.10.0-beta.

[2016-02-03 12:41] warriorkitty commented on #347
Yeah, I agree with you. This was just my 'starting example'. My code looks much different now.
Thanks anyway. :)

[2016-02-03 19:34] MitchK opened #348 "Test execution fails"
#346

I need some help getting the existing tests running. I was trying to execute the tests based on a clean master branch (no SAP HANA related changes), but It fails.

[code]

[code]

Even though I'm not expecting this to be an issue in terms of not being able to connect to a database, I also set up a MySQL server, a PostgreSQL server and a MongoDB server as well, all with default.

My ```test/d

[2016-02-03 21:24] wzrdtales commented on #348
Ok:
https://github.com/db-migrate/node-db-migrate/blob/master/test/driver/index_test.js#L79

This is actually a test with stubs, thus the driver never really connects to the database.

The good news are: I know this bug ;)

You use a buggy node version, please upgrade to the latest lts patch, which is currently 4.2.6 and this will be fixed for you.

[2016-02-03 21:33] wzrdtales commented on #348
Ok, sry the node bug was something else what has once crashed the tests. I thought it was it, have just  verified this. But it is still some upstream bug of some dependency, currently I figure out which causes this bug.

[2016-02-03 22:51] #348 closed

[2016-02-03 22:55] wzrdtales commented on #348
please update your node_modules, should be fixed by now

[2016-02-03 23:10] MitchK commented on #348
Thanks :) I'll check it out later!

[2016-02-03 23:29] wzrdtales opened #349 "Overwriting or adding properties to urls"
# Source and use case

See https://github.com/db-migrate/pg/issues/8 for details.
# Description

Add a possibility to add configuration options to urls, to enable users of for example heroku to extend the given `DATABASE_URL` which is not editable in any other way.
# Requirements

Resulting from this discussion and from the questions to be answered, the current proposal below resolved.
- Adding a

[2016-02-09 23:57] jcowley opened #350 "db-migrate up:all fails when using separate scope configurations"
The [documentation on scoping ](http://umigrate.readthedocs.org/projects/db-migrate/en/latest/Getting%20Started/the%20commands/?highlight=Scope%20Configuration#scoping) describes using `db-migrate up:all` to execute all scopes. However, this command fails if you use multiple scope configurations.

Here's my directory structure.

[code]
Each config.json file contains the database name like so:

[co

[2016-02-10 07:40] wzrdtales commented on #350
Yes this should normally work, can you please also provide a verbose run and your used node and dbmigrate version? I will try to  reproduce this later

Thank you for reporting!

[2016-02-11 15:33] jcowley commented on #350
Node version v0.12.10

(Note: Host name removed).

[code]

[2016-02-11 21:50] wzrdtales commented on #350
Question, does the database you specified in the scope config already exists?

I'm trying to reproduce this tomorrow with your provided information, wont get it today anymore.

[2016-02-11 22:13] jcowley commented on #350
Yes, it does exist. And just to restate: running `db-migrate up:scope1` and `db-migrate up:scope2` work and successfully apply the migrations. You can run `db-migrate up:all` before or after running the scope specific calls and it will fail both times with the same error above.

[2016-02-12 08:20] koistya opened #352 "Add an example how to seed VC data"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30785939-add-an-example-how-to-seed-vc-data?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github).

[2016-02-12 14:59] wzrdtales commented on #350
Cannot reproduce this, please also provide your used db-migrate version and MySQL or MariaDB version.

[2016-02-12 15:02] wzrdtales commented on #350
I just saw something:

[code]

[2016-02-12 15:08] wzrdtales commented on #350
So the top has to be always configured currently, may be this is something that would make sense to change, but by default `:all` expects also the default to exist.

[2016-02-12 15:49] jcowley commented on #350
Doesn't that defeat the purpose of having different scopes? I have two different databases, which is my motivation for separating them.

Or are you saying you provide a default in the top, then you can override with the latter scopes?

[2016-02-12 17:48] wzrdtales commented on #350
Actually you need to have the top scope, it will always try to call that. But Ic the use case and deactivating the default one if wanted is possibly something I also would want to add as a feature.

[2016-02-12 17:49] wzrdtales commented on #350
you do not even need any migrations in the default one, but your database.json configuration must contain a database and it will also create a migrations table.

[2016-02-12 17:52] jcowley commented on #350
What's the use case for the separate scope configurations[ described in the current docs](http://db-migrate.readthedocs.org/en/latest/Getting%20Started/the%20commands/#scope-configuration) then? It describes having sub scopes with individual database or schema overrides. I assumed this was to allow you to target different databases with each sub-scope.

[2016-02-12 17:56] jcowley commented on #350
Also, FWIW, you can leave the database out of database.json and specify the database in the scope-specific config. That works for targeting individual databases (on the same host) for each scope. The only thing that doesn't work is 'all'.

[2016-02-12 17:59] wzrdtales commented on #350
yes, this and more. While the top "scope" is always the default configuration, leaving out the top scope completely is something that was not considered that time. You can also treat the default one as one scope using the direct configuration and building the other scopes around.

And yes, you can leave out the database config, but only as long you don't execute the default "scope". The default al

[2016-02-12 18:05] jcowley commented on #350
Ah, I see. I can make it work by specifying a database in the default, then overriding it in the scopes. Yeah, I'm not using the default scope for anything in my setup, since I have multiple databases there really isn't a default.

I'd still be interested in submitting a PR to allow database to only be specified in the scopes. I think if people have more than one database, they're not really think

[2016-02-12 18:12] wzrdtales commented on #350
I'm open to PRs, and as already stated I would consider that as a feature to be added. The only thing left is to define how to actually define the default scope being ignored.

This could be a configuration setting directly in database.json, maybe we think a bit more in another direction and think about adding an option to the scope configs: `excludeFrom: "all"` and also make the default one loadi

[2016-02-14 19:19] jcowley commented on #350
Since I'm new to using db-migrate, I might be missing some expected behavior here, but... to keep it simple, could this just be:

* if migrations exist in the default scope:
  * use the settings in database.json
* if scope migrations exist:
  * use the settings in database.json by default
  * overeride _any_ settings defined in the scope's config.json

I have not looked into the relevant code yet,

[2016-02-14 19:30] wzrdtales commented on #350
No not really, db-migrate first establishes the connection to the database including all configuration parameters, executes the create migration table method and then it calls the migrator. The migrator will now check which migrations to execute.

Also you are thinking a bit to simple:

- What happens if you do not specify a scope config?
Should we really search through all subdirectories if there

[2016-02-14 19:38] jcowley commented on #350
I would expect it to fail.

I'm still trying to wrap my head around the intended purpose of scopes. It would seem that if you're using scopes to separate migrations on different databases, the notion of a "default scope" doesn't make sense: e.g. you have 3 databases, which one do you consider the "default"? In this type of setup , the current behavior (requiring a "default" database) is a bit dang

[2016-02-14 19:44] wzrdtales commented on #350
Scopes are not necessarily only for different databases. They are also to just organize your migrations into *scopes*.
Lets say you have user and product tables, and you create the scope user and product. At first scopes are to have the option to better separate your migrations.

But, also do scope enable to have different configurations on them, or change just a few settins. Currently scopes do o

[2016-02-14 22:10] jcowley commented on #350
Ah, okay. Well, thanks for the clarification and bearing with me on all the back and forth. Thanks as well for creating a really useful library.

I do still think the current behavior (requiring a default 'database' definition in database.json) is a bit unexpected when you are using a scope for each individual database. But maybe that's not such a common use case.

I submitted [a PR](https://githu

[2016-02-14 23:17] wzrdtales commented on #350
Yes it is unexpected if you intend to use it for different databases only, but not if you think of just separating migrations without changing the database. I use scopes really often to structure them though. But also for that we will find a solution that works.

I have seen the PR and will take another look later.

And also no problem, if you have any other questions, do not hesitate I will be ha

[2016-02-19 16:01] gilly3 commented on #309
+1

[2016-02-19 16:27] gilly3 opened #354 "Option to reference migrations by SemVer version rather than date"
Referencing migrations by date makes some sense, especially if you create migrations rarely and they are published on the date they are created.  But for me, migrations happen on git feature branches which are not necessarily merged in the same order they are created.  Thus, the date for a migration tends to be less meaningful.

I would prefer to be able to use SemVer to reference my migrations.

[2016-02-19 16:28] wzrdtales commented on #354
Special use case, maybe something to consider as configurable option.

[2016-02-23 17:02] mllanes opened #355 "elasticsearch driver"
Does anybody knows if support for elasticsearch is or would be developed in the near future? If not, is there any 3rd party implementation for it out there?
Thanks.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31181885-elasticsearch-driver?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We

[2016-02-23 17:06] wzrdtales commented on #355
small tip: every db-migrate driver needs to start with `db-migrate-`, I've seen yet only a cassandra driver and the hana driver that you can the wip in the pull requests developed by @MitchK.

You can search like this for drivers:
https://www.npmjs.com/search?q=db-migrate+cassandra

In your case there is currently no such driver:
https://www.npmjs.com/search?q=db-migrate+elastic

I currently do no

[2016-03-07 15:17] charyorde commented on #292
In Cassandra, you can't rename a table or column family. Seeders could be helpful here.
I'm writing a driver for Cassandra. You can have a look [here](https://github.com/charyorde/db-migrate-cassandra).

I intentionally did not implement the `renameTable` spec because of this limitation. Happy to get a first hand update on Seeders.

[2016-03-07 15:26] charyorde opened #356 "Cassandra driver"
^^ https://github.com/charyorde/db-migrate-cassandra

#### Todos
- Implement `createTable, renameColumn, removeColumn` APIs to be fully Cassandra compatible. Need db-migrate-base to take extra options argument.
- Implement seeders for `renameTable`. Currently, renaming a table is not supported in Cassandra
- Add tests

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2016-03-07 16:40] wzrdtales commented on #292
@charyorde I guess **renaming** in this case would need to copy the whole **table**?

In this case your decision wasn't wrong, but this brings some topics up that are planned for zero downtime friendliness. If you handle zero downtime on a database you have a similar problem. You will need the old table and the new table on a renaming action. May be this is something to also consider when thinking

[2016-03-07 16:45] wzrdtales commented on #356
@charyorde Have already seen it a while ago :)

I also want to make a public directory where community drivers as well as officially supported drivers are listed. I generally want everything more friendly to new users, first steps taken for the documentation (yes I move again, I move away from readthedocs, because of missing search support   for mkdocs which is not likely to be fixed anytime soon

[2016-03-07 16:47] charyorde commented on #292
That's the sort of solution proposed as at [here](http://mail-archives.apache.org/mod_mbox/cassandra-user/201201.mbox/%3C4F038FE3.2020807@referentia.com%3E)

[2016-03-07 16:56] charyorde commented on #356
I decided to create a new issue for support purposes.

As stated above, I'll need extra options passed to the `createTable, renameColumn, removeColumn` base APIs in order to support Cassandra `WITH` property and `AND` properties.
For example, `ALTER TABLE users
  WITH compaction =
  { 'class' : 'SizeTieredCompactionStrategy', 'min_threshold' : 6 };`

Perhaps, this is what the `changeColumn` API ca

[2016-03-07 17:05] wzrdtales commented on #292
Well copying files seems not to be a good option to do this. Renaming is by nature an action that is not very zero downtime friendly. Especially if there is nothing like aliasing tables.

What I currently think of is: When we copy a table, this is not a seeding operation, but a migration operation. Even so it does write data one to another table, seeding is ment to be everything that is not data d

[2016-03-07 17:10] wzrdtales commented on #356
The base api doesn't needs to be adjusted for this, you can always extend and overwrite everything from the base. As soon as you're doing this you will need to document this for your users to make them know of that extended features that are only specific to your driver.

I'm not sure if this is something for `changeColumn` as you're not really changing a column.

[2016-03-07 17:19] wzrdtales commented on #356
`ALTER TABLE users WITH compaction = { 'class' : 'SizeTieredCompactionStrategy', 'min_threshold' : 6 };`

For actions like this, there is very probably a `changeTable` missing right now. This is something that I will also add for `MariaDB` and `MySQL`, to change for example the engine of the table. If you want to add `changeTable` as API option, this is also something that will made into the stand

[2016-03-07 18:36] charyorde commented on #292
Doing that in production without a downtime is possible in layers of database clustering (for RDMS) and masterless architectures in Cassandra.

Based on your explanation, it's obvious that Seeders and Migrators have to be non-mutually exclusive to get this to work. Can Seeders intereact with migration functions at the moment?

[2016-03-07 18:44] wzrdtales commented on #292
The final draft for seeders defines seeders to be not linked, but act in the same way as everything else in a migration.

This means, a migration can call seeders up to a defined point like everything else.

I think an example is more clear:

[code]

[2016-03-07 18:54] wzrdtales commented on #292
To add, at the moment seeders are not implemented like the final draft describes them. Currently I write the test suite for the seeders btw., also right now at the moment.

And to add: Some migration tasks may execute seeder like behavior without wanting them to actually execute a seeder. Copying a table is a perfect example for this. The reverse of copyTable, would be dropTable and thus only one

[2016-03-07 18:58] wzrdtales commented on #292
About the layer database clustering:
Yes that is a possible way, but possibly this is something out of the scope for db-migrate. A perfect zero downtime deployment is an automatic one without any human interaction. While I want to allow this zero downtime friendliness it is hard to cover everything and also not generally wanted to just cover everything, but give a good, useful and powerful toolset

[2016-03-07 19:02] wzrdtales commented on #292
Best thing would be obviously to never rename anything :p
However zero downtime is something for the future and that will be definitely something that will need its time to mature.

[2016-03-07 19:10] wzrdtales commented on #292
I just took a look if I already have published any docs about the seeders. And I haven't published anything yet. That is a good thing though, as it would just confuses users to think to be able to use this stuff already, which is not the case.

Also as additional information: The first 4 seeder operations will be insert, remove, update and lookup. Examples of how those will look are also not yet i

[2016-03-10 08:15] charyorde commented on #356
Noted.

On another note, what triggers the create of migrations table? Is it `db-migrate create` or `db-migrate up`

[2016-03-10 08:51] noon-ehos opened #357 "Scope:all using to upload seed data"
So I have some seed data migrations in subfolder "migrations/data" and want to apply this migrations with schema migrations from "migrations" folder.

What i need?
run migrate up:all (on some dev or test environment) and apply migrations from "migrations" and "migrations/data" folders ordered by timestamp in file names

For example:
1. apply table1 schema from migrations
2. apply table1 seed data

[2016-03-10 11:14] charyorde commented on #356
This explains it:
[code]

[2016-03-10 14:53] wzrdtales commented on #356
Y. Just the up, down and some other functions are creating this table, but not create which creates a boilerplate migration.

[2016-03-11 08:17] wzrdtales commented on #357
No, fixing a problem just for your special workflow and breaking everyone else migrations is not a solution. Let's look out how to solve it in a way that doesn't break anything.

To specify:
You do not use scopes how you should:

Every scope is independent to any other scope. Thus it **MUST** be executed apart from the other ones. So we go through every scope completely before switching to another

[2016-03-11 18:25] noon-ehos commented on #357
thanks for reply, we will use scopes as isolated processes but will also will use some tweak for us.
we will create dev scope and master scope and create all migrations isolated for each scope but for similar migrations of schema we will use sql files from another sql folder and will include it to both scopes migrations. It gives us  ability to do all general changes in one place (sql file) and in

[2016-03-12 12:21] hbakhtiyor opened #358 "accessing native mongodb apis"
how to access native mongodb apis? such `findAndModify`, ...

[2016-03-14 13:03] noon-ehos opened #359 "ERROR] TypeError: Cannot read property 'dropDatabase' of undefined"
$ db-migrate db:drop rgb-lab.net

[ERROR] TypeError: Cannot read property 'dropDatabase' of undefined
    at /tmp/node_modules/db-migrate/api.js:761:9
    at Object.exports.connect (/tmp/node_modules/db-migrate/lib/driver/index.js:95:16)
    at Object.exports.driver (/tmp/node_modules/db-migrate/connect.js:83:10)
    at executeDB (/tmp/node_modules/db-migrate/api.js:743:9)
    at run (/tmp/node_mo

[2016-03-14 13:10] noon-ehos commented on #359
not actual, it' only when not installed npm db-migrate-mysql

[2016-03-14 13:12] noon-ehos commented on #359
but for create it still actual

db-migrate db:create rgb-lab.net

[ERROR] TypeError: Cannot read property 'createDatabase' of undefined
    at /tmp/node_modules/db-migrate/api.js:745:9
    at /tmp/node_modules/db-migrate/lib/driver/index.js:109:9
    at Handshake._callback (/tmp/node_modules/db-migrate-mysql/index.js:424:14)
    at Handshake.Sequence.end (/tmp/node_modules/mysql/lib/protocol/seque

[2016-03-14 13:25] wzrdtales commented on #359
Please **always** post **all** information needed to reproduce.

used:
- db-migrate version
- node version
- npm version
- used driver + version

And always post the result of a verbose run.

[2016-03-14 13:28] noon-ehos commented on #359
"db-migrate": "^0.10.0-beta.11",
node: v5.4.1
npm: 3.3.12
mysql driver
"db-migrate-mysql": "^1.1.6",

[2016-03-14 13:32] wzrdtales commented on #359
Verbose run is missing, please also post your configuration (replace sensible information with dummies) as this does not seem to be a bug but a configuration issue,

[2016-03-14 13:39] noon-ehos commented on #359
[INFO] Detected and using the projects local version of db-migrate. '/var/www/node_modules/db-migrate/index.js'
[INFO] Using dev settings: { driver: 'mysql',
  user: 'dev',
  password: '******',
  host: 'db',
  database: 'rgb-lab.net',
  multipleStatements: true }
[INFO] require: db-migrate-mysql
[INFO] connecting
[INFO] connected
[SQL] CREATE DATABASE IF NOT EXISTS `rgb-lab`
[INFO] Error: Failed

[2016-03-14 13:42] wzrdtales commented on #359
Yes this is an easy to fix one ;)

To help yourself, running in verbose mode often reveals the important bit of information.

[2016-03-14 13:42] #359 closed

[2016-03-14 15:39] charyorde commented on #356
@wzrdtales I can't seem to get the [cassandra driver](https://github.com/charyorde/db-migrate-cassandra/blob/master/test/database.json#L7) to resolve as expected.

Looking at this [line](https://github.com/db-migrate/node-db-migrate/blob/master/lib/driver/index.js#L46) , I was expecting it to lookup the NPM module (db-migrate-cql), but I'm getting the `Cannot find module 'db-migrate-cql'` error wh

[2016-03-14 23:11] jhead commented on #333
Hey there @mschop. Be sure to add `"multipleStatements": true` to each environment in your `database.json` configuration file, otherwise sql file based MySQL migrations (using the node-mysql driver) will fail after the first statement due to a syntax error.

[2016-03-15 02:55] charyorde commented on #356
Installing globally resolve this: `npm i -g db-migrate-cql`

[2016-03-15 07:28] wzrdtales commented on #333
@mschop +1

[2016-03-15 07:44] wzrdtales commented on #356
@charyorde This is a configuration schema I am going to deprecate.
https://github.com/db-migrate/node-db-migrate/blob/master/lib/driver/index.js#L45-L46

This circumvents the enforced naming schema. You would configure it like this normally:

[code]

[2016-03-15 07:48] wzrdtales commented on #356
I also just saw that your driver is another cassandra one, thought it would be the one I already known of :)

https://www.npmjs.com/search?q=db-migrate+cassandra

Btw. don't forget to add documentation to your driver, so the users now about methods like `createKeyspace`  are available ;)

[2016-03-15 10:50] charyorde commented on #356
Cool. `"driver": "cql",` works as well.

On `createKeyspace`, does db-migrate support database creation if not exist before start of migration?

[2016-03-15 12:18] wzrdtales commented on #356
Principially yes, but currently there are known issues that this does not work yet.

[2016-03-15 12:19] wzrdtales commented on #356
This one here https://github.com/db-migrate/node-db-migrate/issues/338

[2016-03-15 12:39] yookore commented on #338
+1. This should work since all we need is the connection to be established.

[2016-03-15 12:41] charyorde commented on #338
+1. This should work since all we need is to establish a connection. From there on, migration tasks can leverage this connection to create migration-specific databases.

[2016-03-16 22:44] bf opened #360 ""[ERROR] SyntaxError: Unexpected token : " when using non .json file ending for config files"
[code]

Using   "version": "0.9.23" according to package.json with node 4.4.

It works again when I do `cp database.json.sample database.sample.json` and re-run the command with the new config.

I double checked the json file it is not malformed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31967205-error-syntaxerror-unexpected-to

[2016-03-18 20:57] wzrdtales commented on #360
@bf As the whole thing fails at `require` this does not belong to db-migrate, but to node js itself.

You would be able to reproduce this just by writing a single line of code yourself:

[code]

And you would get your failure, if change this and remove .sample everything works again.

So you may ask: What the hell is wrong with this? Well you just don't know yet how require works.

Require loads a

[2016-03-18 20:58] #360 closed

[2016-03-18 22:42] bf commented on #360
Didn't know about this undocumented require() quirk for specific file extensions. I tried it out and read through node source, and it indeed works as you said.

I think it would be more clean if you could name your config files as you wanted, and a simple fs.readFileSync and JSON.parse would do the same job.

From my perspective it was a "What the hell" moment because I thought require() is like P

[2016-03-18 22:43] bf commented on #360
Furthermore at least an error message should be added, and the db-migrate script shouldnt just crash with such an error message.

[2016-03-19 09:53] wzrdtales commented on #360
@bf It is documented: https://nodejs.org/api/modules.html#modules_file_modules
https://nodejs.org/api/modules.html#modules_all_together

To citate:

1. If X is a file, load X as JavaScript text.  STOP
2. If X.js is a file, load X.js as JavaScript text.  STOP
3. If X.json is a file, parse X.json to a JavaScript Object.  STOP
4. If X.node is a file, load X.node as binary addon.  STOP

As this is not

[2016-03-19 09:58] wzrdtales commented on #360
Also to add, adding a custom error message to this would need to put try catch blocks around that require.

And also there is one thing that is against a `fs.readFile` + `JSON.parse`. No user would be able anymore to load a javascript file as configuration anymore. Because you could also create highly dynamic configs by requirering js configs which export the final configuratoin object.

Therefore

[2016-03-22 14:33] kbariotis commented on #358
Due to the limited Seeder functions, I too would like to access native mongodb functions.

[2016-03-25 11:46] jmwright opened #362 "'callback is not defined' error when running migrations"
I was assuming that callback was defined by db-migrate, but when I try to run the migration I've created it says that callback is not defined. I don't understand what I'm missing and couldn't find anyone else who was having the exact same problem. Version: 0.10.0-beta.11
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32248540

[2016-03-25 12:45] prateekagr98 commented on #315
Hey!
@wzrdtales  did you finish your doc on seeders ?
Thanks for the work dude !

[2016-03-26 10:44] wzrdtales commented on #358
sry I'm currently sick and am not really able to do something right now, thus I wont answer as much as usual. I will work through all issues as soon as I feel good enough.

[2016-03-26 10:53] ramakrishnan commented on #356
HI @wzrdtales,

I did some initial work on getting a Cassandra driver for node-db-migrate. https://github.com/ramakrishnan/db-migrate-cassandra, see if this helps you.

[2016-03-28 07:51] wzrdtales commented on #362
You have most probably written an invalid migration. Would you mind to post your migration here?
Also always post verbose runs instead, the normal run do not give enough informations.

[2016-03-28 08:00] wzrdtales commented on #358
Ok, to finally answer:
Currently there is no real possibility to do this, but it is something that also should be available in some way, just like the runSql which is available for such special cases for the SQL World.

The current run method of the mongo driver opens a connection executes the action and closes it directly again.
https://github.com/db-migrate/mongodb/blob/master/index.js#L260

The

[2016-03-28 08:00] #357 closed

[2016-03-28 08:40] kbariotis commented on #358
What I was thinking is having access to the `db` object after the connection is opened. This way I could execute whatever command I need.

So, yeah, having an `accessDriver` function seems reasonably and then adding more helper functions to ease the migration process.

[2016-03-28 09:29] jmwright commented on #362
[code]

[2016-03-28 09:32] wzrdtales commented on #362
You're mixing old and new migrations. New migrations do use promises and so should you. You can however still use callbacks, but you need to define them, just as you always need to in node. I don't know how experienced you're with node though.

As you're on the beta tree, go with the new migrations and do this instead:

[code]

[2016-03-28 09:36] wzrdtales commented on #362
To explain what I mean with you need to define them: As it is common for node, always the last parameter is the callback which gets passed as parameter into the function. You haven't defined this in the param list and used the new body for new migrations, so you ended up with your error.

An old migration had this body:
[code]

a new one this:
[code]

[2016-03-28 10:33] wzrdtales commented on #362
I think this should answer your question and I hoped it helped you to continue, I will close here for now. Feel free to open new issues if you encounter any other problems.

[2016-03-28 10:33] #362 closed

[2016-03-29 09:24] jmwright commented on #362
Thank you.

[2016-03-31 09:35] noonehos opened #363 "Warning: a promise was created in a handler but was not returned from"
`db-migrate up:dev --verbose`

[code]

npm 3.3.12
"db-migrate": "^0.10.0-beta.11",
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32437412-warning-a-promise-was-created-in-a-handler-but-was-not-returned-from?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2016-03-31 09:36] noon-ehos commented on #363
all works fine. it's just warning but it really confusing me

[2016-03-31 14:53] wzrdtales commented on #363
Please always deliver everything needed to reproduce your issue.

In this case please post a verbose run.as this does not deliver enough information. And please ensure  that the formatting of your issues is properly. I edited your issue and put a code block around your stack trace.

[2016-04-07 06:12] tal-ni opened #366 "switching to different dbs on the same mongo server instance"
I'm trying to understand how can i work with multiple dbs on the same mongo instance/server.
(for example localhost:27017)

I read in the docs that there is a scope configuration that can allow me to switch between dbs on the same instance.

Can you please explain and elaborate on this how can i define this sub configuration:
1. should it be in the same file configuration?
2. should i create a sub

[2016-04-12 07:53] wzrdtales commented on #366
This is supported as soon as switchDatabase is implemented on the driver you're using, concerning mongodb:

https://github.com/db-migrate/mongodb/blob/master/index.js#L64-L79

In this case this is in place, I look to try to give you an example in the next days.

[2016-04-18 10:52] ivawzh opened #369 "Fail to create foreign keys with rule `onDelete` with Postgresql"
I am trying to translate this migration to db-migrate: https://github.com/Vincit/objection.js/blob/master/examples/express-es7/migrations/20150613161239_initial_schema.js

I have tried both using `createTable` with `foreignKey` and `addForeignKey` individually, both of them give me error `Cannot read property 'onDelete' of undefined`.

Versions:
[code]

Migration:
[code]

Error messages:
[code]

A

[2016-04-18 14:39] ivawzh commented on #369
Right, after trying everything and looking into the source code tests. I figured out a way to achieve it. (We really need a much better documentation...)

Solution:
[code]

[2016-04-18 14:39] #369 closed

[2016-04-18 15:56] wzrdtales commented on #369
Agreed, any improvements to the docs and suggestions what should be added and way better every PR is more than welcome :)

I'm glad you figured out how to solve your problem!

[2016-04-18 19:23] akshayp commented on #315
Thanks for the detailed changelog! I see that you were hoping to get this out of Beta a few weeks ago. Are there any issues you need help with to get the 0.10 milestone out?

[2016-05-06 21:37] jonathan-fulton commented on #357
@wzrdtales, I understand how you've constructed scopes to date.  Makes sense.

That being said, the seed data problem @noon-ehos explained above is one found in EVERY real project and the workflow isn't remotely "special".  I've used it numerous times.  Seed data should be thought of just like any other migration and has dependencies on the core migrations to date.  However, you only want to run s

[2016-05-06 22:01] jonathan-fulton commented on #292
I checked out the comment here:  https://github.com/db-migrate/node-db-migrate/blob/master/lib/interface/seederInterface.js#L1-L36

The first sentence says "The seeder interface provides the ability to handle all operations, that are not DDL specific and thus not a migration."

While I agree that inserting data is different than changing a schema, data insertion is very much dependent on the schem

[2016-05-07 08:08] wzrdtales commented on #292
First of all I do appreciate your engagement here :)

I understand your point, but that is also not how it is going to work. There will be two types of seeders. Seeders like the traditional ones you know, that are executed whenever you feel the need to and those that will work similar to migrations. B/c they will be in fact versioned and are tightly integrated with migrations. Means you are able t

[2016-05-07 08:15] wzrdtales commented on #315
@akshayp Sry for the late response, actually the most work left are tests and docs. The greater problem for me is that I have been sick for some weeks which throwed me back and currently also have less time, which is a temporary problem.

If you want to help out on this I would appreciate that. I'm currently not at home and where I am is an incredible bad internet thus I wont give any examples of

[2016-05-08 20:43] wzrdtales commented on #357
@jonathan-fulton I know the cases where one needs special data, that is **NOT** used in production such as seeds for development, but scopes are not the solution to the problem. They're intended for a complete different purpose, but I understand that they seem to look like a solutoin as of db-migrate currently lacking functionality to cover this problem.
This is where I differentiate between seeds

[2016-05-09 16:36] wzrdtales opened #370 "Cockroach DB driver"
Planned, but yet unscheduled.
Note: additional information follow as soon as the details are clear.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34056719-cockroach-db-driver?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?

[2016-05-09 21:08] wzrdtales commented on #292
@jonathan-fulton So to start with the whole migration and seeder topic, lets start with the following part for today:

# Migrations

A migration should be capable of transferring a data object from one state to another. May this be a table, a traditional column or some document storage.

# Seeds

A seed should be capable of manipulating data, e.g. transforming data, inserting data, deleting data.

[2016-05-11 07:32] Maxwell2022 opened #372 "Add a docker configuration to ease testing"
I was about to create a pull request to improve error handling when parsing the configuration when I noticed that the tests are running against all database type: pg, mysql, sqlite3 and mongodb

It's not very trivial for anyone to install and configure all these databases in order to test this library. I would recommend to create a `docker-compose` file that would take care of pulling the correspo

[2016-05-11 07:37] wzrdtales commented on #372
@Maxwell2022 I agree, I put this as a feature request, I wanted to add docker anyway as I use it everywhere.

And about the mocking of database drivers:
No doesn't make sense in this case, there are currently some integration tests together with the drivers. But it is also planned that this kind of tests are going to disappear from db-migrate and move to the place where they belong now in the new

[2016-05-12 13:45] ivawzh opened #374 "Postgresql Error: Connection terminated when DROP CONSTRAINT"
I was trying to write migration to drop unique constraint on a existing column, got the error described below. I am using Postgresql.

code:

[code]
db-migrate run --dry-run:

[code]

Error message:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34163231-postgresql-error-connection-terminated-when-drop-constraint?utm_campaig

[2016-05-12 16:56] wzrdtales commented on #374
Yes because your are faulty.

First of all do not mixed old styled cb and the new promise behavior, your down function shouldn't look like this.

And second, you used the arrow functions wrong. If you want to return the call directly, then you have to leave out the brackets!

This error was created through your wrong migrations though, as they never have returned.

See the following example how it

[2016-05-12 16:56] #374 closed

[2016-05-12 19:07] timelessvirtues opened #375 "node v6 support"
Password authentication error for all migrations using Node v6.0.0 or v6.1.0.  Works fine using 4.x & 5.x.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34173273-node-v6-support?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?

[2016-05-12 19:08] wzrdtales commented on #375
I will add node 6 to the ci to track its status.

[2016-05-12 19:11] wzrdtales commented on #375
added https://github.com/db-migrate/node-db-migrate/commit/baabd7e77693afdd62356e4473365df16419e418

https://travis-ci.org/db-migrate/node-db-migrate/builds/129820334

[2016-05-12 19:21] wzrdtales commented on #375
tracked as upstream issue https://github.com/db-migrate/sqlite/issues/2

[2016-05-12 19:27] wzrdtales commented on #375
Waiting for sqlite to update.

[2016-05-12 19:28] wzrdtales commented on #375
@timelessvirtues Can you please also tell me which driver you tested where you had your problems?

[2016-05-12 20:54] timelessvirtues commented on #375
Postgres driver talking with 9.5.2

[2016-05-12 21:12] wzrdtales commented on #375
Alright.

[2016-05-12 21:14] wzrdtales commented on #375
tracked as upstream issue https://github.com/db-migrate/pg/issues/9

[2016-05-12 21:16] wzrdtales commented on #375
@timelessvirtues For postgres an fix is available, going to pull that in into the driver release and probably also apply it to the 0.9.x track.

[2016-05-12 21:22] wzrdtales commented on #375
# Postgres Status
- [ ] 0.9.x
- [x] 0.10.x beta track

released as
+ db-migrate-pg@0.1.10

[2016-05-12 21:23] wzrdtales commented on #375
# Sqlite Status

- [ ] 0.9.x track
- [ ] 0.10.x beta track

Current state: Waiting for upstream

[2016-05-12 23:08] ivawzh commented on #374
Thanks

[2016-05-17 18:06] RafaelSalguero opened #376 "Undefined on sql file if migrations folder doesn't exist"
With the option `sql-file` = true, when creating the first migration, if the `migrations` folder doesn't exists, it is created but the file names have undefined on its name:

[code]

If the migrations folder already exists the files are correctly named

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34320967-undefined-on-sql-

[2016-05-17 18:11] wzrdtales commented on #376
Can't reproduce this, can you please post your used db-migrate version node version and the executed commands including a verbose run? Thanks

[2016-05-17 18:18] RafaelSalguero commented on #376
sure
`db-migrate --version` = `0.10.0-beta.11`

`node --version` = `v5.11.1`

**database.json** :
[code]

**Running the command without migrations folder**
`db-migrate create initial --verbose`

[code]

**Running the command with existing migrations folder**

`db-migrate create initial --verbose`

[code]

[2016-05-17 18:19] RafaelSalguero commented on #376
Ups I forgot to say that I have a  `db-migrate.cmd` file with the following content:

[code]

This is only so I can use the short `db-migrate` command without the need for installing it globally

[2016-05-17 18:24] wzrdtales commented on #376
Still can't reproduce this, I guess I will need to get on a windows machine to reproduce this.

[2016-05-17 18:39] wzrdtales commented on #376
First of all, if using locally it is highly recommended to install db-migrate globally. db-migrate does prefer your local version over the global one anyway if it can find one from v0.10.x upwards.

And second, I have tried now many times with different things, but I was not able to reproduce your error even on windows.

Third: you don't need to create a cmd file for db-migrate. Npm does that for

[2016-05-17 18:40] wzrdtales commented on #376
To be more specific, it is only not recommended to use db-migrate not installed globally if and only if you're using it with the programable api.

[2016-05-17 18:41] RafaelSalguero commented on #376
I did a little debugging and found that when the directory doesn't exists the method call of `createMigrationDir` on the method `executeCreateMigration` executes after the `createSqlFile`, this is where the variable `internals.argv.title` is assigned, when the directory already exists this method finishes before the `createSqlFile`, thus the variable is already assigned

[2016-05-17 18:41] wzrdtales commented on #376
Do you anything else you might have forget? I have tested now on two systems, arch linux and windows and wasn't able to reproduce your issue. I have used your config and the exact same commands. I have create a db-migrate.cmd with your mentioned content but nothing, everything works as it should.

[2016-05-17 18:45] RafaelSalguero commented on #376
Adding the following logs on this lines yield to different results when the directory already exists or not:

[code]

The results are different:

**When the directory exists**
[code]

**When directory doesn't exists**
[code]

I hope this helps.

[2016-05-17 18:48] wzrdtales commented on #376
Hm yeah this seems to be a very rarely occuring bug, but I have found the source:
https://github.com/db-migrate/node-db-migrate/blob/v0.10.x/api.js#L591-L598

That callback might be called to early, I really don't know why this is not in the callback of the migration. Going to fix this.

[2016-05-17 19:05] #376 closed

[2016-05-17 19:09] wzrdtales commented on #376
Waiting for ci, bugfix release follows soon.

[2016-05-17 19:34] wzrdtales commented on #376
published as
+ db-migrate@0.10.0-beta.12

Please let me know if you have any further problems.

[2016-05-17 20:00] RafaelSalguero commented on #376
Thank you!

[2016-05-18 19:07] jonathan-fulton commented on #292
@wzrdtales Thanks for the detailed response!  Very helpful.  Apologies if the above seemed harsh at all.  node-db-migrate was so close to being perfect for me.  Still an amazing tool that I'm taking advantage of though so thanks very much!

[2016-05-18 20:44] wzrdtales commented on #292
@jonathan-fulton No worries, no offense were taken. Discussions, ideas, prs, feature requests and any other kind of contributions are always welcome :)

[2016-05-19 12:07] jonathan-fulton commented on #357
@wzrdtales thanks for this response as well :)

[2016-05-23 14:15] charyorde commented on #356
@wzrdtables, I need some help with getting out of TTY after the db migrate script is done executing.

Even though I did implemented the close handler as seen at https://github.com/charyorde/db-migrate-cassandra/blob/master/index.js#L297 , but when the db-migrate script finished executing, it gets stuck at
[code]
Any ideas on how to get around this please?
Appreciate your help.

[2016-05-23 14:18] charyorde commented on #356
@wzrdtales , I need some help with getting out of TTY after the db migrate script is done executing.

Even though I did implemented the close handler as seen at https://github.com/charyorde/db-migrate-cassandra/blob/master/index.js#L297 , but when the db-migrate script finished executing, it gets stuck at
[code]
Any ideas on how to get around this please?
Appreciate your help.

[2016-05-23 16:28] wzrdtales commented on #356
Sure let me quickly setup a docker env for this.

[2016-05-23 16:43] wzrdtales commented on #356
@charyorde That error is simple, you're not calling the method to actually close the driver, but you define an event listener. An event that is never going to be called though.

Like this, this can't work though: https://github.com/charyorde/db-migrate-cassandra/blob/master/index.js#L298-L300

Here is a working example:

[code]

[2016-05-24 13:43] charyorde commented on #356
Thanks @wzrdtales . Works great. Published a new version with this fix.

[2016-05-24 17:20] SilentScope opened #377 "--dry-run prints even executed migrations"
When I run 'db-migrate up:mydb' I get:

[INFO] loaded extra config for migration subfolder: "mydb/config.json"
[INFO] No migrations to run
[INFO] Done

When I run 'db-migrate up:mydb --dry-run' I get:

[INFO] dry run
[INFO] loaded extra config for migration subfolder: "giga/config.json"
................
all the previous migrations are printed

<bountysource-plugin>
---
Want to back this issue? **[

[2016-05-24 17:26] wzrdtales commented on #377
Please **always** provide everything needed to reproduce your issues.

This includes:
- a verbose run
- used db-migrate version
- used db-migrate driver
- used node version
- used npm version

And if necessary also migrations amd config details to reproduce.

[2016-05-24 17:42] SilentScope commented on #377
Version: 0.10.0-beta.12
I expect to see only SQL migrations that should be performed when running with --dry-run option

May be I am doing smth wrong?

[2016-05-24 18:30] wzrdtales commented on #377
Still missing the verbose run, used driver and so on. Without any information I can't help you and currently I have exactly nothing to see any behavior or do have steps to reproduce it.

[2016-05-25 08:23] SilentScope commented on #377
Attached test: [db-migrate-issue-377.zip](https://github.com/db-migrate/node-db-migrate/files/281315/db-migrate-issue-377.zip)

I use:
- Node.js 4.4.3
- NPM 2.15.1
- MySQL 5.5.49 (please update database JSON - I use non standard port)

Top run test: npm run up

I expect dry run to say: No migrations to run, however, I get SQL printed

[2016-05-25 08:24] SilentScope commented on #377
By the way - thanks for quick previous responses :)

[2016-05-25 10:14] wzrdtales commented on #377
Got it thanks, tracked as upstream issue here:
https://github.com/db-migrate/mysql/issues/5

[2016-05-25 13:25] SilentScope commented on #377
I tried the workaround https://github.com/db-migrate/mysql/issues/5 (using all) but it did not help.

[2016-05-25 15:23] wzrdtales commented on #377
@SilentScope It is not a workaround but a fix suggestion which needs a change at the driver level. I will look at this in a few hours.

[2016-05-25 16:34] #377 closed

[2016-05-25 16:35] wzrdtales commented on #377
fixed, published as
+ db-migrate-mysql@1.1.7

You can upgrade to this new driver version as of now.

[2016-05-26 07:55] SilentScope commented on #377
It works as expected now - thanks a lot! :)

[2016-05-26 10:45] wzrdtales commented on #375
Node 6 support should be given as of now

[2016-05-26 10:45] #375 closed

[2016-05-30 15:55] #350 closed

[2016-06-05 19:01] mathi123 opened #378 "Updating to v0.9.25 breaks existing migrations"
I am not able to run migrations anymore, after updating to v0.9.25

Node version: v5.10.0, v6.2.1
Npm version: v3.9.3
db-migrate version: v0.9.25
db-migrate-pg version: v0.1.10

When I downgrade to db-migrate@v0.10.0-beta.12, all is working again.

Are there any breaking changes? If so, where can I find them?

Verbose run:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2016-06-05 19:04] wzrdtales commented on #378
Um, was it intended that you downgraded to 0.**9**.25 when you have been on 0.**10**.x before?

[2016-06-05 19:05] wzrdtales commented on #378
current version of 0.10.x track is https://github.com/db-migrate/node-db-migrate/blob/v0.10.x/package.json#L34

[2016-06-05 19:06] wzrdtales commented on #378
I guess you really accidentally downgraded without noticing this.

[2016-06-05 19:11] mathi123 commented on #378
Hmm, yes my question is quit stupid indeed then.

Yet my travis build stopped working suddenly, because of that error.
The default package npm gets is a 0.9.xx one?

I am wondering how I got that 0.10.x package, and started working with it in the first place...

[2016-06-05 19:13] mathi123 commented on #378
same for Travis, it worked before,
must have been because it got a 0.10.x package?

I am still confused, anyways I will close and force a 0.10.x package in my travis build:

[code]

Thx for the reply!

[2016-06-05 19:13] #378 closed

[2016-06-05 19:14] wzrdtales commented on #378
That is strange indeed, npm always pulls a version first that has no suffix like `-betaxxx`. NPM would get 0.9.x as a default.

[2016-06-05 19:18] mathi123 commented on #378
FYI, looking back in my travis build history,
looks like npm on travis did pull a beta package, without the suffix:
<img width="924" alt="schermafbeelding 2016-06-05 om 21 16 26" src="https://cloud.githubusercontent.com/assets/3677437/15807612/f248bd46-2b62-11e6-9daf-7f106ce0bfec.png">

[2016-06-05 19:18] wzrdtales commented on #378
Either we have a cache problem or the behavior of npm has changed somehow.

[2016-06-09 14:44] apires commented on #79
Hi all, doing some thread necromancing here.

If you do what we do and only specify a connect string you can do "native=true" in the string itself since db-migrate will bring all those query params to the config as-is.

[2016-06-09 16:04] wzrdtales commented on #79
ouh wow this was an old dead one, well at least it is answered now, I'm sure that is going to help someone that searches for this.

Thanks @aspires

[2016-06-15 08:12] DarthLabonne opened #379 "Unable to parse migration name"
When I try to run "up" (with or without --dry-run), I end up with this error:

I tried renaming the migration file but it won't work.

I'm using version 0.10.0-beta.12 and NodeJS v5.11.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35176148-unable-to-parse-migration-name?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=i

[2016-06-15 09:21] wzrdtales commented on #379
db-migrate enforces a specific name schema. Please create migrations only with the db-migrate command:

    db-migrate create nameofyourmigration

A valid migration name would be `20160216092736-test.js` for example. If you have any further problems, feel free to ask right away.

[2016-06-20 01:47] DarthLabonne commented on #379
Nope, it doesn't change anything.
I'm already using the db-migrate command to generate the file.

db-migrate create add-state-to-table
db-migrate create test

Those files are created:
migrations/20160620014326-add-state-to-table.js
migrations/20160620014419-test.js

I still get the aforementioned error.

[2016-06-20 08:35] wzrdtales commented on #379
Then please provide all informations that are needed to reproduce.

Please post the output of a complete verbose run, db-migrate driver + version, example migration that fails for you

[2016-06-20 08:38] wzrdtales commented on #379
Also please report your operating system, that might be an issue too.

[2016-06-20 08:44] wzrdtales commented on #379
Fact is the failure from above is here:
https://github.com/db-migrate/node-db-migrate/blob/v0.10.x/lib/skeleton.js#L160-L163

Your mentioned names would work though: http://regexr.com/3dlf4, I expect that there is something else wrong. Please post all needed informations to continue on this topic.

[2016-06-20 08:47] wzrdtales commented on #379
The best case btw. would be if you prepare a gist that you can verify to reproduce the exact behavior you experience.

[2016-06-20 15:36] moxious opened #380 "Couchbase Driver - Need some questions answered"
I'm mid-way through writing the couchbase driver.  I've got working code in a local test environment, I'm working on building a better test suite runnable through CircleCI to ensure the safety of it.

https://github.com/etops/db-migrate-couchbase

I could use some help though in the form of some questions which are causing troubles getting this ready:

- Through the use of Base.extend, it seems th

[2016-06-20 21:01] wzrdtales commented on #380
@moxious Great to finally also see a couchbase driver :)

Ok, sry this is going to get a bit longer now.

# Interfaces

To answer your first question, yes there is some strange magic applied here, actually quite some, there are also things like shadow drivers intended for self learning capabilities. This is due to some upcoming concepts enforcing certain rules about what a driver actually exposes

[2016-06-21 00:56] moxious commented on #380
Thanks for this; I'll be hacking on this driver tonight and tomorrow, and should have an update soon.  I'll play with the interfaces first, then work on some testing.  I think the driver is not actually that far away from ready; I am actually finding setting up representative test cases, integration tests and so on to be more challenging than writing the driver itself.  I plan to use this on a pro

[2016-06-21 08:26] wzrdtales commented on #380
I don't mind open issues, they are a good way to keep things transparent, leave this one open and continue communicating here.

[2016-06-21 11:54] moxious commented on #380
Putting new methods on the interface seems not to be effective, I'm wondering if there's something I'm missing in what you wrote above?  I have this code, it seems to result in my methods being defined but returning the default method.

The way I interpreted what you were saying, in the mysql example you set the function to dummy because it would then be part of the interface, then overridden by t

[2016-06-21 14:07] moxious commented on #380
Another issue I'm running into is for mocha testing, how to get an instance of my own driver for testing.   I'm using the docs from the [Programmable API page](https://db-migrate.readthedocs.io/en/latest/API/programable/) but they appear incomplete; if I call DBMigrate.getInstance with a callback, (to get my migrator) the callback never fires.  On the other hand if I use the return value from getI

[2016-06-21 16:51] wzrdtales commented on #380
Let me get into this, will come back to you shortly.

[2016-06-21 16:54] wzrdtales commented on #380
First of all `return Promise.reject()` is probably a more elegant way of what you shown above :)

I will get onto your question about the testing first.

[2016-06-21 17:04] wzrdtales commented on #380
So about the programable API, yes the docs are not final yet about this.

https://github.com/db-migrate/api-examples/blob/master/index.js

That would be an example of a proper usage of the programable API. But you should not necessarily need to access that for basic testing.

Let's take this driver as example:

https://github.com/db-migrate/node-db-migrate/blob/master/test/driver/mysql_test.js

Ba

[2016-06-22 06:44] sandlerr opened #381 "Creating databases should not be attempted if we failed to establish a connection"
the function in https://github.com/db-migrate/node-db-migrate/blob/v0.9.25/bin/db-migrate#L261 should early abort if `err` is present, or at least not silently swallow it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35383555-creating-databases-should-not-be-attempted-if-we-failed-to-establish-a-connection?utm_campaign=plugin&utm_

[2016-06-22 20:59] wzrdtales opened #382 "Move certain parts of db-migrate out of the main module"
# Description

To enable proper testing of new drivers we need to move out some parts out of the main module to avoid circular recursions and remove the need of drivers including db-migrate.

# Refs
#380
https://github.com/etops/db-migrate-couchbase/issues/1

[2016-06-22 21:13] #382 closed

[2016-06-22 21:34] wzrdtales commented on #379
Any updates on that topic? Did you figured it out or still having problems? If yes please provide a reproducable case to make us able to help you.

[2016-06-24 02:17] DarthLabonne commented on #379
Nope. Doesn't work for me so I used something else instead.

Here is a sample migration:

[code]
Filename is `20160615035022-create-router-table.js` and generated with the db-migrate command.
Anyway, I have a strict deadline so I just used something else instead so you can close this issue.

[2016-06-25 20:32] #379 closed

[2016-06-25 20:32] wzrdtales commented on #379
Sry for you, but if you're not able to provide details no one is able to help you. We must be at least be able to reproduce.

[2016-07-04 16:45] woraphol-j commented on #345
Hi @wzrdtales , thanks for your nice plugin.
However, I can confirm this bug. Your another example works fine as the index.js file that contains code to run migration programmatically resides at the project root level. However, if the file reside in nested folder, the same error as found by the OP will occurs. The error occurs at this line:

module.exports.getInstance = function(isModule, options,

[2016-07-04 16:52] wzrdtales commented on #345
Actually the line you highlight won't be an error in any case that I can mind of.

Please provide me with a reproducable case, for example setup a gist that verifyable throws your error and I will have a look at this. Currently I can just hardly guess what your problem is, as I have to less details.

Please also come always up with your used npm, node, db-migrate, db-migrate-driver version and pos

[2016-07-04 16:52] wzrdtales commented on #345
Also please use code blocks if posting code, I've just edited your issue to make it easier to read.

[2016-07-05 13:35] tuckerconnelly opened #383 "Modernize the syntax in new migration files"
Recommend using [airbnb's eslint config](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb) and using all of the new es6 features that Node supports
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35759350-modernize-the-syntax-in-new-migration-files?utm_campaign=plugin&utm_content=tracker%2F73887&utm_m

[2016-07-05 13:47] wzrdtales commented on #383
I say to this yes and no.

A maybe yes to airbnbs eslint config, I will have a look at it though :)

But I definitely say no to es6 by default yet. I still want to have a backwards compatibility down to 0.10 also I think about dropping that support somewhat soon.

Though as you just talk about the migration files, I don't think also that it would be right to recommend a specific styleguide, if it

[2016-07-05 13:51] wzrdtales commented on #383
May be you elaborate a bit more and go into detail, how you imagine to make things better, so I and everyone else gets a better understanding.
And again about the es6 thing, yes I am on your side on this generally, but not in terms of compatibility. But I want to have better templates anyway and thought about adding support for custom templates to give more powerful access to scaffolding.
If you w

[2016-07-08 14:41] wzrdtales commented on #345
@woraphol-j Any new news on this or did you resolved your issue?

[2016-07-11 17:39] mpalmerlee opened #384 "Is there a way to hook into an "afterMigrate" event?"
I'm trying to figure out a way to always run code after a migration happens, in my case I'm using mysql and I'd like to ensure a set of views is up to date so that we don't have to manually re-create our views after the underlying schema of the table changes.
I noticed there is an `endMigration` event in the driver, maybe there is a way to hook into this?

Or perhaps if I put an index.js file in t

[2016-07-11 17:48] wzrdtales commented on #384
So you want to execute something after every migration? Or after all mgrations have been done?

`endMigration` is actually intended for transactions, currently there is no such hook though. Could you please specify what your use case is, so that I can better understand what exactly you need?

Thank you

[2016-07-11 18:02] mpalmerlee commented on #384
No problem, here is what I'm trying to do:
I have some views in MySql, one unfortunate thing about MySql views is if you create them as `SELECT * FROM tbl_name;` it will expand the select to give you all of the columns at create time.  The problem is, that if we then want to add or remove a column from the underlying table through a migration, the view needs to be re-created so that it sees the ne

[2016-07-11 18:10] wzrdtales commented on #384
hum, okay. While I think that putting this after every migration would be really heavy and would really slow down your migrations. To say I'm not a big fan of: Doing something always to not be able to forget to do it, b/c this most often also means: I don't heave an idea what actually is happening. And as soon as you add more stuff to those hooks, everything gets worse. I would prefer control and

[2016-07-11 18:15] mpalmerlee commented on #384
Ok, thanks.  I agree this approach wouldn't be super clean and the efficiency of the migrations would suffer, but I wanted to explore my options.  I'll let you know if I end up wanting to go this route and I'll submit a PR if I do.

[2016-07-11 18:21] wzrdtales commented on #384
To also mention, db-migrate from 0.10.x on does have a programable api, so you would be at least able to  do stuff like the following:

https://github.com/db-migrate/api-examples/blob/master/promise.js

Maybe this already helps you, as if you do everytime the same thing after a single migration, it shouldn't make a difference for you if you do this same thing just once after all migrations have be

[2016-07-11 19:32] mpalmerlee commented on #384
Thanks for that, I did see that and thought about using it, although we are currently calling the db-migrate command instead of using the APIs on our webservers, we could switch to this method and leverage that feature like you mentioned.

Thanks for the help!

[2016-07-14 04:03] thewillhuang opened #385 "pt-online-schema-change"
nice tool! was wondering what are your thoughts on https://www.percona.com/doc/percona-toolkit/2.1/pt-online-schema-change.html and would that ever be a possiblity for node-db-migrate to utilize such a tool?

[2016-07-14 08:41] wzrdtales commented on #385
@thewillhuang This would need a binding or wrapper first, but I do have zero downtime on the feature list so it might be possible to use some external tool, or even implement those capabilities into the drivers itself. That depends, but this is quite interesting tool though.

[2016-07-14 16:13] wzrdtales commented on #385
Just have had another look at it and looked at the source and it seems to be quite decent. I will have some closer look of how compatible everything is to MariaDB and MySQL itself, or if many things are limited to percona. But that could make many things concerning zero downtime easier for the MySQL side.

Thanks for sharing :)

[2016-07-15 08:11] wzrdtales opened #386 "Getting more done in GitHub with ZenHub"
Hola! @wzrdtales has created a [ZenHub](http://www.zenhub.com) account for the **db-migrate** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOn

[2016-07-15 09:42] #386 closed

[2016-07-15 17:42] wzrdtales commented on #94
I'm currently resorting all the issues, so don't wonder for a feedback almost 3 years later.

I'm going to close this issue, I do see this similar to kunklejr, also to mention that there is an if not exists for tables which is mostly b/c the database itselfs does supports this. This is just as wrong as doing this on addColumn and also dangerous. Such behavior might end up in loosing control and ha

[2016-07-15 17:42] #94 closed

[2016-07-15 17:44] #97 closed

[2016-07-15 17:46] #101 closed

[2016-07-15 17:47] wzrdtales commented on #120
closed as duplicate of #33

[2016-07-15 17:47] #120 closed

[2016-07-15 17:55] wzrdtales commented on #184
Closing as this is already supported.

[2016-07-15 17:55] #184 closed

[2016-07-15 17:57] wzrdtales commented on #211
Probably an item for the driver level.

[2016-07-15 18:00] #256 closed

[2016-07-15 18:00] wzrdtales commented on #265
Closed as duplicate of #159

PRs welcome

[2016-07-15 18:00] #265 closed

[2016-07-15 18:42] wzrdtales commented on #224
When replacing optimist, also rework the way db-migrate initialize. Currently db-mgrate needs ~0.22ms for pure init before anything gets printed to the console.

Just by moving the command line parser to be the first item after instance identification will enable us a initialization time of ~0.07ms.

[2016-07-15 18:48] wzrdtales commented on #224
We had an increase from ~0.09ms from version 0.9.x to 0.10.x, the reason for this is tunnel-ssh.

[2016-07-15 19:30] wzrdtales opened #387 "Improve Loadtime by delaying tunnel-ssh"
It has been identified that tunnel-ssh does eat a much of load time. This due to one of the dependencies ssh2 which itself needs to long.

To have db-migrate initialize faster we delay of this module to the actual point where it is going to be used.

# Performance Improvement archived

See resolving commit

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bou

[2016-07-15 19:31] wzrdtales commented on #224
Opened item #387 to immediately fix the issue with tunnel-ssh.

[2016-07-15 19:35] #387 closed

[2016-07-15 19:51] wzrdtales commented on #387
Published as
+ db-migrate@0.10.0-beta.15

[2016-07-18 19:23] gflarity opened #389 "beta published"
Hi, new upgraded db-migrate today and the latest version seems to be 0.10.0-beta.15. The beta is a bit concerning to us. I'm assuming it's not ready to be widely used if it's beta?

Please consider doing this in the future:
https://coderwall.com/p/l_7acq/publish-beta-versions-of-npm-modules

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2016-07-18 19:40] wzrdtales commented on #389
Thanks good hint!

Concerning the beta title, every published version to npm is tested on the ci, so everything that worked before would still work. And I know many using the beta version already and that for quite a while, it is unlikely that you would run into big trouble. Beta also not always means that a software is unstable in general, but that some features change or that are listed for this

[2016-07-18 19:52] #389 closed

[2016-07-19 07:05] #257 closed

[2016-07-19 16:22] apires opened #390 "Callback not being triggered on "up" on DBMigrate instance"
Hi all,

This is how we're triggering the migrations in our code (perhaps this is the wrong way):

[code]

When we do that I noticed that the callback for "UP" doesn't get called; seems like the API expects the callback to always be the third parameter but the documentation around the function makes it seem like the number of arguments is variable, and this causes the callback to disappear.

I pro

[2016-07-19 16:25] wzrdtales commented on #390
Hey @apires

Can you please tell me which db-migrate version you use? There have been some changes to the programable API allowing exactly what you are trying.

You can find some examples here:
https://github.com/db-migrate/api-examples

In callback style:
https://github.com/db-migrate/api-examples/blob/master/index.js

And what I suggest to everyone, in the new promise style:
https://github.com/d

[2016-07-19 16:27] wzrdtales commented on #390
The latest up code also looks like:

https://github.com/db-migrate/node-db-migrate/blob/v0.10.x/api.js#L162-L185

So may be you're not on the latest db-migrate version which includes that since a short time period.

[2016-07-19 16:30] apires commented on #390
You're right, we're a bit behind:
[code]

I'll update to the latest version of the package and re-write to follow that style. I'll open an issue if I find anything wrong with that.

Thank you for the quick response!

[2016-07-19 16:40] #390 closed

[2016-07-20 01:38] erezny opened #391 "If database.json includes {"ENV": "DATABASE_URL"} then migrations require the environment variable to contain a valid value"
I defined a dev environment that uses sqlite3 and defined staging and prod environment which use heroku postgres. When I run a migration in the dev environment node-db-migrate complains about the environment variables in staging and prod. I do not want to include the flat values in my database.json because I do not want these secret values in my code base.

database.json:
[code]

[code]

<bountyso

[2016-07-20 08:52] wzrdtales commented on #391
Hey @erezny,

essentially, your first problem is that you seem to have the database.json commited in your repository. This is something you should never want to do for any config files.

In fact, db-migrate allows configuring it  via the `DATABASE_URL` environment variable. There is **no** need to define a configuration file when `DATABASE_URL` is defined.

So what you did defined here, does actua

[2016-07-20 08:53] wzrdtales commented on #391
If you have any other questions, please feel free to reach out.

[2016-07-20 09:20] wzrdtales commented on #391
Btw. another addition, just from years of experience, you should work in development on the same environment like in production if you don't want any bad surprises.

[2016-07-21 01:02] erezny commented on #391
Right, OK.

[2016-07-21 01:02] #391 closed

[2016-07-25 15:28] wbautistaEXPEDIA opened #392 "Breaking Change 0.10.0-beta.14"
This version (0.10.0-beta.14) introduced a backwards compatibility issue/breaking change with the api. We use db-migrate programmatically on app startup to run "up" migrations. It seems the jump from 0.10.0-beta.13 to 0.10.0-beta.14 has introduced a bug in the way the callback is defined/invoked. When callback was added to the bind call in the executeUp function, it shifted arguments. Therefore, c

[2016-07-25 17:16] wzrdtales commented on #392
Hey @wbautistaEXPEDIA

Thank you for reporting, those were the changes between those two versions.

Can you give me a fully working example that is reproducing what you experience?  I'm not exactly sure what you try to do though. What I can see is that you call `migrator.driver.close` which wouldn't be part of the official programable API though. May be you can put up a gist with everything in it?

[2016-07-25 17:17] wzrdtales commented on #392
forgot the compare link https://github.com/db-migrate/node-db-migrate/compare/v0.10.0-beta.13...v0.10.0-beta.14

[2016-07-25 17:34] wzrdtales commented on #392
Also see here for examples of the progamable API https://github.com/db-migrate/api-examples

[2016-07-25 18:01] wbautistaEXPEDIA commented on #392
var App = require('./app');

### server.js
[code]

The above code worked prior to 0.10.0-beta.14, as it was developed based on the [documentation](https://db-migrate.readthedocs.io/en/latest/API/programable/#using-db-migrate-as-module). After poking around in the api, I noticed that a callback was added in the executeUp function using bind(), and it appears to have shifted the callback args, thus

[2016-07-25 19:35] wzrdtales commented on #392
Ok, Ic where this behavior change comes from comes from

https://github.com/db-migrate/node-db-migrate/blob/master/api.js#L187-L190

We now return a callback before this db-migrate was only callback compatible, the callback is itself omitable. Through the changes made, a callback is now always being passed. But this is more a feature than a bug considering that there is principially no such thing

[2016-07-25 19:38] wzrdtales commented on #392
Also adding, docs for all this stuff are in work and not quite there yet, if you want to help out and open a PR on the docs you would be welcome though :)

[2016-07-26 02:06] wbautistaEXPEDIA commented on #392
Yes, thanks for pointing me in the right direction. I just wanted to make sure you were aware that there was a breaking change made, and that the documentation contradicts some of what you explained. We decided to use the promisified version of the API. Thanks.

[2016-07-26 05:27] concubicycle opened #393 "Can't use db:create with postgres"
Just installed postgres with default settings. Created this config:

[code]

Then tried running

.

Got error:

Tried taking out "database" "identity" from config, and got:

Migrations seem to be working fine. I was able to manually create db, and run migrations. Just wondering what I'm doing wrong here.

[2016-07-26 07:51] wzrdtales commented on #392
Yes, again thanks for reporting, I highly appreciate this :)

[2016-07-26 07:57] wzrdtales commented on #393
Duplicate of #338

The problem is, that db-migrate does try to connect to the database of your configuration, which will result in the error you have seen. *database less* connections are one of our work items though.

[2016-07-26 14:12] concubicycle commented on #393
Hey, thanks for the quick response! If I take the database and schema out of the configuration, should it work?

[2016-07-26 16:49] wzrdtales commented on #393
Depends on the driver actually, either you need to define one that already exists or just no db at all.

In case of pg we just pass the config to the pg driver below:
https://github.com/db-migrate/pg/blob/master/index.js#L494

In the case of pg this means it defaults to the username of the user executing db-migrate:
https://github.com/brianc/node-postgres/wiki/Client#new-clientobject-config--clien

[2016-07-26 18:38] fmalk opened #394 "bug: db-migrate create:scope doesn't create directory, nor uses one if it exists"
I'm running the default 0.9.x branch on Windows 10.

Currently, I have to run `db-migrate create:somescope newfile`, copy generated files to the intended `somescope` directory, and if I use `--sql-file` then I'd have to copy those SQL files to `somescope/sqls` as well, or I'd have to edit the migration to correctly reference its parent folders.

What is working for me as intended is `db-migrate up

[2016-07-26 18:53] wzrdtales commented on #394
This is already fixed on the 0.10.x track, the support is actually completely missing on the 0.9.x track though and was introduced later on. I need to look if I'm going to backport this to 0.9.x.

[2016-07-26 18:59] fmalk commented on #394
Got it.
It's just that `0.9.x` is still the current stable release, and `npm` installs it by default.

[2016-07-26 19:08] wzrdtales commented on #394
Yeah that is going to change, I'm currently straightening everything to push out the 0.10.x. I have recently moved for example the seeders out of scope for 0.10.x, thus the last big item before the release is to rewrite all tests and add tests for the new programable api.
I need to rewrite all tests b/c we're currently still using vows, and vows does have some bugs which makes it impossible to act

[2016-07-26 19:35] #394 closed

[2016-08-03 11:39] fcarreiro commented on #315
Hi @wzrdtales, I got here by searching the `This function "insert" is deprecated and is going to be completely removed, use version controlled seeds instead.` message. Is there any plan on updating the documentation? I'm trying to use this package and I'm finding it quite difficult and confusing because of the documentation. For example, some parts use callbacks, others don't. The `insert` functio

[2016-08-03 11:54] wzrdtales commented on #315
@fcarreiro No worries, I don't get you wrong on that :)

And yes, there is a plan to extend and rewrite a whole bunch of the docs. I would highly appreciate if you want to contribute to the docs though, but I understand that this would be hard without understanding many things. But just feel free to throw questions at me and I will respond as soon as I get a free minute,, which is usually at the s

[2016-08-04 09:33] fcarreiro commented on #315
Great :) Could you maybe give a small description of what a seeder is and a small example on how to use define/use it? I've seen the interface defined in the code but I don't know what it is supposed to mean, conceptually, in this framework... let alone how to use it ;)

[2016-08-05 08:46] wzrdtales commented on #315
There are some docs that theoretically describe the usage, but for now you won't really be able to use them. I have also postponed them to a later version as I have decided to change the release strategy of db-migrate. I will go for a release cycle of 1 month instead of currently feature oriented.

The last thing I now needed to do was completely define the API for the state of now, this is done t

[2016-08-07 09:45] wzrdtales opened #395 "Add migration version detection"
# Foreword

With the 0.10.x release, we introduce some breaking changes. Some that no one ever is going to notice, but recently, based on the latest decision, it was decided to remove the deprecated `async` and `dbm` globals and with it the `async` dependency completely.

This opens the need to migrate the users migrations, that potentially rely on those being available as global. Especially as th

[2016-08-07 10:01] wzrdtales opened #396 "Add plugin support"
# Foreword

There are many features out there that are being denied to be introduced into db-migrate at all. For a good reason, db-migrate wont ever support every use case and wish a user might have and it should not. db-migrate should provide a clean and stable way that it is intended to work and not an overall bloated module that is capable of everything.

But most of the time there are legitima

[2016-08-07 10:03] wzrdtales opened #397 "Add basic plugin logic and first hooks"
# Foreword

See #396

# Specifications

- Plugin register logic from package.json
- Hooks for
  - [x] config
  - [x] additional command
  - [x] register precompiler

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36717260-add-basic-plugin-logic-and-first-hooks?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_sour

[2016-08-09 18:06] gilly3 opened #398 "How to use variables in migration sql scripts"
I have a migration that creates a table.  I would like to grant permissions.  The trouble is the user may differ between environments, so I need to pass a variable to the script to specify the user:

[code]

How can I pass variables to SQL migration scripts?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36790191-how-to-use-varia

[2016-08-09 18:10] wzrdtales commented on #398
Hey first of all, permissions is something not really supported by db-migrate and I'm not sure if permissions really are something that should be set via migrations, if you have use case that does make sense just let me know, may be it could be  a feature for the future and I'm open to opinions and ideas :). But  you can naturally just use `runSql`.

To solve your problem, this shouldn't be that m

[2016-08-09 18:24] gilly3 commented on #398
Ok, I'll dig in and look.

But, just to address the philosophical point of whether permissions belong in migrations...

Maybe I'm using Postgres incorrectly, but when I last looked, there's nothing like permissions inheritance.  For example, the following script only applies to tables that exist at the time it is run:

[code]

So, when I add a table later, the `app_reader` user doesn't automatical

[2016-08-09 18:32] wzrdtales commented on #398
Ok with that statement given, it is not part of db-migrate in this case, b/c this is pretty much directed to postgresql,  I can't mind similar problems on other DBs. So this would be a driver related topic more than for db-migrate itself. I'm not quite sure though if postgres is configureable to make your use case work. https://www.postgresql.org/docs/9.0/static/sql-grant.html
But I think that `ON

[2016-08-09 19:22] gilly3 commented on #398
I know, right?  It totally _should!_  Sadly, `SELECT` permissions cannot be granted directly to databases or schemas.  Attempting to do so results in error.  The closest is `ALL TABLES IN SCHEMA`, which only includes the currently existing set of tables, and not tables created in the future.

I only added db-migrate to my project after my database had been built.  So, I have separate scripts outsi

[2016-08-09 20:09] wzrdtales commented on #398
As already said, this is not a topic for db-migrate itself anymore, but for the driver in this case: https://github.com/db-migrate/pg

I'm not an active user of postgres tbh, so I really would need to reproduce what you say, but it sounds like the permission system of pg is a bit broken, I guess I need to give that a more intensive look though. However, your use case is very much about pg, thus I

[2016-08-10 16:24] wzrdtales opened #399 "Move driver tests to driver"
# Foreword

Now that all db-migrate related tests are rewritten we want the driver related to be placed in their drivers, to finally replace the old with the new ones.

The tests may move to their drivers without being rewritten, to speed this step a bit up.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36823674-move-driver-tests-t

[2016-08-10 16:29] wzrdtales opened #400 "Async and dbm globals have been removed"
See https://github.com/db-migrate/node-db-migrate/commit/2d9037f670840f52015919f5d98cf9832f6d3847

#395 will provide some helpers to migrate everyone that is affected by this change.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36823835-async-and-dbm-globals-have-been-removed?utm_campaign=plugin&utm_content=tracker%2F73887&utm_med

[2016-08-10 16:29] #400 closed

[2016-08-10 16:30] wzrdtales commented on #315
#400 Is an additional breaking change, but with a migration plan

[2016-08-16 16:09] djMax opened #401 "Should be able to just have SQL files"
Right now we support having a js file with up/down SQL files that use a boilerplate JS. It would be nice to just skip the js file and support SQL up/down files in a directory with a date based name. I don't love the cruft of lots of boilerplate JS.

[2016-08-16 16:39] wzrdtales commented on #401
Any suggestion on how a safe standard may looks like that is **not** getting in the way of real migrations?
First thought of mine would be to use the scoping config for this, I would not go for generally searching for `.sql` files, this would end up colliding with the current default sql behavior.

[2016-08-16 16:51] wzrdtales commented on #401
But generally agreeing, the current way is really lots of boilerplate that is actually avoidable and would only be really useful if one wants to combine a migration with a bigger chunk of raw sql.

[2016-08-17 15:45] wzrdtales commented on #401
It is hard to not collide against the current default behavior, if this is going to be introduced this is probably a candidate for the migration version assistant that was planned after #400 occured. This way it would be possible to reconfigure the scope configs to match the original behavior, for anyone that is currently transitioning from an older standard.

[2016-08-17 15:48] wzrdtales opened #403 "Transition Assistant #1 - global deprecation (async, dbm)"
# Reasoning

There has been a deprecation in #400 which results in disabling users to execute migrations prior 0.10 except they would have a local async copy installed and db-migrate being referable.

#

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37031404-transition-assistant-1-global-deprecation-async-dbm?utm_campaign=plugin&utm

[2016-08-17 16:04] djMax commented on #401
How about just a config setting that enabled it?

[2016-08-17 16:33] gokul-hashlearn opened #404 "db-migrate-pg had to be installed separately"
Installation instructions should specify that 'db-migrate-pg' module needs to be installed separately, if postgres is the target database.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37033034-db-migrate-pg-had-to-be-installed-separately?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We acce

[2016-08-17 16:36] gokul-hashlearn commented on #404
Moving this to the documentation repo.

[2016-08-17 16:36] #404 closed

[2016-08-17 19:36] wzrdtales commented on #401
Yeah, I've thought about this, but I asked my self the question:

If `.coffee` file is load seemlessly as soon as the coffee-script module is available, while `.sql` files exclusively are parsed as long as the config is stating to do this. Is this still a clean behavior, or does this ends up in confusion for the user?

Also just with the config param the problem is not solved though. If there are

[2016-08-19 05:15] liammclennan opened #405 "Install fails for 0.10.0-beta.15 on windows 10"
`npm install db-migrate@latest`

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37083876-install-fails-for-0-10-0-beta-15-on-windows-10?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=trac

[2016-08-19 07:18] wzrdtales commented on #405
This is way too less information, please provide the complete log output and also the currently used node version + npm version.

[2016-08-19 10:53] rpmonteiro commented on #154
Any solution for this?

[2016-08-20 02:59] liammclennan commented on #345
Definitely still a problem. The exception is thrown from api.js:930 (beta.15). Which is:

[code]

`argv._.` is an empty array, so `shift()` returns undefined, which does not have a `split()` method. Here is debug output showing the relevant values:

[code]

[2016-08-20 03:00] liammclennan commented on #405
node 5.2.0
npm 3.3.12

I've since discovered that the module is actually installed despite the error in the output. No npm log is generated.

[2016-08-20 08:52] wzrdtales commented on #345
@liammclennan Coud you please elaborate what you're trying to do?

I ask as `run` you normally never call if you use db-migrate programatically. Run is actually the part of the API entering into the non programatic behavior.

[2016-08-20 08:54] wzrdtales commented on #405
hm ok, well I currently have no way to reproduce this (no windows at all flying around here except for a windows 7 one, but not installed). So does everything works for you now?

[2016-08-20 09:20] liammclennan commented on #345
Run () is what the doctor says to use. I'm trying to run migrations
programmatically.

On 20 Aug 2016 18:52, "Tobias Gurtzick" <notifications@github.com> wrote:

@liammclennan <https://github.com/liammclennan> Coud you please elaborate
what you're trying to do?

I ask as run you normally never call if you use db-migrate programatically.
Run is actually the part of the API entering into the non pro

[2016-08-20 09:35] wzrdtales commented on #345
yes, tbh docs aren't really final yet.

Have a look here: https://github.com/db-migrate/api-examples

There are a few examples, some in promise style and callback style, that should help understanding.

[2016-08-22 04:47] djMax commented on #401
I think a config (defaulting to off) does solve it in that we're not trying to protect people from themselves. If you adopt this mechanism, you should not do silly things like mix directories with "up.sql" and "down.sql" into JS based migrations.

[2016-08-22 05:34] liammclennan commented on #405
Install seems ok. Failing now for a different reason https://github.com/db-migrate/node-db-migrate/issues/345

[2016-08-22 05:34] #405 closed

[2016-08-22 06:22] wzrdtales commented on #405
@liammclennan Ok good to know this is solved. Look at my latest answer in #345 that should also lead you into the right direction. If not please feel free to reach out :)

[2016-08-22 06:40] wzrdtales commented on #401
While that might be true, it would be also very common, that people that are migrating from the original default behavior are stumbling over this.

Also to note the problem is not the mixing of `sql` and `js` migrations in the same directory, but to mix behaviors. And in case of `sql` most people are going to mix `sql` and `js`, as `sql` is not so much of a migration anymore, as this could be anyt

[2016-08-25 08:10] wzrdtales commented on #154
@rpmonteiro Not yet, PRs would be appreciated, if you want you can go ahead and take a stab.

[2016-08-25 20:27] troygoode commented on #308
The `"sql-file"` option is not loaded from `database.json` if the `DATABASE_URL` env var is used.

[2016-08-25 20:38] wzrdtales commented on #308
@troygoode Mh, yeah in the current constellation this an either or and not layered. And I don't consider this as a bug as of now.

`DATABASE_URL` is something that is only really useful to production environments, that are configured through environment configs. E.g. Docker, Heroku, ...
But it is nothing that you would use in development, and the same goes for the `sql-file` option. You don't need

[2016-08-25 20:40] wzrdtales commented on #308
Also to note, you should open a new issue. Your request has nothing to do with this issue, this one is about CLI and having a `rc` style config, which is also something that is being introduced soon though.

[2016-08-26 06:04] troygoode opened #406 "db-migrate does not respect database.json when DATABASE_URL is specified"
related to #308

A best-practice for developing Heroku apps is to set a `.env` file and then execute `heroku local` (https://devcenter.heroku.com/articles/heroku-local), which will populate `process.env` using that file. A common `.env` file will look like so:

[code]

In general, usage of a `.env` file and leveraging something like https://www.npmjs.com/package/dotenv is a common practice even wh

[2016-08-26 06:08] troygoode commented on #406
I'm currently working around this by adding the following to my package.json:

[code]

This allows me to create migrations via `npm run create-migration EXAMPLE`, but having such inconsistencies in the configuration of `db-migrate` is rather frustrating. If you prefer to only have one configuration source at a time (rather than supporting a layered configuration), then shouldn't the additional opt

[2016-08-26 09:28] wzrdtales commented on #406
To resolve #308 we will introduce a new dependency: https://www.npmjs.com/package/rc
It is very likely to cover your issue too if I'm not too wrong, as it also provides an interface mapping configs to environment variables.

[2016-08-27 16:48] benbotto opened #407 "Cannot add a foreign key while adding a column"
This report is against db-migrate version 0.9.x (latest), using the mysql driver.  I'm unable to use foreign key definitions when adding a column in a migration, although an identical foreign key definition works correctly in a table-creation migration.

Consider the following table creation:

[code]

Now I'd like to add a column that reference another table in a second migration:

[code]
Note tha

[2016-08-27 17:02] wzrdtales commented on #407
That seems to be something with the syntax as there gets an undefined thrown  `'disc_golf_tracker.undefined'`. But from your example on the first look everything looks ok though.

Could you provide a complete executable example that reproduce your behavior, with the two tables being created and your foreignKey specification? Best create a gist for this, that would really help me to reproduce and h

[2016-08-27 17:12] wzrdtales commented on #407
Ok, I just tried quickly your addColumn example you've posted.

Two things:

This is already fixed in the latest 0.10.x tree, if you worry about the beta version, it is not so beta anymore though. But I keep that to you what you want to use.

The problem lays however here:

https://github.com/db-migrate/node-db-migrate/blob/v0.9.x/lib/driver/mysql.js#L178

Thus foreignKey definitions do work in `c

[2016-08-27 17:17] benbotto commented on #407
Hi wzrdtales,

Thanks for the quick response.  I was just putting together a gist but it looks like you beat me to it and tracked down the problem.

I'll try to move to 0.10.x as suggested.  Thus far 0.9.x has been working well for me, so I haven't had a reason to update.  It looks like now's the time, though.

Thanks again,

[b]

[2016-08-27 17:36] wzrdtales commented on #407
No problem, 0.9.x is working though, 0.10.x adds much new stuff, like promise style migrations and much more though. You should note that you will need to install the driver although when switching to 0.10.x.

 Means e.g. `npm install db-migrate-mysql --save-dev`, after that everything should be like it was before. Also notice, db-migrate 0.10.x prefers your local installed version over the global

[2016-08-29 09:41] Nelspike opened #408 "Cannot addColumn with a primaryKey on Postgres"
Hello!

After browsing the issues, I found a similar issue posted a couple of days ago (https://github.com/db-migrate/node-db-migrate/issues/407). However, this one's different, as it has to do with postgres (psql).

It seems that I cannot add a column while referencing it to be a primary key while using `addColumn`. To make matters more precise, the error is:

[code]

And the trace goes on. Howev

[2016-09-05 03:55] igorsechyn opened #409 "Scope is not saved in the migration table when using programmatic api"
When using db-migrate programmatic api to run migrations with scope, I found that the name of the migration saved in the DB is missing the path to the scope. This is the code I would use to run "up" migrations:

[code]

The names of the run migrations in the DB will not have the "test/" prefix. Running the same migration from the command line fixes the problem. After a short investigation I believ

[2016-09-05 07:00] wzrdtales commented on #409
`api.js#run`, well this is probably not located there. If using the programable API, run is never called, if it would, you would do something wrong. Actually `run` is the non programable mode.

Also I just tested against your claims, the problem is that the API is missing the matching option. Going to fix this ASAP.

[2016-09-05 07:03] #409 closed

[2016-09-05 07:12] igorsechyn commented on #409
Sorry I meant `up` or `down` method. I was not calling the run method.

It is probably worthwhile updating the documentation as well, in https://db-migrate.readthedocs.io/en/latest/API/programable/ the example does suggest to use `run` method.

Awesome. Thank you:)

[2016-09-05 07:23] wzrdtales commented on #409
Bugfix published as
+ db-migrate@0.10.0-beta.16

[2016-09-05 23:44] igorsechyn opened #410 "Question: Is execution of multiple migrations atomic?"
If i have multiple new migrations and I execute `up`, are they executed as one atomic operation? i.e. if one migration fails, will other migrations be reverted?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37601084-question-is-execution-of-multiple-migrations-atomic?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=iss

[2016-09-06 06:59] wzrdtales commented on #410
No. This is also a bit more complicated than you think.

You have to think of many things that can actually happen and would need to reverse, this begins on the migration that fails. The biggest problem actually is that transactions of many RDBMS, e.g. MySQL, do only work for `DML` and not for `DDL`, that means that the reversal of the actual migration would need to reverse on a potentially on an

[2016-09-06 07:08] wzrdtales commented on #408
Can you tell me which db-migrate version you've used?

[2016-09-07 19:27] coldacid commented on #397
@wzrdtales I see there's a YAML config plugin, but have you written anything about the contract for the 'init:config:overwrite:require' hook yet? I'm looking at the possibility of pulling configuration through node-config so knowing the requirements and expectations of the hook would be quite helpful.

Given that node-config provides its own system for handling environments, I would need the hook

[2016-09-07 19:37] coldacid commented on #397
Alternatively, being able to specify a JS file that exports a function taking the environment and returning the configuration would be nice.

[2016-09-07 20:32] wzrdtales commented on #397
@coldacid This not yet official though, no not having written any docs and thus no contracts yet.

About the js file, you can do this already. Just name it database.js or how you want to name it and let db-migrate know it should load database.js. This will actually `require` the database.js and is thus executed as javascript.

[2016-09-07 20:34] wzrdtales commented on #397
And `init:config:overwrite:require` actually expects to get a json object back, that is in the same schema that the default database.json is though.

[2016-09-07 20:37] wzrdtales commented on #397
So basically, you can have whatever config you want you just need to return the defined schema by db-migrate.

And this is always:

[code]

So the only special thing is actually that db-migrate can have many environments defined. And on the `topLevel` config is mostly just the "default" config, which specifies which is the default config, which is `dev` if default is not defined.

[2016-09-08 01:46] coldacid commented on #397
So then I should be able to add a `database.js` to my config directory, `require('config')` in there and just emit the database info from my app config as the `default` property on an object? Nice.

This'll make things a bit easier for me when I get to work tomorrow... :D

[2016-09-08 07:05] wzrdtales commented on #397
Not exactly sure if you got everything right, the `default` property defines the default environment to use. Your config should be on the environment itself though.

Just take a look here:

https://docs-0-10.dbmigrate.wizardtales.com/Getting%20Started/configuration

You also find the commandline option which is used to specify your database.js as config instead.

[2016-09-08 13:47] coldacid commented on #397
Ah, okay. Just that it seems there's no way to get the environment provided on the command line from the `database.js` file I write without parsing `process.argv` myself.

[2016-09-08 17:29] wzrdtales commented on #397
Yes this is true, there is actually nothing passed by yet, but the filename. But I will take this suggestion and pass this hook necessary information, that is relevant for config.

[2016-09-08 19:07] coldacid commented on #397
Thanks!

[2016-09-09 15:22] fklingler commented on #391
I think this should still be fixed. Other env variables names can be used.
I have the exact same error with this config file:

[code]

The only thing that causes this error is that my MONGO_URL env variable is not set in development, and I don't see any reason why that shouldn't be possible.

[2016-09-09 15:40] wzrdtales commented on #391
@fklingler Ok, but you talk about a completely different thing now.
`DATABASE_URL` is something completely different from `{"ENV": "MONGO_URL"}`.

Maybe you could open a new issue on this and describe more your problem and give a way to reproduce your problem? Currently I don't really know where your problem is though, I would need a bit more details though.

[2016-09-09 15:51] fklingler commented on #391
I still think this is the same exact problem.

On my production environment, I set the database URL using an environment variable, in this case, MONGO_URL.
On my development environment, I set the database URL from config files (a node module in my express app, or here in the json file).

On this development environment, I don't have the MONGO_URL env variable set. This is what causes the problem.

[2016-09-09 15:55] wzrdtales commented on #391
@fklingler It is, as said, those are two complete different things. They're actually handled different.

`DATABASE_URL` is a standardized database_url, used by many cloud providers. But `MONGO_URL` is just a environment variable, not more. I'll come back to you in about 20 minutes, I'm on the go currently.

[2016-09-09 16:03] fklingler commented on #391
This is exactly the same problem, but the solution is just simpler if the environment variable in question is `DATABASE_URL` since we can remove its reference in the database.json config file.

I will also go now, I'll be back in a few hours or tomorrow. Thanks for your quick answers!

[2016-09-09 16:07] wzrdtales commented on #391
@fklingler Ok, back a bit earlier than thought.

So yes and no. While you're right the problem is kind of the same and that the behavior you describe is not wanted, those still are two different problem. The thing is that you don't need and should not define the `DATABASE_URL` anywhere in your config. This was the issue of this issue actually. So I just would like to keep those two things as separ

[2016-09-12 07:58] fklingler opened #411 "Indicating an ENV variable to use in a specific database.json environment throws an error if not set in current environment"
Following discussion on https://github.com/db-migrate/node-db-migrate/issues/391.

With this config file:
[code]

If I'm on the development environment, and if the `process.env.MONGO_URL` variable is not set, it will throw this error:

[code]

Apparently, db-migrate iterates over everything (even the non-current environment) in the database.json file, and if there is something in the form of {"ENV

[2016-09-12 07:59] Nelspike commented on #408
@wzrdtales - the one on the link's commit (0.9.25). Seems like it's an old issue though!

[2016-09-13 20:57] wzrdtales commented on #411
Also check for the environment variable itself for existence. Skip the environment compeletely if it is undefined. A verbose warning message shall be printed.
https://github.com/db-migrate/node-db-migrate/blob/master/lib/config.js#L90-L91

Also add a verbose warning message to the following part:
https://github.com/db-migrate/node-db-migrate/blob/master/lib/config.js#L98-L99

[2016-09-13 20:59] wzrdtales commented on #408
Ok, I will most probably review and reproduce this tomorrow, did you already tried this on the v0.10.x track?

[2016-09-14 07:07] Nelspike commented on #408
Works wonders with the newest versions, aye! Most of the stack I work with uses the 0.9.x ones, though. would it be wise to fix push out a fix within a patch for this for older versions?

[2016-09-14 07:55] wzrdtales commented on #408
I will c if I will backport this to the v0.9.x track. As long as 0.10.x is not released on the main track 0.9.x is still supported though.

[2016-09-16 01:24] rwollgar opened #412 "command db-migrate up 20150207135259-myFancyMigration runs all migrations"
Hi,

I can't run a specific migration using the following command:
db-migrate up 20150207135259-myFancyMigration

db-migrate always runs all migrations.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37927696-command-db-migrate-up-20150207135259-myfancymigration-runs-all-migrations?utm_campaign=plugin&utm_content=tracker%2F73887&utm

[2016-09-16 07:33] wzrdtales commented on #412
Please always post **all** necessary information. Otherwise we won't be able to help you.

Please post:
 - db-migrate version
 - node version
 - npm version
 - used driver + version
 - verbose run log

Thank you

[2016-09-19 01:43] rwollgar commented on #412
db-migrate version: 0.10.0-beta.16
node version: 6.3.1
npm version: 3.10.3
drivers: pg (0.1.10) and redshift (0.0.2)
run log:

Trying to run only 20160906025331-misc, but also runs: 20160902055347-billing

db-migrate up 20160906025331-misc --verbose --env testlocal
[INFO] Detected and using the projects local version of db-migrate. 'C:\gitrepos\streamco-redshiftify\node_modules\db-migrate\index.js

[2016-09-19 06:38] wzrdtales commented on #412
@rwollgar Not a bug, and nothing surprising here. `20160902055347` is earlier than `20160906025331`. If you specify a migration, db-migrate use your specified migration as a target. This is the one and only way db-migrate is going to behave and this also wont change. This is how migrations work, you don't want to execute any migration, before migrations that are earlier in the order have been exec

[2016-09-19 06:38] wzrdtales commented on #412
Closing here as this is not a bug, but feel free to comment or ask if you have any other questions.

[2016-09-19 06:38] #412 closed

[2016-09-20 12:39] LinusU opened #413 "Upgrade dotenv to version 2.0.0"
[dotenv](https://npmjs.com/packages/dotenv) has released a new major version. The breaking change is that it removes variable interpolation.

I think we should update while the latest version is still beta, so that this will make it into the next release. Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37973841-upgrade-dotenv

[2016-09-20 12:41] LinusU commented on #413
This is actually already fixed in master, but not yet released. @wzrdtales would it be possible to cut a new release from master? ❤️

[2016-09-20 12:52] wzrdtales commented on #413
@LinusU There is some work here https://github.com/db-migrate/node-db-migrate/tree/transitionHelper
that needs to be finished before releasing the latest master. The latest master does include some breaking changes though (final removal of some globals), thus I want to ship the transitionHelper before actually going ahead.

[2016-09-20 12:59] LinusU commented on #413
Sounds fair, thanks for the quick response 👍

[2016-09-25 11:32] GreatKikale commented on #79
"Native: true" worked for me.

Now I can run my migrations in heroku from command line.

Thanks guys!!  Great job

[2016-09-27 08:43] AdriVanHoudt commented on #212
Would it be an option to do `require('db-migrate/lib/migration')` and override the prototypes?

[2016-09-27 13:14] djMax opened #416 "Use env in migrations?"
is it possible to use environment information (not NODE_ENV, the db-migrate env) in migration scripts? I'm wondering if I can model "seeding" as a migration that only runs in a particular env.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37996228-use-env-in-migrations?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=i

[2016-09-28 06:38] wzrdtales commented on #212
No, but we look to extend db-migrate to support real templates for migrations and make them extensible.

[2016-09-28 09:15] wzrdtales commented on #416
@djMax Well, every migration gives you full access to the node js api, due to being javascript itself.

Just access `process.env` and control this yourself.

[2016-09-28 09:30] wzrdtales commented on #416
And if you ment the db-migrate env, from reading your question again, I just noticed you probably ment this (NODE_ENV is actually also not the same as `process.env`), you can access this though.

if you ment this information, that is not yet passed though. But you could access it over the internals: `internals.currentEnv || internals.argv.env`

[2016-09-28 09:30] wzrdtales commented on #416
But we could very easily add this to the base driver.

[2016-09-28 09:36] wzrdtales commented on #212
Btw. the question raised at the beginning also included they want to use this to enforce the usage of transactions. Actually db-migrate always place a transaction begin and commit before and after every migration.

[2016-09-28 12:53] djMax commented on #416
Yes, I meant the db-migrate env. Would be nice to have access to that and the corresponding config in the migrations (perhaps in setup or in the driver/db arg of the up/down methods.

[2016-09-28 14:20] #403 closed

[2016-09-28 14:20] #411 closed

[2016-09-28 15:51] wzrdtales commented on #408
Was backported and released under the latest 0.9.x track.

[2016-09-28 15:51] #408 closed

[2016-09-28 15:52] wzrdtales commented on #407
Was also backported to the latest 0.9.x track.

[2016-09-28 15:52] #407 closed

[2016-09-28 15:55] benbotto commented on #407
Thank you!

[2016-09-28 15:56] wzrdtales commented on #413
Latest db-migrate was just released including this change.

[2016-09-28 15:56] #413 closed

[2016-09-28 16:11] wzrdtales opened #417 "Migrating from <=0.10.x-beta.16"
We're on the road on finalizing everything considering the 0.10.x release.Which is also the last release that will be worked on in the current manner, as we switch to a release cycle rather than a pre defined milestone that is about to be reached.

While working on the finalization we also removed now finally two globals, as we want to remove all globals except `verbose` and `dryRun` and never goi

[2016-09-28 21:25] ibenschop opened #418 "async is undefined"
Updating to beta17 is causing our migrations to fail as an error is thrown > [ERROR] ReferenceError: async is not defined. We locked it back to beta16 which works. Notice that dependencies have changed. Should we nog include async in each migration?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38002117-async-is-undefined?utm_campa

[2016-09-28 21:45] wzrdtales commented on #418
Hey @ibenschop
Please read: https://github.com/db-migrate/node-db-migrate/issues/417, this will help you. I always tag breaking changes in the issues with the related tag. So you can take a look there to catch up on this kind of informations.

We deprecated some globals, `async` and `dbm`, as their names are too likely to collide and we push the library even more now into a state where it is actua

[2016-09-28 21:47] wzrdtales commented on #418
You will also find in the issue linked above what exactly you would have to change. In short, if it is just async, then you need to install async locally in your project.

[2016-09-28 21:54] wzrdtales commented on #418
Also to note:
If you're using the 0.10.x track, you also got already access to the promise style migrations. So you probably are better off using those instead of async ;), but that is naturally your decision.

If any other question, don't hesitate to ask.

[2016-09-29 03:56] ibenschop commented on #418
Hi Tobias,

Thanks for your swift reply and direction. Much appreciated and keep up the
great work!

On Wed, Sep 28, 2016 at 5:54 PM, Tobias Gurtzick <notifications@github.com>
wrote:

[2016-09-29 07:10] wzrdtales commented on #418
No problem, closing as resolved. Feel free to open a new issue if you run into any.

[2016-09-29 07:10] #418 closed

[2016-09-29 12:15] #397 closed

[2016-09-29 20:04] wzrdtales commented on #383
@tuckerconnelly Would you mind to may be elaborate a bit more on what you exactly wanted? Otherwise I'm closing here.

[2016-09-29 20:07] #381 closed

[2016-09-29 20:15] wzrdtales commented on #380
@moxious ment to close this one instead :)

[2016-09-29 20:15] #380 closed

[2016-09-29 20:23] wzrdtales commented on #356
@charyorde Currently cleaning up the issues, I will close here now. Please feel free to hit me up anytime if you've got any questions.

[2016-09-29 20:23] #356 closed

[2016-09-29 20:31] wzrdtales commented on #354
@gilly3 This could also very probable a target for the new plugins.Yet there are no hooks or overwrites for those parts of the application, but I will take a look a bit later when adding more hooks and overwrites to also include those parts of db-migrate.

[2016-09-29 20:56] tuckerconnelly commented on #383
I created my own migration library, https://github.com/tuckerconnelly/es-migrate

[2016-09-29 21:06] wzrdtales commented on #383
Ah ok cool thing :)
Still waiting for the day where async really b/c supported and does not needs to be transpiled though :)

So am I right that you just wanted to have migration templates make use of the async/await features?

[2016-09-29 21:10] tuckerconnelly commented on #383
That and no semicolons :) and a way to sync to a particular database version (instead of imperatively describing how to up/down to get there), so you can associate a docker image with a database version

[2016-09-29 21:11] #300 closed

[2016-09-29 21:18] wzrdtales commented on #383
That is something that is going to be added.

So you want what instead? A dump or what exactly are you thinking of?

[2016-09-29 21:23] tuckerconnelly commented on #383
Instead of `db-migrate up` and `db-migrate down`, I can do `es-migrate sync 123456`, and it'll do whatever ups or downs it has to do to get there to get to version `123456`. This is useful because when I deploy a new version of the app, I know it'll definitely automatically be synced the version of the database it's compatible with.

This is similar to Rails' `db migrate VERSION=123456`

I'm good

[2016-09-29 21:27] wzrdtales commented on #383
@tuckerconnelly No worries, I just try to understand your use case and the `sync` method makes sense though. Good thing you're fine with your own lib though :)

Thanks for giving your input.

[2016-09-29 21:29] wzrdtales commented on #383
Refers to #388, #397

[2016-09-30 06:46] wzrdtales commented on #383
Refers to #313

[2016-09-30 06:48] wzrdtales commented on #289
Target for plugins, will be available as plugin which registers the babel pre compiler.

[2016-09-30 06:48] #289 closed

[2016-09-30 06:49] #281 closed

[2016-09-30 06:52] #314 closed

[2016-09-30 09:45] wzrdtales commented on #222
@toymachiner62
Support for specifying also in a down migration is now being added, but not just the single migration, but that migration being the target up to which it will migrate down. Also to note, this is used as target, that means the target itself wont be executed itself.

[2016-09-30 09:45] #222 closed

[2016-09-30 09:46] #169 closed

[2016-09-30 10:46] #395 closed

[2016-09-30 11:07] #313 closed

[2016-09-30 16:50] #399 closed

[2016-10-03 15:58] RemyJeancolas opened #419 "Allow to pass configuration when loading plugins"
It would be a great idea to allow passing configuration when loading a plugin.
For example, for [plugin-typescript](https://github.com/db-migrate/plugin-typescript), internally we use [ts-node](https://github.com/TypeStrong/ts-node#programmatic-usage), and ts-node `register` method accepts an options object that we can't pass for now.
Updating the `loadPlugin` method to accept optional parameter(s

[2016-10-03 16:15] wzrdtales commented on #419
@RemyJeancolas loadPlugin won't get any optional parameters. It is really just loading the plugin, this is only in place to have an easy way to delay load modules within a plugin, which in turn was part of the design to have a plugin system that is not slowing everything down, but the actual hook that is affected. However, a Hook might get added some parameters or options added, So just go ahead a

[2016-10-04 20:40] foysavas opened #421 "EventEmitter memory leaks"
When using `db-migrate` programmatically for multiple databases, warnings are generated for EventEmitter leaks: `Warning: Possible EventEmitter memory leak detected. 11 unhandledRejection listeners added.`

Adding a `unregisterEvents` function to `api.js` should enable programmatic users to get around this. Such a function may also be used more generally to do proper cleanup.

Where `registerEvent

[2016-10-04 20:47] foysavas opened #422 "Migration templates should use shared log"
Migration templates currently use `console.log` in several places. It would be better to use the `db-migrate-shared` `log` functions, so that logging output can be controlled easily through global variables. In my case, I programmatically use `db-migrate` and prefer not to override the `console` functions.

Here is where `console.log` appears in the migration templates:

https://github.com/db-migr

[2016-10-04 20:48] wzrdtales commented on #421
@foysavas Good catch.

In the case of programatic it may be even unwanted right from the beginning to have those events being registered. They're only really targeted at the CLI, so the question is, if a db-migrate instance is created in the programatic mode, to disable those registers by default and give the option to register those controlling the process using db-migrate as a module.

[2016-10-04 20:52] wzrdtales commented on #422
@foysavas Yes makes sense, adding this as task of the template redesign.

Refers to #320

[2016-10-04 21:03] foysavas commented on #421
Agreed, especially given the `process.exit()` therein.

- [ ] A config option that enables or disables the registration of the listeners
- [ ] false as a default value for programmatic usage, true from the cli
- [ ] an `unregisterEvent()` that does cleanup

[2016-10-05 17:47] foysavas commented on #320
ES6 templates are probably the most future-proof and least opinionated way to do this.

Consider [`es6-template-string`](https://github.com/medikoo/es6-template-strings) as it works on node >= 0.12.

Ideally, the user should also be able to override the default templates by either passing in a path to template files or by passing in raw strings.

[2016-10-05 18:33] rw3iss opened #423 "How can I declare any arbitrary column as an index?"
Is there a way to do this, to make new indexes on other columns?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38163492-how-can-i-declare-any-arbitrary-column-as-an-index?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2016-10-05 18:35] rw3iss commented on #423
Just saw the SQL API, sorry!

[2016-10-05 18:35] #423 closed

[2016-10-07 02:14] User4martin opened #424 "postgresql: CREATE INDEX CONCURRENTLY fails due to transaction"
Is there a way to disable transactions for individual migrations?

postgresql does not allow
CREATE INDEX CONCURRENTLY
when in a transaction.

So if one wants to use this, one has to run this migration without transaction.

[2016-10-07 11:10] wzrdtales commented on #424
@User4martin Not directy. You can just disable them at all.

But you can call `db.endMigration`, which will commit the current transaction. Not sure if postgres is able to handle this properly, at least MariaDB/MySQL would allow you to do this without a problem. Try this, but I will also take this issue as a feature request.

[2016-10-07 18:34] wzrdtales commented on #320
@foysavas I would like to treat template extension similar to everything else. In a module fashion and also injectable through plugins.

I will have a look at your suggestion thanks for that! :)
If you want to take a stab on preparing a PR, this would be more than welcome, can't tell at which point I will move this task into the pipeline. Right now I am working on the docs.
As always feel free to

[2016-10-10 10:27] WebStyle opened #425 "dbmigrate.registerAPIHook is not a function"
on Node.js v6.6.0.
Error:
[code]

[2016-10-10 11:24] wzrdtales commented on #425
Hey @WebStyle,

unfortunately we can't help you if you don't provide us all informations necessary to reproduce your case.

This means, **always** post:

- used node version
- used npm version
- used db-migrate version
- used driver and its version
- used plugins
- full output of the verbose run
- in complex cases a full gist, as an executable proof
- if necessary used migrations and configuration

[2016-10-10 15:28] #425 closed

[2016-10-10 15:31] wzrdtales commented on #425
Just saw that local resolving ends up in an issue, as the hook might not be there yet.

Please post the next time all needed information, as we have a hard time to figure out which problem you're facing with that amount of information provided.

[2016-10-10 17:23] User4martin commented on #424
db.endMigration works for postgresql.

Another statement that does not work in transaction is
ALTER TYPE foo ADD VALUE IF NOT EXISTS  'bar' AFTER 'xyz';

[2016-10-10 17:25] User4martin opened #426 "multi statements for psql / only work when using psql commandline client"
Using postgres, I am adding big stored procedures, I avoid putting sql and js into one file.
So --sql-file is the option to go.

I used to put related updates into one file

ALTER TYPE foo ADD VALUE IF NOT EXISTS 'bar' AFTER 'xyz';
CREATE OR REPLACE FUNCTION abc()....

This works fine, if I pipe it into the psql cmd-line client. (I guess psql parses it, and submits individual statements, rather th

[2016-10-10 17:36] wzrdtales commented on #426
@User4martin First of all, I would suggest to raise this issue also on the pg driver used by db-migrates pg driver. https://github.com/brianc/node-postgres, maybe they have a solution for your problem.

So talking about the psql client, there is at least an existing wrapper here https://www.npmjs.com/package/psql-wrapper,but I wont include this into the pg driver. Rather I would create a new drive

[2016-10-10 17:37] wzrdtales commented on #426
To add, I wont currently, mostly b/c I don't have the time to do this.

[2016-10-10 17:45] wzrdtales commented on #426
You might also want to test how it behaves if you use the native driver instead. You need to install the pg-native module, as well as specify the usage in your config with the option `native: true`.

[2016-10-13 21:00] benbotto opened #427 "Cannot drop foreign keys -- 0.10.0-beta.20"
I can't remove a foreign key.  The following code fails in the down().

[code]

Here is what I get when I run the DOWN migration:
[code]

Thanks, and let me know if further information is needed.

[2016-10-13 21:23] #427 closed

[2016-10-13 21:25] wzrdtales commented on #427
Hey @benbotto ,

First of all, you're using Promises wrong. Secondly, you've identified a bug, I justed pushed out a fix for the driver. Btw. also don't forget to post your driver version, npm version and node version too in your next issues. Those can be important information that might be missing.

Your posted example should look like this instead:

[code]

Don't mix callback style with promises

[2016-10-13 21:30] benbotto commented on #427
Great, thanks for the prompt fix, and for callback-promises semantics!

[2016-10-14 04:35] WebStyle commented on #425
Thank you!!!

[2016-10-16 16:42] benbotto opened #428 "Migration Name Ignored"
I would like to bring down a single migration by name, but when I try to run a down migration by name the name appears to be ignored.
[code]

Node version 6.6.0
npm version 3.10.8
db-migrate-0.10.0-beta.20
db-migrate-mysql-1.1.9

Thank you!

[2016-10-16 17:02] benbotto opened #429 "Autoincrement ignored on changeColumn"
Changing a primary key column that has AUTO_INCREMENT set results in the AUTO_INCREMENT being removed.  Consider the following migration, wherein the userID is changed from signed to unsigned.  Prior to the migration, userID had AUTO_INCREMENT set.

[code]
Here's the output:
[code]
Note the resulting ```CHANGE COLUMN``` statement does not have AUTO_INCREMENT.

Node version 6.6.0
npm version 3.10.8

[2016-10-17 10:42] wzrdtales commented on #428
@benbotto This is and won't be possible.

If you specify a name for a down migration, it will migrate down **all** migrations until it reaches the one you declared.

But your posted verbose run indicates also something different. It seems that you deleted the migration `20161015004119-update-numberOfQuestions-in-objectives` before reversing the migration itself. If you do this, this runs into the

[2016-10-17 11:09] wzrdtales commented on #429
@benbotto Hey,

This is due to the way how this is currently implemented:
https://github.com/db-migrate/mysql/blob/master/index.js#L110

It omits those, if there is no `unique` spec or `primaryKey` spec. This makes sense as MySQL only allows AI on columns with one of those indexes, but the current implementation it is problematic as I can see from your example. That would mean that one can't add A

[2016-10-17 11:11] #429 closed

[2016-10-17 11:14] wzrdtales commented on #429
published as

+ db-migrate-mysql@1.1.10

[2016-10-17 15:01] benbotto commented on #428
Ah, I see. Thanks.  I missed this line in the documentation: "migrationName is ignored for down migrations."  I read the part specific to using a date in an up, and then the part that states "All of the down migrations work identically to the up migrations by substituting the word down for  up."  I incorrectly assumed that down could be used for a single migration, but what you've said above clear

[2016-10-17 15:03] benbotto commented on #429
Thank you for the prompt fix!

[2016-10-18 23:17] rikvdk opened #430 "SQLite defaultValue checking shouldn't be a boolean check"
The SQLite driver uses a boolean check to see if the defaultValue was specified. Values considered false in javascript (eg 0) can currently not be used.

Drivers are currently using 3 different checks:

- [sqlite/index.js#L89]( https://github.com/db-migrate/sqlite/blob/035eb1cc0a721613b10110df23a98d8fa99eeba9/index.js#L89)
- [mysql/index.js#L137](https://github.com/db-migrate/mysql/blob/04b54f0bbc

[2016-10-19 08:09] Paxa opened #431 "Where can I find the documentation how database.json should be structured?"
Where to find documentation about how `database.json` should be like?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38497718-where-can-i-find-the-documentation-how-database-json-should-be-structured?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2016-10-19 08:10] wzrdtales commented on #431
@Paxa Here you go :)
https://db-migrate.readthedocs.io/en/latest/Getting%20Started/configuration/

If you have any other questions, feel free to reach out.

[2016-10-19 08:14] wzrdtales commented on #430
@rikvdk Hey,

thanks for reporting this! This is, as you identified not wanted. Actually the correct version is the mysql one, I will push out a fix for this in a few hours as soon as I travel in.

[2016-10-19 22:27] #430 closed

[2016-10-20 10:19] WebStyle opened #432 "TypeError: destination.substring is not a function"
When I down migration:
[code]
Error:
[code]

[2016-10-20 10:30] wzrdtales commented on #432
Hey @WebStyle,

unfortunately we can't help you if you don't provide us all informations necessary to reproduce your case.

This means, **always** post:

- used node version
- used npm version
- used db-migrate version
- used driver and its version
- used plugins
- full output of the verbose run
- in complex cases a full gist, as an executable proof
- if necessary used migrations and configuration

[2016-10-20 10:35] WebStyle commented on #432
Thank you, i'm upgraded db-migrate. Its works!!!

[2016-10-20 10:35] #432 closed

[2016-10-20 15:46] ibenschop opened #433 "DOWN result in error thrown [ERROR] TypeError: destination.substring is not a function"
We are running db-migrate-0.10.0-beta.16. When running a down migration we get an error thrown: `[ERROR] TypeError: destination.substring is not a function
    at isIncludedInDown (/Users/ian/Code/resolver-dev-all/resolver-object-service/node_modules/db-migrate-shared/util.js:18:37)`

Debugging and Stack tracing results in destination having a number value which is passed down as count but it's ex

[2016-10-20 15:48] wzrdtales commented on #433
Probably related to an issue from this morning #432

Please try updating to the latest version and report back if this does not fix the problem for you. If it does please close this issue.

[2016-10-20 16:08] ibenschop commented on #433
We opted to use beta12 since upgrading t beta17 or up will have more impact on our implementation. Thanks

[2016-10-20 16:08] #433 closed

[2016-10-20 16:12] wzrdtales commented on #433
You mean from beta16 on?
I think you refer to #417, if so, this is fine but you should be able to go to anything below beta16 until you're ready to upgrade though, you may need to invest a bit of time to upgrade if you are still using a very old migration template.

[2016-10-20 16:14] wzrdtales commented on #431
I close this issue at this point, as the question is considered being answered. If you are missing anything else feel free to open another issue.

[2016-10-20 16:14] #431 closed

[2016-10-20 16:15] ibenschop commented on #433
Yes from beta16 to beta12. Yes we will upgrade in the future for sure. Thanks

[2016-10-20 17:00] Paxa commented on #431
Ok, thanks

[2016-10-23 09:49] arpan-jain opened #434 "No rollback in case of erroneous DDL statements in sql scripts"
Is there a way to use multiple DDL and DML statements in the same sql script.
I am using sql files for up and down migrations and i am using MULTIPLE DDL and DML statements in the "up" sql script. The problem is when there is any error during the execution of any DDL statement (eg. CREATE TABLE) all the previous DML statements gets executed (happening due to implicit commit by DDL statements), als

[2016-10-23 11:17] wzrdtales commented on #434
@arpan-jain This documented here: https://db-migrate.readthedocs.io/en/latest/Getting%20Started/configuration/#important-for-mysql-users

[2016-10-23 11:17] #434 closed

[2016-10-23 11:25] arpan-jain commented on #434
I am already using this property in my config file.

database.json

[code]

[2016-10-23 11:43] wzrdtales commented on #434
Then everything should work, where exactly is your problem? Your original issue is a bit to unstructured to get clear about your problem, please try the next time to write a structured issue.

So I will try to answer no sentence by sentence and hope to answer the question you actually had.

Yes, see the document linked above.

Yes, but if you don't want to use migrations, and use pure sql instead,

[2016-10-23 11:56] arpan-jain commented on #434
@wzrdtales Thanks, this answers my question. I am indeed trying to create/find a solution which can migrate my database changes from sql scipts itself irrespective of the DDL or DML statements.
Also, sorry for the structure of the question.

[2016-10-23 12:05] wzrdtales commented on #434
@arpan-jain

As stated before: Good migrations do follow best practices and the most important one is to only make a single change in the best case per migration. If you would only create your table in the migration file, you would also be able to easily reverse this action. I can just suggest you to use the API of the migration framework you intend to use. No matter if it is this or any other out

[2016-10-24 04:24] imrenagi opened #435 "TypeError: Promise is not a function"
I tried to run `db-migrate up -e env_name` and then I get the `TypeError:Promise is not a function`.
I already installed promise library in my computer. but, this error still happens.Any clue about it?

here it is the error:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38614201-typeerror-promise-is-not-a-function?utm_ca

[2016-10-24 08:06] wzrdtales commented on #435
Hey @imrenagi,

unfortunately we can't help you if you don't provide us all informations necessary to reproduce your case.

This means, **always** post:

- used node version
- used npm version
- used db-migrate version
- used driver and its version
- used plugins
- full output of the verbose run
- in complex cases a full gist, as an executable proof
- if necessary used migrations and configuration

[2016-10-24 13:08] pc-jedi opened #436 "ER_INVALID_DEFAULT if more then one column is from type 'timestamp'"
I found a reproducible error. If you have more then one column from type 'timestamp' the following error occurs:
[code]

The following migration is one example that causes the error.
[code]

Installed version:
db-migrate: 0.10.0-beta.20
db-migrate-mysql: 1.1.10

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38625600-er_invalid_defau

[2016-10-24 13:10] pc-jedi commented on #436
verbose run result:
[code]

[2016-10-24 13:28] wzrdtales commented on #436
Hey @pc-jedi,

in this case this seems to be a problem with your used database and not db-migrate. I just tried to reproduce your example and it is impossible for me to reproduce this. But I am using MariaDB 10.1.x which you probably do not.

I suggest you to try to upgrade your database to the latest available version, this is not a problem of db-migrate though. As far as I remember MySQL does ha

[2016-10-24 13:28] #436 closed

[2016-10-24 16:16] subatomicglue opened #437 "sync is missing from the docs, and Unknown database problem"
Going here:
https://db-migrate.readthedocs.io/en/latest/
https://db-migrate.readthedocs.io/en/latest/Getting%20Started/the%20commands/

I do not see sync, which is in my --help

Also, if I drop my database, then I can't figure out how to get it back, using db-migrate:
`> db-migrate db:drop app_test_database

##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://ww

[2016-10-24 16:28] wzrdtales commented on #437
@subatomicglue Sync was just introduced shortly, docs are about to being updated thanks for pointing this out though :)

With your second problem, this is a known problem. You have configured a database in your `database.json` which does not exist anymore. db-migrate currently always connects also for commands like db:create to this db in your config. Therefore you get the error thrown instead of

[2016-10-24 16:30] wzrdtales commented on #437
About sync: it is just the same as up and down, but it figures out by itself if the migration you define is on its way up or down.

[2016-10-24 17:18] subatomicglue commented on #437
Makes sense.  Nice work on db-migrate, really loving it (coming from Flask SQL Alchemy previously).  Looking forward to the changes

[2016-10-24 17:27] subatomicglue commented on #437
I'm sure you're aware, but I also noticed "seed" was missing from the docs as well:

`Usage: db-migrate [up|down|reset|sync|create|db|seed|transition] [[dbname/]migrationName|all] [options]`

https://db-migrate.readthedocs.io/en/latest/Getting%20Started/the%20commands/

[2016-10-24 17:50] imrenagi commented on #435
I've found a way to fixed it. Previously, I installed by using `npm install db-migrate -g`. Then, it gave me those errors. Then I tried to use `npm install db-migrate --save` and everything works now. Should I keep providing the answer for your question above?

[2016-10-24 17:58] wzrdtales commented on #437
@subatomicglue Yeah, this needs to be cleaned up.

Seeds are postponed to a later point in time. They were originally part of the 0.10.x release, but as I want the current 0.10.x to get stable and switch afterwards to a release cycle with monthly releases I decided to postpone this instead and don't make the release dependent on that. Basically they are just what they sound like. A Data manipulati

[2016-10-27 16:08] subatomicglue opened #438 "Using prepared statements in runSql fails"
Maybe the problem is there isn't an example in the [documentation for runSql](https://db-migrate.readthedocs.io/en/latest/API/SQL/), so maybe I just dont know how to call it using the ? replacement parameters mentioned.

Incidentally, [the docs](https://db-migrate.readthedocs.io/en/latest/API/SQL/) seems to be missing a comma for both runSql() and all():  i.e. runSql(sql, [params,] callback)  and

[2016-10-27 16:18] subatomicglue commented on #438
To fix this, I simply inlined the variables, but I'd still like to know how to make the ? params work.

[code]

[2016-10-27 16:25] wzrdtales commented on #438
You're just using `async` completely wrong. You can't do this like you do, go their docs and read them again, there is no callback that you should pass in, you should omit it! :)

Anyway: Using async is not recommended anymore. You have promises available to you, just turn your given example into this. which is easier and should work as well:

[code]

And why do you require `dotenv`? db-migrate al

[2016-10-28 09:11] wzrdtales commented on #438
@subatomicglue Did you managed to get it work now?

I was short on time yesterday, so I left out the explanation. So to explain why your example wont work is that you supply an invalid amount of parameters.

So you basically called:

    db.runSql('query ?', [param1], callback, function() {});

But this wont work, the API expects that you pass the callback as last parameter, but as you use `async`

[2016-10-31 23:20] chadfurman opened #439 ""Latest" docs show `callback` arg to `up()` but `db-migrate create` does not"
Creating a migration with `db-migrate create` yields `up (db)` rather than `up (db, callback)` -- this is inconsistent with the docs.

I'm running 0.10.0-beta.20 from NPM

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38836332-latest-docs-show-callback-arg-to-up-but-db-migrate-create-does-not?utm_campaign=plugin&utm_content=tracker

[2016-10-31 23:31] wzrdtales commented on #439
@chadfurman This true, but not entirely.

Both versions are equally correct. While `up (db, callback)` is more considered of an old fashioned way to write migrations, `up (db)` is the new and preferred one.

The first one is the traditional callback style, the second one is utilizing promises. So instead of calling a callback, you return a valid handled promise instead.

So true is, that this is y

[2016-10-31 23:50] chadfurman commented on #439
@wzrdtales I'd create a PR if I understood it.  How does the new promise-style work?  My migration simply returns null.  What are other possible return values?

[2016-11-01 00:00] wzrdtales commented on #439
@chadfurman Well actually promises. `return null;` would be equal to `return Promise.resolve();` though.

Every API of db-migrate on the 0.10.x tree by date does in fact return a promise though. Which you can just straightforward return.

To understand Promises, you can have a read here:
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise

DB-Migrate itself uses b

[2016-11-01 12:42] chadfurman commented on #439
@wzrdtales how'd I do?  <3

[2016-11-01 14:17] wzrdtales commented on #438
I haven't heard anything from you yet again, can this issue be closed?

[2016-11-02 00:00] blueshirts opened #440 "[ERROR] TypeError: Object 1 has no method 'substring'"
I am getting an error when doing a migrate down.

In the recent version of seeder.js it looks to call utils.filterDown with 2 parameters.

https://github.com/db-migrate/node-db-migrate/blob/v0.10.0-beta.20/lib/seeder.js#L306

In the package.json for db-migrate it references db-migrate-shared of version 1.1.2.

    "db-migrate-shared": "^1.1.2”,

Prior versions reference ^1.0.2 though because of th

[2016-11-02 00:30] subatomicglue commented on #438
Yes!

--
Sent from Gmail Mobile

[2016-11-02 00:39] subatomicglue commented on #438
Thank you so much for the thoughts/suggestions and turning my async code into promises.  Appreciated.   Please close

[2016-11-02 00:39] #438 closed

[2016-11-02 07:08] wzrdtales commented on #438
No problem. Do not hesitate to reach out if you should have any other question

[2016-11-02 07:10] wzrdtales commented on #440
Which db-migrate version did you used?

[2016-11-02 07:11] wzrdtales commented on #440
If beta.16 please update to at least beta.17 where this problem should be already fixed

[2016-11-02 07:12] wzrdtales commented on #439
Cool thing! Gonna have a look later

[2016-11-02 14:52] blueshirts commented on #440
I tried Beta 20.  I could be missing something but all the new versions of seeder seem to send 3 parameters into utils.filterDown.  filterDown in all newer versions seems to take 3 parameters.  You may not see the issue unless you delete and re-download node_modules.  I am picking up db-migrate-shared@1.1.2 because of the following line in package.json.

    "db-migrate-shared": "^1.0.2",

[2016-11-02 18:24] wzrdtales commented on #440
@blueshirts That is b/c seeder is not marked as stable and is being postponed. Sorry for the confusion, you wont be able to use it as of now. I still need to get it out of the CLI, I am currently working on the docs to get them in a state afterwards we going to release the 0.10.x version. Seeders are about to come in any of the future version after 0.10.x though.

[2016-11-02 18:24] #440 closed

[2016-11-02 18:38] blueshirts commented on #440
Looks like the same call is also in migrator.js so I probably have the wrong reference that was causing the problem.

    $ grep -R filterDown *
    lib/migrator.js:      var toRun = dbmUtil.filterDown(completedMigrations, count);
    lib/seeder.js:      var toRun = dbmUtil.filterDown(completedSeeds, count);

Looks like this reference is updated in beta 19.

https://github.com/db-migrate/node-db-m

[2016-11-02 19:07] wzrdtales commented on #440
Ah yes you're right:

https://github.com/db-migrate/node-db-migrate/compare/v0.10.0-beta.18...v0.10.0-beta.19#diff-ab64bdc9e95eb3722ad8f302f6b92250R206

[2016-11-04 23:27] fantapop commented on #401
We just picked this library up.  It would be great to get rid of this boilerplate when using pure sql.  fwiw, I would also like the option to choose either sql or js for a specific migration.

[2016-11-08 12:28] Kilgaloon opened #442 "Migration fail to write to migration table"
Like title says, everything goes fine, table is created etc etc, but migration table doesn't get populated. When i do db-migrate up it just hangs, nothing gets returned.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39077883-migration-fail-to-write-to-migration-table?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues

[2016-11-08 20:39] wzrdtales commented on #442
Hey @Kilgaloon,

unfortunately we can't help you if you don't provide us all informations necessary to reproduce your case.

This means, **always** post:

- used node version
- used npm version
- used db-migrate version
- used driver and its version
- used plugins
- full output of the verbose run
- in complex cases a full gist, as an executable proof
- if necessary used migrations and configuratio

[2016-11-09 10:08] Kilgaloon commented on #442
Okay, here it comes.

Node version: 7.0.0
Npm version: 3.10.8
Db-migrate version: 0.10.0-beta.20
db-migrate-mysql: 1.1.10

Verbose output:

[INFO] Using dev settings: { driver: 'mysql',
  user: '*******',
  password: '******',
  host: '********',
  database: '********' }
[INFO] require: db-migrate-mysql
[INFO] connecting
[INFO] connected
[INFO] creating table: migrations
[SQL] CREATE TABLE IF NOT

[2016-11-09 11:27] wzrdtales commented on #442
Please don't cut the result of the verbose run. If you hide all information that are giving any clue about your actual problem, then we can't help you.

[2016-11-09 11:28] Kilgaloon commented on #442
Point is i didn't cut out anything, thats where verbose output stops, and hangs, it will never move from that point.

[2016-11-09 11:33] wzrdtales commented on #442
Ok can you please provide me a migration where this happens

[2016-11-09 11:54] Kilgaloon commented on #442
Ok so, i noticed whats going on here, migrations that hangs when you try to migrate are the ones where exports.up doens't return null. when i added null everything passed just fine.

[2016-11-09 17:08] wzrdtales commented on #442
ah yes ok, I already assumed that you had something like that in your migration. `return null` is equal to `return Promise.resolve()` and you need to return either a promise or null otherwise it is waiting forever. The same goes naturally if you would use callbacks.

As this is solved I close this issue now. If you should have any other problem, feel free to reach out.

[2016-11-09 17:08] #442 closed

[2016-11-10 20:44] ivarconr commented on #406
gah, I used almost an hour on the same issue today, not understanding why my tests wouldn't migrate the test-database correctly.

[2016-11-16 14:33] SeanJOBrien opened #443 "[ERROR] TypeError: Cannot read property 'split' of undefined"
Hi There,

Not sure if this is a bug or an issue but for the moment lets make it a question, ive got a set up thats working with db-migrate installed locally running in a docker container that is picking up environment variables within the config which is great thank you for that. Once i move from there to trying to insert the module in an application im getting the error "[ERROR] TypeError: Canno

[2016-11-16 18:03] wzrdtales commented on #443
Can you please post the full stack trace? And use the code blocks next time to make your snippet better readable, just edited it for you ;)

[2016-11-16 18:04] wzrdtales commented on #443
And why do you run `dbmigrate.run();` instead of usin the programable API methods?

[2016-11-16 18:05] wzrdtales commented on #443
Maybe this already helps you:

Here are example of how to use the programable API:

# Promise Style
https://github.com/db-migrate/api-examples/blob/master/promise.js

# Callback Style

https://github.com/db-migrate/api-examples/blob/master/index.js

[2016-11-17 00:43] SeanJOBrien commented on #443
Updated it all to code blocks sorry about that ill give that a go in the morning see if it sorts me i was following the example here

https://db-migrate.readthedocs.io/en/latest/API/programable/

Just need it to run a migration so i can log the errors to file so not doing anything crazy with it for the moment.

[2016-11-17 05:46] wzrdtales commented on #443
@SeanJOBrien Yes, this is referring to calling the `default` behavior meaning the cli. Maybe I should adjust also the comment of that example `//get an instance and call the standard runtime behavior` as it seems to be confusing.

Anyway the docs for te programable API will improve, I hope I get some time this evening to write the last few lines and examples and push them out.

[2016-11-17 09:02] SeanJOBrien commented on #443
Running up seems to have solved my original problem but caused another ill see if i can self resolve this and get back to you the run() still wasn't working for me but in this case i don't need it i can work away now thank you for your time.

[2016-11-17 09:02] #443 closed

[2016-11-17 11:42] wzrdtales commented on #443
you also don't want `run`;). This starts the cli mode

[2016-11-21 01:44] staff0rd commented on #84
I think it would be easy enough to check for parentheses in the string to determine whether or not to surround the value in strings.  However, there are several different ways to get the current time across different dbs, and some that don't use parentheses.

#### PostgreSQL

[code]

#### SQLite

[code]

#### MySQL
[code]

[2016-11-21 02:59] staff0rd opened #445 "How to access config in migration"
How can I access the config in a migration?  For example - what driver is currently being used?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39406600-how-to-access-config-in-migration?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2016-11-21 14:00] wzrdtales commented on #445
@staff0rd

Fist a question: Why do you want this? Just from the point that you raise, I want the config in the migrations, I would say, this is never going to be supported officially. So I need the usecase from you, what exactly you need and why.

If your need is simply knowing which driver is used, there is a function named `checkDBMS`, which currently has no function, but is defined to check if

[2016-11-21 23:57] staff0rd commented on #445
Which driver is being used is pretty much it - basically so I can write database specific migration code.  For example, for my dev/local environment I'm using sqlite, however for test and production i'd use postgres.

I'd expect to be able to write migrations that can sync schema to either of those db from the same set of migrations, so I'd need to (at times) check the driver to call vendor-specif

[2016-11-22 11:43] wzrdtales commented on #445
Yes makes sense. This was also the intention behind checkdbms .  I will have a look to add the missing bit and put that into the pipeline.

[2016-11-22 11:48] jun1111 opened #446 "Error "Cannot read property 'split' of undefined" when doing migration with db-migrate module in postgres database"
I followed the documentation here to try to migrate a schema in my postgres database using module db-migrate.
https://umigrate.readthedocs.io/projects/db-migrate/en/latest/API/programable/

Here is the code snippet:
[code]

I got the following error:
error ...... : ErrorStack=TypeError: Cannot read property 'split' of undefined
    at run (......\node_modules\db-migrate\api.js:1150:20)
    at Obje

[2016-11-22 13:08] jun1111 commented on #446
I have changed to used the "up" function instead of the "run" function and was able to do the migration successfully.

[2016-11-22 19:07] LandonSchropp commented on #393
For anyone who runs into this, my workaround was to create a separate `database_create.json` configuration file that looks like this (without a `database` property):

[code]

I then run the create command like this:

[code]

[2016-11-23 01:15] staff0rd commented on #352
https://docs-0-10.dbmigrate.wizardtales.com/API/Seeder

[2016-11-23 05:00] staff0rd commented on #292
I think that seeding is released now considering the version is 0.10.0-beta.20?

@wzrdtales can you please advise how to create a seed template & link it to a migration?

[2016-11-23 05:52] wzrdtales commented on #292
@staff0rd Much of it was done already, I decided to post pone it to a later release however anyway. From 0.9.x to 0.10.x a lot has changed. If not everything has changed, while still kept as backwards compatible as possible. I have decided this b/c 0.10.x should finally leave the "beta" stage, it is since a while actually stable, but without proper docs and some missing tests it is not ready for r

[2016-11-24 00:47] #445 closed

[2016-11-28 17:08] ryanrolds commented on #292
Where can documentation on seeders are supposed to work and how to use them be found? The documentation at https://db-migrate.readthedocs.io/en/latest/Getting%20Started/usage/#seeder-introduction is very lacking.

The current state of this project (beta versions being pushed to NPM, links to a GH tag would have made more sense for dev/beta releases) and the lack of published documentation is causi

[2016-11-29 14:38] lampe opened #447 "How to update a mongodb collection"
I have the following code:
[code]

Baiscly what i want is to update specific fields.

What iam getting is:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39613002-how-to-update-a-mongodb-collection?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2016-11-30 14:50] #439 closed

[2016-11-30 14:57] #214 closed

[2016-11-30 14:57] #45 closed

[2016-11-30 14:57] #133 closed

[2016-11-30 14:57] #182 closed

[2016-11-30 16:09] #308 closed

[2016-11-30 16:09] #406 closed

[2016-12-06 00:17] jonathan-rodan opened #448 "Triggering a migration form code"
To make it easier for new developers joining the company, I want to run the migrations on the startup of a service (only for the development environment).

Would it be possible to export a usable interface that can be called form code?

I would like to be able to do something like:

[code]

Some functions might need to be exposed to allow the code to specify the `cwd`.

<bountysource-plugin>
---
W

[2016-12-12 22:13] Wenzil opened #449 "Programmable API still uses CLI arguments"
I'm trying to run migrations at start up of the server. Problem is I launch the server with CLI arguments that conflict with *db-migrate*'s. *db-migrate* tries to use those arguments but they aren't at all intended for db-migrate.

For example, specifying test timeout of test runner [lab](https://github.com/hapijs/lab) using the **-m** CLI argument:

[code]

throws the following error:

[code]

be

[2016-12-12 22:15] Wenzil commented on #449
I'm on version *0.10.0-beta.20*

[2016-12-13 14:43] ririlapraline commented on #79
@GreatKikale could you show me your database.json file ? Thank you

[2016-12-13 18:29] GreatKikale commented on #79
Sure! Here it is, in my case I have two environments:

[code]

[2016-12-14 15:57] wzrdtales commented on #449
Good catch,

I need to clear up after optimist if loaded as module.

[2016-12-15 05:34] troygoode commented on #406
@wzrdtales any ETA on when this will make its way to npm?

[2016-12-15 09:26] ririlapraline commented on #79
@GreatKikale Thanks !

[2016-12-16 19:43] wzrdtales commented on #406
@troygoode Ah sry, I'm currently busy moving to a new accomodation so I'm not as responsive as I wish to be. I can push out another beta release the next days, I wanted to finalize everything and push the stable 0.10.x out, but the move eat way more time than I expected in the beginning.

[2016-12-20 09:33] wzrdtales commented on #448
@jonathan-rodan
Hey first of all, sry for answering that late, I was and still am moving to a new accomodation and therefore nearly no free minute.

This is already possible, you're asking for a programable access right? If so:

https://db-migrate.readthedocs.io/en/latest/API/programable/#handle-the-oncomplete-callback-outside-of-db-migrate

And for the cwd you can pass a configuration object into

[2016-12-26 11:06] maxsummers opened #451 "RC configuration is ignored"
Hello!

I've created the `.db-migraterc` file at root of my project with the following content:

[code]

But, when I run `db-migrate create test` it tell me that it can't find the configuration file in: `database.json`.

How do I specify path to config file and migrations directory in RC-file?

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountys

[2016-12-26 11:20] maxsummers opened #452 "Reduce boilerplate code when running migrations from SQL files"
When `sql-file` option is used it creates the following migration file:

[code]

This is a huge amount of non-optimized boilerplate code.

It's pretty common to have hundreds of migrations in actively developed project. Now, consider this boilerplate multiplied by one hundred. This will increase code base size significantly and will take additional time for IDE to analyze the code and build it's i

[2016-12-26 15:00] wzrdtales commented on #451
@maxsummers This is not yet released, the latest docs really are the latest docs though and include stuff not yet there :). There is also a 0.10.x and 0.9.x doc tree where only released stuff is included.

I will have some more time the next days (was quite busy the last weeks moving to a new accomodation though) and will push out a new version including the RC configs.

[2016-12-26 18:43] wzrdtales commented on #452
Duplicate of #401

[2016-12-26 18:48] wzrdtales commented on #452
@maxsummers Please have a look in the other issue I linked above and read my comments over there, I have already stated about some things that need to be in place to actually do what you ask for.

Fact is: SQL migrations currently do not exist, there is just a template and you basically still use javascript migrations. So yes this is true, but this is a migration framework that started with just j

[2016-12-27 12:17] tatianacmh commented on #292
Since the insert method is deprecated I'm using the normal runSql, still, I'm curious about how to use seeders, but I guess we have to wait,

Again, thank you for your work :)

[2017-01-02 02:29] troygoode commented on #452
@maxsummers this was driving me nuts so I pulled the boilerplate out into a separate package that you can use:

https://www.npmjs.com/package/db-migrate-boilerplate

This simplifies what you're committing into your repo to:

[code]

[2017-01-05 08:37] wzrdtales commented on #452
@troygoode :) +1

I've made some thoughts about that again, and it might be quite a good option to handle the word `sql` as a keyword that can not be used to name a scope, just like `all`. That way the problem described above wouldn't exist anymore and a name schema like the already existing ones would work to directly execute sqls.

[2017-01-05 11:48] yonahforst commented on #84
For anyone interested in this, my workaround was to use:
[code]
`typeof new String()` returns `object` and therefore it's not wrapped in `""`, but it still gets converted to a string during the join

[2017-01-05 15:39] foucdeg opened #453 "Silent mode"
Hello,
I use db-migrate on my project, to create a test database from scratch as part of each build on TravisCI.
db-migrate outputs every SQL query it runs, which produces around 80K lines of log in my build, and that makes it difficult for me to scroll down my build logs looking for errors.

Can db-migrate have a "silent" mode where it only outputs one line per migration?

<bountysource-plugin>
-

[2017-01-08 10:08] wzrdtales commented on #453
Hey @foucdeg

Yes there is a silent mode, but db-migrate is really silent in this and don't say anything. Your described behavior is the verbose behavior, normally db-migrate does not do what you tell.

Can you give us a bit more insight about what you're executing on travis?

[2017-01-11 16:54] DesignByOnyx opened #454 "Process does not exit after successful migration [$30]"
I am using `v.0.10.0-beta.20` and the mongodb driver.

I have tied both the Promise and callback strategies, but the process just hangs.

[code]

![image](https://cloud.githubusercontent.com/assets/514040/21857475/cd1d6e04-d7e2-11e6-9ba3-784161cc2aff.png)

The migration is actually running successfully but it doesn't ever "finish". The process **does** exit if there are no migrations to run, if th

[2017-01-11 17:49] wzrdtales commented on #454
@DesignByOnyx Let me try to reproduce this first can you tell me also your used node version?

Coming back to you in a few minutes.

[2017-01-11 17:55] DesignByOnyx commented on #454
Hey, I just switched to a new machine 2 days ago and thought this was on node 6 but it's actually on v5.6.0. But I can confirm the issue is happening on Travis running on v6.5.0.

Also, I think the problem has to do with the fact that callback is always ever defined on the internals object: https://github.com/DesignByOnyx/node-db-migrate/blob/master/lib/commands/on-complete.js

[2017-01-11 17:56] wzrdtales commented on #454
Ok here I am again, wasn't able to reproduce this. But noticed you are missing the arrow in the function definition, guessing you wanted to use arrow functions?

Here is the migration I can run up and down adapted from your examples:

[code]

No problems here though:

[code]

[2017-01-11 17:58] wzrdtales commented on #454
Can you tell me which version of the mongo driver you were using and which mongodb server version you're running?

[2017-01-11 18:00] wzrdtales commented on #454
And could you please also post a verbose run? Thank you

[2017-01-11 18:02] DesignByOnyx commented on #454
That's just a typo in the code above, my bad. My local code is actually correct.

I am using db-migrate-mongodb@1.1.4

[code]

[2017-01-11 18:04] DesignByOnyx commented on #454
[code]

[2017-01-11 18:05] wzrdtales commented on #454
Does the db-migrte down command also hang for you? Or is this one exiting correctly?

[2017-01-11 18:07] DesignByOnyx commented on #454
I hangs on both `down` and `up. It only hangs when a migration actually runs successfully. Failures and no-migrations exit successfully.

[2017-01-11 18:11] wzrdtales commented on #454
@DesignByOnyx This is the project where the problem occurs? https://github.com/donejs/bitcentive

If yes I'm gonna have a look.

[2017-01-11 18:12] DesignByOnyx commented on #454
Yes :) - thanks.

Also, I created my own branch and tested my internals theory and it appears to work. Still testing.

https://github.com/db-migrate/node-db-migrate/compare/master...DesignByOnyx:454-process-hanging?expand=1

[2017-01-11 18:14] DesignByOnyx commented on #454
doh - scratch that. The internals call was not the fix.

[2017-01-11 18:15] wzrdtales commented on #454
@DesignByOnyx Give me a moment npm installing :)

[2017-01-11 18:27] DesignByOnyx commented on #454
Hit me up on screenhero if you want to keep this thread clean - ryan@bitovi.com. Or provide another chat client that you prefer (gitter, slack, et al).

Also, the test uses `force-exit` to make the process exit. Running `db-migrate [up|down] --force-exit` solves the problem for me, though it doesn't feel right.

[2017-01-11 18:42] wzrdtales commented on #454
Don't have a screenhero account and they're invite only currently, but you may reach me at tobi@wizardtales.com which is my XMPP (jabber) id.

However, the problem is with the service you're calling. It does not close the socket, therefore node is not going to stop.

You can look stuff like this up with this:

[code]

This is an undocumented command to list open handles which can help you to debug

[2017-01-11 18:50] DesignByOnyx commented on #454
ah, ok - It must be because I am including our app which sets up sockets and such. The method I'm calling is directly on a mongoose Model - the sockets are just a side effect of loading our app. Thanks so much man, this is a problem we can solve on our end.

[2017-01-11 18:52] wzrdtales commented on #454
This would be a working fix though :)

[code]

[2017-01-11 18:53] wzrdtales commented on #454
@DesignByOnyx No Problem :)

[2017-01-11 18:58] wzrdtales commented on #454
Just edited for you, guess you ment `force-exit` not `force-update`.

Feel free to reach out again if you should encounter any other problems.

[2017-01-11 19:02] wzrdtales commented on #454
And a last tip:

[code]

This is another function (also not documented), which is the other case where a node application may be stuck if it is not an open fd.