[2011-12-14 20:11] joeferner opened #1 "create an API to allow running migrations from unit tests"
This API will need a callback on completion. It would also be nice to have a method to wipe the database out or a safe drop table.

[code]

[2011-12-14 20:32] joeferner opened #2 "drop table 'ifExists' and createTable 'engine' and 'ifNotExists' options"
the code could look like this:

[code]

[2011-12-15 01:31] #2 closed, assigned to nobody

[2011-12-15 16:43] #1 closed, assigned to nobody

[2011-12-15 17:42] joeferner opened #3 "order is not guaranteed when running migration statements"
Example. If I have a table named "people" and my migration tries to drop the table and then recreate it I would expect that to work. Instead I get a people table already exists error.

to fix this maybe all sql statements should be queued up and executed in order. use https://github.com/caolan/async#queue with a concurrency of 1?

[2011-12-30 21:18] nehresma opened #4 "executeCreate broken if migration directory exists"
With the refactoring done in 38cfdf8f, createMigrationDir only calls the callback if the migration directory doesn't exist.

[2011-12-30 21:20] #4 closed, assigned to nobody

[2011-12-31 00:45] #3 closed, assigned to nobody

[2012-03-01 00:49] grahamc opened #10 "Migration Failure Exits with Error Code 0"
[code]

I would have expected it to exit with a non-zero to indicate a failure, allowing scripts to bail out appropriately.

[2012-03-02 02:12] #10 closed, assigned to nobody

[2012-03-06 03:19] grahamc opened #11 "Doesn't seem to respect mysql config options"
Unless I'm completely screwing it up.

Here's my database.json:

[code]

And how I'm executing it:

[code]

But here is evidence I can connect with those connection parameters:

[code]

Of course I changed the parameters to protect the innocent.

[2012-03-06 04:16] #11 closed, assigned to nobody

[2012-06-17 04:32] trivektor opened #18 "[Error: Cannot find module 'mysql']"
I got the above error when running 'db-migrate' up. I have installed mysql using 'npm install mysql'. My database.json is located here https://github.com/trivektor/Scrummy/blob/master/database.json. Please advise. Thanks.

[2012-07-09 08:18] alphand opened #20 "error:relation "migrations" already exists"
Hi I got this issue with this Postgresql migrations
running on mac with postgre 9.1.3

[code]

[2012-07-09 10:33] #20 closed, assigned to nobody

[2012-07-11 19:59] kunklejr opened #21 "dropTable under PostgreSQL doesn't work"
SQL is wrong. Fix is coming soon.

[2012-07-12 17:05] #21 closed, assigned to nobody

[2012-07-16 23:32] sl-church opened #22 "Test value of 'env'"
Is it possible to test the value being used for 'env' from within a migration?  I would like to add additional records for 'test' and 'dev' environments.  I'm looking for something like:

[code]

I suppose I could just parse the command line myself but it seems like this should be an API function.  I am new to node.js so I hope I am not missing something obvious.

[2012-07-18 17:25] rmatous opened #23 "add insert method to API"

[2012-07-18 17:26] rmatous opened #24 "add env to db-migrate"

[2012-07-18 17:30] #24 closed, assigned to nobody

[2012-07-21 21:05] jpravetz opened #25 "Does not work with module mysql v2.0.0-alpha3"
db-migrate works with mysql version 0.9.6, however it doesn't appear to work with version 2.0.0-alpha3.

The mysql site (https://github.com/felixge/node-mysql) writes:
npm install mysql@2.0.0-alpha3
Despite the alpha tag, this is the recommended version for new applications. For information about the previous 0.9.x releases, visit the v0.9 branch.

According to the change notes, "The first thing y

[2012-07-25 09:02] ap116 opened #26 "sql error creating migrations table"
db-migrate up --config config.json -e dev

message: 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'(255) NOT NULL, run_on INTEGER  NOT NULL)\' at line 1',
  sql: 'CREATE TABLE IF NOT EXISTS migrations (id INTEGER  PRIMARY KEY auto_increment NOT NULL, name VARCHAR(255) (255) NOT NULL, run_on INTEGER  NOT NULL)

[2012-07-26 13:49] lucj opened #27 "Error when running migration against sqlite3"
Hello,

When running the following migration:

[code]

I got the following error message:

[ERROR] { [Error: SQLITE_ERROR: near "(": syntax error] errno: 1, code: 'SQLITE_ERROR', __augmented: true }

I use node-sqlite3 version 2.1.5

Any idea of the problem ?

thanks,
Luc

[2012-07-26 18:51] #23 closed, assigned to nobody

[2012-07-26 19:53] #22 closed, assigned to nobody

[2012-07-27 07:37] ap116 opened #33 "rows deleted from migrations table when down migrations run"
I think it would be better to keep the rows so you have a complete audit log of what migrations have been applied to the database.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258681-rows-deleted-from-migrations-table-when-down-migrations-run?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)*

[2012-07-30 19:15] brweber2 opened #34 "Add support for 'pass through' column info"
This would enable db specific column info.  For example, on a table create:

db.createTable( 'name', {
  id: {  type: 'uuid',
         passthrough: true,
         primaryKey: true
  }
}

If an unrecognized type is found and passthrough is not explicitly set to true, you could throw an error.  If passthrough is true, just write out the value to a string and try to execute the sql...

This would ena

[2012-07-30 19:15] brweber2 opened #35 "Add support for constraints on columns"
Especially foreign keys.

Maybe something like this:

colName: { type: 'string',
                   constraints: {
                       notNull: true
                       foreignKey: {name: 'fk_employee_id', references: 'employee(id)' }
                   }
}

[2012-08-02 19:24] #18 closed, assigned to nobody

[2012-08-03 02:29] #34 closed, assigned to nobody

[2012-08-03 15:45] #26 closed, assigned to nobody

[2012-08-03 15:46] #27 closed, assigned to nobody

[2012-08-15 01:06] #25 closed, assigned to nobody

[2012-08-29 15:14] jpravetz opened #45 "Document a contract for accessing db-migrate as a module"
This is not so much an issue as a request.
I'm including db-migrate as a module require() and writing my own equivalent of bin/db-migrate. This is because I need to manage and migrate a dynamically generated list of databases (e.g. one per customer).
The API is documents for use as a command line application, but  not for use as a module, and I just want to make a request that an effort be made to

[2012-09-11 23:23] gilbo opened #47 "--migration-dir option ignored when creating migrations"
The following command:

[code]

will correctly create the components/database/migrations directory if it doesn't yet exist.  But, it will then try to open

[code]

instead of

[code]

I looked at the code and figured out that the directory option isn't even getting passed to the index.createMigration() call.  It also isn't getting stored away anywhere else.  Instead the function formatPath() in mi

[2012-09-17 15:06] #47 closed, assigned to nobody

[2012-09-19 03:34] brweber2 opened #49 "Support require('pg') and require('pg').native to enable SSL connections"
Here is what I really want to do:
- update my database.json file with my heroku postgres db connection info
- run db-migrate against a remote postgres heroku instance

Heroku only allows remote connections to come over SSL. My understanding is that this requires('pg').native. So I'd love for some way to specify whether I want 'pg' or 'pg' native. Then I can try to run my remote migrations (and I'l

[2012-09-24 04:22] ryanmeador opened #50 "PG driver doesn't escape strings in insert()"
Running a line like this produces a SQL error because the apostrophe in "isn't" isn't escaped in the string sent down to the DB, thus producting a syntax error.

[code]

[2012-09-24 05:40] ryanmeador opened #51 "migrations get run in the wrong order"
I have a whole bunch of migrations I've built up over a period of time, and I just tried to run them on an empty database (to create a brand new database for my app).  I received errors that indicate the migrations are being run in the wrong order (using --verbose I see it running a migration that it shouldn't be running based on the timestamps).  I'm at a loss to explain how this could happen fro

[2012-09-29 01:04] #50 closed, assigned to nobody

[2012-10-10 17:05] #51 closed, assigned to nobody

[2012-10-15 20:28] jvanalst opened #52 "Running db.removeIndex as documented fails"
The documentation says to call removeIndex as

[code]

However, doing so against a MySQL server leads to

A cursory search of the code base shows that in lib/driver/base.js it  is indeed `removeIndex(indexName, callback)`
However in lib/driver/mysql.js it is `removeIndex(tableName, indexName, callback)`

This makes the API inconsistent. I suspect both base.js and the documentation need to be updat

[2012-10-18 07:05] jakobdamjensen opened #53 "[ERROR] { [Error: Cannot find module 'pg'] code: 'MODULE_NOT_FOUND' }"
Trying to test this with a postgresql database which is running. I can connect via the pg module on my own but I can't load the pg module via db-migrate.

Here's my config:

{
  "dev": {
    "driver": "pg",
    "user": "jakobdamjensen",
    "password": "mysecret=)",
    "host": "localhost",
    "database": "ingenium_golf"
  }
}

The pg module is installed (v.0.8.4) and is working in my node app.

[2012-10-18 07:18] #53 closed, assigned to nobody

[2012-10-25 16:48] stenington opened #54 "Incorrect datetime value for migrations table insert on Travis-CI"
I'm using db-migrate in a project where it works great locally, but then I get a bunch of these on Travis-CI:

[code]

I'm not sure if this is a bug or there's something I need to be doing config-wise.

[2012-10-25 22:44] brweber2 opened #55 "Add a 'dry-run' task to dump the sql that would be run without actually running it"
This would be really helpful when db-migrate can't be run directly and would help in debugging.

[2012-10-29 18:58] #52 closed, assigned to nobody

[2012-10-30 12:41] #54 closed, assigned to nobody

[2012-10-31 11:58] kadishmal opened #56 "Add support for CUBRID Database"
Do you have plan to add CUBRID Database (http://www.cubrid.org) support in node-db-migrate? What would it take to support CUBRID?

CUBRID provides high level of SQL compatibility with MySQL, so I think adding support would be straightforward.

[2012-12-17 15:38] rjkip opened #59 "Cannot `changeColumn` with primary key using MySQL"
When I try to `MysqlDriver#changeColumn()`, no `options` are passed to `MysqlDriver#createColumnDef()` and `#createColumnConstraint()`. These options are used when changing a primary key. The migration stops here:

[code]

What are these options and what is `emitPrimaryKey`?
## Migration

[code]

[2012-12-17 15:48] rjkip opened #60 "MySQL: cannot add `AUTO_INCREMENT` to column."
Currently (assuming #59 and #61 are addressed) one cannot add `AUTO_INCREMENT` to a column.

[code]

... currently results in:

[code]

It should be (perhaps by omitting `primaryKey: true`):

[code]

[2012-12-17 15:56] rjkip opened #61 "MySQL: invalid `CHANGE COLUMN` syntax"
The MySQL driver currently has an invalid `CHANGE COLUMN` syntax. It should include a new column name (this can be the old name).

[code]

[2012-12-18 14:30] #61 closed, assigned to nobody

[2012-12-18 14:36] #59 closed, assigned to nobody

[2013-01-08 09:51] #60 closed, assigned to nobody

[2013-01-09 15:05] joeferner opened #62 "add support for mysql's LONGTEXT"
TEXT is limited to 64kb. LONGTEXT is 4GB. Add support for LONGTEXT.

[2013-01-22 22:11] g-pavlik opened #65 "db-migrate freezes"
$node --version
v0.8.12

$ npm list
node-postgres@0.0.0 /home/greg/work/node-postgres
├─┬ db-migrate@0.3.0
│ ├── async@0.1.22
│ ├── mkdirp@0.3.4
│ ├── moment@1.7.2
│ ├─┬ optimist@0.3.5
│ │ └── wordwrap@0.0.2
│ └── semver@1.0.14
└─┬ pg@0.11.3
  └── generic-pool@2.0.2

$ ./db-migrate up -v
[INFO] Using dev settings: { driver: 'pg',
  user: 'dev',
  password: 'dev',
  host: 'localhost',
  database: '

[2013-01-23 02:56] #62 closed, assigned to nobody

[2013-01-23 02:56] #55 closed, assigned to nobody

[2013-01-24 21:44] #65 closed, assigned to nobody

[2013-02-12 15:40] toolness opened #68 "Please document the supported version(s) of node-mysql"
Hey, this module looks awesome! My current project uses mysql 0.9.5--an older-than-usual version--and I wasn't sure what versions you support, since mysql isn't explicitly mentioned as a dependency in `package.json` (probably with good reason, since you don't want folks using your product w/ sqlite or pg to needlessly bring it in). However, the minimum version requirement also isn't documented in

[2013-02-14 14:21] mcandre opened #69 "Redis support?"
Could we add Redis support? I'm not sure if that would even make sense, since Redis is a key-value not a schema-based.

[2013-02-14 14:33] mcandre opened #70 "Feature request: Setup empty databases."
E.g., NIC+ uses db-migrate, but dev environments require the developer to manually configure MySQL first, creating empty databases.

Could db-migrate do this for us?

[2013-02-14 14:51] mcandre opened #71 "How do I specify a database password?"
I can't see an option in usage for specifying a database password.

Does db-migrate require the databases to have no password?

[2013-02-14 14:58] mcandre opened #72 "Feature request: db-migrate --version command line flag"
It's often helpful to be able to `--version` a command line program to report its version number, e.g. for retrieving system specs in bug reports.

In the mean time, this is available as `npm list db-migrate`, but only from a project directory for which db-migrate is a dependency.

[code]

[2013-02-14 15:17] #72 closed, assigned to nobody

[2013-02-14 15:18] mcandre opened #74 "db-migrate sitting on "done"..."
db-migrate appears to successfully execute migrations, but when it's done, it sits there without returning to the shell. I have to manually press Control+C to break out.

Trace:

	$ db-migrate up
	[INFO] Processed migration 20120828003940-add-users
	[INFO] Processed migration 20120830212635-add-approver-id-to-users
	[INFO] Processed migration 20120831174003-add-roles
	...
	[INFO] Processed migrati

[2013-02-14 17:39] #69 closed, assigned to nobody

[2013-02-14 17:41] mcandre opened #75 "Support for other databases"
- MSSQL

[2013-02-14 18:03] #71 closed, assigned to nobody

[2013-02-15 18:11] bpartridge opened #76 "Typo? type.BLOG instead of type.BLOB in pg.js"
At the moment I don't have a test case to make this fail, but it seems like it would throw an exception if a blob type was used on postgres. It's not a priority for me, but I could submit a pull request if needed.

https://github.com/nearinfinity/node-db-migrate/blob/master/lib/driver/pg.js#L36

[2013-02-15 22:58] btakita opened #77 ""Error: Cannot find module " when migration file does not exist"
After a while, the project accumulates a large number of migrations.

When working in Rails, I typically delete and squash migration files to reduce clutter.

node-db-migrate seems to require the migration file immediately, instead of lazily, which causes an error after I remove a file.

[2013-02-24 17:30] g-pavlik opened #79 "What is the proper way to migrate DB on heroku?"
Can't possibly make that working, probably there's need to force migration to use ssl, but how to do it?

Code pushed to heroku then

[code]

does not finds any migrations (db-migrate is symbolic link to node_modules/db-migrate/bin/db-migrate)

please refer to #49 as there's some info about fallback to database.js (which is not working as I checked), and there's no info what to return there?

Manu

[2013-02-28 01:27] #77 closed, assigned to nobody

[2013-02-28 01:28] #76 closed, assigned to nobody

[2013-03-06 09:27] xadd opened #81 "how do i specify a column that has type "BIGINT"?"
there is no "bigint" in lib/data_type.js, is there a way i can manually add this?

[2013-03-06 17:00] #81 closed, assigned to nobody

[2013-03-20 01:28] devinfoley opened #82 "Dry Run on First Migration Fails"
When I try using --dry-run during my first migration, I get this.

$ node_modules/.bin/db-migrate up -v --config config/database.json -e dev --dry-run
[INFO] dry run
[INFO] Using dev settings: { driver: 'pg', database: '***' }
[INFO] require: ./pg
[INFO] connecting
[INFO] connected
[SQL] select version() as version
select version() as version
[ERROR] TypeError: Cannot read property 'rows' of undef

[2013-03-20 01:33] devinfoley opened #83 "Postgres insert into migrations table fails to quote date"
Running my first migration, once I turned off --dry-run (https://github.com/nearinfinity/node-db-migrate/issues/82), my migrations successfully ran (even with hstore and uuid column-types, thanks for that), but the migration failed to write to the migrations table:

$ node_modules/.bin/db-migrate up -v --config config/database.json -e dev
[INFO] Using dev settings: { driver: 'pg', database: '_**'

[2013-03-20 04:41] #83 closed, assigned to nobody

[2013-03-21 06:35] devinfoley opened #84 "Support for functions in defaultValue?"
Is there any support, or plans for supporting functions like 'now()' in defaultValue? Maybe something like defaultFunction, where the value would not be quoted in the resulting SQL?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258436-support-for-functions-in-defaultvalue?utm_campaign=plugin&utm_content=tracker%2F73887&utm_med

[2013-04-07 21:24] ryanflorence opened #86 "postgres array types not supported"
I expected `integer[]` to work just like `integer` does, but it doesn't.

For now I can just use runSql, so no big deal, but maybe you want to support it. Feel free to close this w/ no explanation if you don't want to!

sample code:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258379-postgres-array-types-not-supported?

[2013-04-08 04:11] ryanflorence opened #87 "feature: load schema"
Would be good for db-migrate to keep track of a full database schema so you can just load up the schema on new installs instead of running every migration.

`db-migrate load`
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258316-feature-load-schema?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=git

[2013-04-17 22:14] noazark opened #91 "Fatal error: Cannot read property 'emitPrimaryKey' of undefined"
I am trying to add a MySQL primary key column with `addColumn` which is throwing the error:

The problem comes from [/lib/driver/mysql.js#L68](https://github.com/nearinfinity/node-db-migrate/blob/2745368a164ae704b4e637df7a4d63e6b792c51b/lib/driver/mysql.js#L68). The code is assuming that primary keys (and auto increments) will only be added in `#createTable` which is incorrect. I fixed this by cha

[2013-04-18 17:55] mcandre opened #92 "renameColumn: TypeError ... in MySQL driver"
I'm trying to rename a column, perhaps I'm doing something wrong.

**Trace**

[code]

**Migration**

[code]

**System**

[code]

[2013-04-25 19:17] bikashrai opened #94 "addColumn if not exist"
errors out if the column already exist during "addColumn({'table',{pec},callback});
Is there any way to achieve this when adding a column that already exists ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258072-addcolumn-if-not-exist?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept

[2013-05-09 12:45] swatisinghi opened #97 "Default charset"
I am using mysql, the default charset is latin1. I want utf8 as the charset. Is there a way I can specify default charset, collate, etc.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1258022-default-charset?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2013-05-10 16:57] #92 closed, assigned to nobody

[2013-05-10 17:09] #75 closed, assigned to nobody

[2013-05-10 17:11] #56 closed, assigned to nobody

[2013-05-19 13:53] alexishevia opened #99 "How to set default CURRENT_TIMESTAMP on a timestamp field?"
I tried the following:

[code]

But got the following error message:
`Error: ER_INVALID_DEFAULT: Invalid default value for 'creationDate'`

If I remove the quotes on CURRENT_TIMESTAMP, I get:
`ReferenceError: CURRENT_TIMESTAMP is not defined`

[2013-05-24 20:36] chani3 opened #101 "changeColumn ignores column type"
I ended up using raw sql to change my column type, because changeColumn silently ignores it. it'll change other parts of the column spec, like unique, but not the type.

here's my exports.up:
    db.changeColumn(
        "stream"
        , "questionid"
        , { type: 'int' }
        , callback);

 when I ran the migration with verbose, this was the sql I got instead:

[SQL] ALTER TABLE stream A

[2013-05-24 20:41] chani3 opened #102 "--dry-run crashes"
even if there are no migrations to run, using --dry-run fails with this error:

[ERROR] TypeError: Cannot read property 'rows' of undefined
    at Class.<anonymous> (/usr/local/lib/node_modules/db-migrate/lib/driver/pg.js:57:19)
    at Class.Base.extend.runSql (/usr/local/lib/node_modules/db-migrate/lib/driver/pg.js:192:18)
    at Class.Base.extend.createMigrationsTable (/usr/local/lib/node_module

[2013-05-24 20:43] #102 closed, assigned to nobody

[2013-06-03 05:21] olalonde opened #104 "Feature request: using db-migrate without a database.json file"
Would be nice to be able to use node-db-migrate without specifying a database.json file as it leads to duplication if you already have a configuration file that doesn't follow node-db-migrate JSON structure. I suggest it should be possible to pass a JSON string representing the database or simply a database URI as an argument.

`db-migrate --database mysql://root:pass@localhost/dbname`

Thanks. I

[2013-06-03 05:34] #104 closed, assigned to nobody

[2013-06-03 07:44] olalonde opened #105 "[ERROR] TypeError: Cannot set property 'callback' of undefined at Object.normalizeQueryConfig"
[code]

I am getting this error when attempting to use runSql. This only happens for some database URIs for some reason.

The URI looks like this:

[code]

When running locally instead of on Heroku, I am getting:

[code]

[2013-06-15 16:24] vjpr opened #112 "Allow CoffeeScript migration files."

[2013-06-29 23:40] #49 closed, assigned to nobody

[2013-06-29 23:40] #79 closed, assigned to nobody

[2013-08-01 19:15] wbrady opened #115 "Rename column loses all column spec information except type"
https://github.com/nearinfinity/node-db-migrate/blob/master/lib/driver/mysql.js#L220-L224

It only selects the type from information schema. Information like nullable or default value are lost. I think the documentation should at least make it obvious to end users so that they know they need to go in after and reset the column spec.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2013-08-02 06:45] Qard opened #117 "[ERROR] Error: connect ECONNREFUSED"
I keep getting this error;

[code]

I'm not entirely sure what is wrong there. I can run that sql query directly in `mysql -uroot` and it works just fine. It seems to just die for no explained reason right after that.

If it's of any importance; this is in an Ubuntu VM spun up with vagrant.

[2013-08-03 06:22] #117 closed, assigned to nobody

[2013-08-12 02:02] martijnkorteweg opened #120 "migrating down on last initial removes migration history"
when running db-migrate down all the way to the bottom the migrations table gets whipped aswell. It would be nice to keep this data.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1257614-migrating-down-on-last-initial-removes-migration-history?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We

[2013-08-14 12:34] bbuchalter opened #122 "Cannot find module '/home/brianb/code/notaschool.net/home/brianb/code/notaschool.net/database.json'"
Seeing some unexpected behavior when calling db-migrate up. It seems to duplicate the path to my application.

I've installed all dependencies globally and am executing db-migrate from the root of the application. Using version 0.5.4.

[2013-08-22 15:37] mako-taco opened #123 "change column from unique to not unique does not work"
Output changing a column TO unique:

db.changeColumn('team_team_settings', 'team_setting_id', {type: 'int', unique: true, notNull: true}, doAction),

[SQL] ALTER TABLE `team_team_settings` CHANGE COLUMN `team_setting_id` `team_setting_id` INTEGER  NOT NULL UNIQUE

Output changing a column FROM unique:

db.changeColumn('team_team_settings', 'team_setting_id', {type: 'int', unique: false, notNull: t

[2013-08-30 03:21] edkim opened #124 "autoincrement option does not work in mysql"
I try

	db.createTable("my_table", {
		id: {type: 'int', primaryKey: true, autoIncrement: true}
	}, callback);

and it doesn't set the auto_increment option in mysql

[2013-09-15 20:13] mpalmerlee opened #127 "db.runSql gives error when not using params as second argument in v0.6.0"
In v0.5.4 this worked fine, my migration looks like this:

db.runSql(query, callback);

in v0.6.0 I get this error:

{ [Error: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '?)' at line 1] code: 'ER_PARSE_ERROR', index: 0 }

I think it's expecting the params?

[2013-09-20 13:22] wxianfeng opened #128 "db-migrate up throw ER_PARSE_ERROR"
hi all
my migrate file like this:

[code]

when i run `db-migrate up`
throw this error, ER_PARSE_ERROR

[code]

then, i see my mysql db, users table has created, but migrations table has no any data.

then i run `db-migrate up` agin, meet error as follow, tell me users already exists

[code]

what problem? pls help me, thanks.

[2013-09-20 17:13] #127 closed, assigned to nobody

[2013-09-20 17:16] #128 closed, assigned to nobody

[2013-09-21 16:51] fschwiet opened #129 "broken error output for failing migration"
Running this:

[code]

I am getting error output:

[code]

There must be something wrong with my newest migration, the error output should give more information.  It looks like err info was lost?  The new/failing migration is:

[code]

[2013-09-21 17:18] #129 closed, assigned to nobody

[2013-09-27 00:37] #112 closed, assigned to nobody

[2013-09-30 22:36] naquad opened #131 "MySQL: DECIMAL support"
Please add type DECIMAL support.

[2013-10-08 00:38] #82 closed, assigned to nobody

[2013-10-08 00:54] #131 closed, assigned to nobody

[2013-10-29 20:22] isaacdontjelindell opened #133 "Question: How to run db-migrate from within a node module"
This may seem very basic, but is there any way to run a set of migrations from within a Node.js module?

I can run `db-migrate up` and `db-migrate down` with no problem from the command line, but I want to be able to automate this process by calling some stuff in a .js script.

Is this possible?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2013-10-30 12:46] gflarity opened #134 "Question: More complex migrations"
Thanks for the this module, use it all the time and it's always been very reliable.

Question:

I find myself wanting access to the actual Postgres driver from within a migration transaction. This is to programatically select specific values to be inserted into a new column I'm adding before setting it not null. Is there a cannonical way to do this or should just create a multiple step migration a

[2013-11-14 08:57] rngadam opened #135 "use pgpass files for pg driver"
Support for pgpass which already stores the user/password for tools such as psql and pgadmin3 would be convenient:

http://wiki.postgresql.org/wiki/Pgpass

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3203049-use-pgpass-files-for-pg-driver?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=githu

[2013-11-26 00:02] alexhanh opened #138 "db-migrate: command not found"
Added db-migrate to package.json and ran npm install. On terminal bash, I get `db-migrate: command not found` after running. `./node_modules/db-migrate/bin/db-migrate` works though.

[2013-11-26 00:26] alexhanh opened #139 "Migrating up and down throw an Error"
[code]

The migrations where persisted as I see the tables in the database. The migration simply contains 4 runSql commands. Interestingly enough, when I run only a single runSql command, it completes without errors.

[2013-12-01 11:40] Sheepsteak opened #140 "Creating indexes with PostgreSQL 9.3.1 needs quotes"
If I use the db.addIndex function like this:
[code]
the SQL that is generated is:
[code]
However if I use:
[code]
then the index is created successfully.

I'm not sure if this is a similar issue to #126 as the error seems to have the column name lowercased.

[2013-12-10 09:58] mwmaleks opened #142 "[ERROR] TypeError: Cannot read property 'name' of undefined"
Hi, everybody! When runing migration it throws the error TypeError: Cannot read property 'name' of undefined from db-migrate/lib/migrator.js:125:66 if 'up' and form 159:66 if 'down'. It seems to be async.forEachSeries's callback receives empty parameter 'migration' . The only first migration of a list completes.

[2014-01-16 15:43] Vadorequest opened #145 "MongoDb supported?"
Hi.

I would like to know if mongoDb is supported, I'm looking for a migration module for mongoDb.

Thank you!

[2014-01-16 21:55] #145 closed, assigned to nobody

[2014-01-28 23:16] #99 closed, assigned to nobody

[2014-01-30 11:51] knyga opened #146 "Cannot find module 'mysql'"
$ db-migrate up --config config/database.js -e development
[ERROR] Error: Cannot find module 'mysql'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (c:\Users\knyga\AppData\Roaming\npm\node_modules\db-mi
grate\lib\driver\mysql.js:3:13)

[2014-01-30 14:10] #146 closed, assigned to nobody

[2014-02-05 17:11] pawelkomarnicki opened #148 "db-migrate up doesn't seem to handle coffeescript on Heroku"
I get following error (breaks on coffeescript-based syntax)
[code]

Any suggestions how to get it fixed? :) Thanks

[2014-03-11 19:25] nisnardi opened #154 "How to use timestamp with time zone using postgresql?"
I need to set some column attributes as timestamps with time zone support using postgresql. I tried timestamp and datetime without any luck as both created the column without time zone:

created_at timestamp without time zone NOT NULL,
updated_at timestamp without time zone NOT NULL,

Is there a way to set the time zone support on the columnSpec definition?

Thanks
##

<bountysource-plugin>
---
Wa

[2014-03-14 00:05] seanami opened #155 "Camel-case column names aren't respected for Postgresql"
I ran into an issue where a downward migration failed to remove a column on the database that an upward migration created. Here's the migration:

[code]

And the error that I get is:

[code]

As you can see, the capital A of the column name is lost, and so Postgresql complains that the column doesn't exist.

I think I found the underlying issue, which is that if your column names (and table names)

[2014-03-19 12:43] ajkerr opened #156 "Running down migrations based on run_on column"
We have run into some situations where the current method of running down migrations (based on the migration's name) is not desirable, since the migrations were created in a different order from which they were applied.

It would be nice to have an option where 'down' migrations are run based on the value of the 'run_on' column, rather than the lexical order of the migration name.

[2014-03-23 00:24] ericchaves opened #158 "cannot create nullable timestamp"
Hi guys,

I'm trying to create a timestamp field that allow nulls but no matter how I declare it I've always got a non nullable field.
[code]
gives me:
[code]

Also, is there a way to check the output of db.runSql? I'd like to use it to see if some tables not handled by my migrations already exists in my migrations and so far I'm using a very ugly hack.

Cheers,

[2014-03-23 16:46] ericchaves opened #159 "[FEATURE] It would be nice to support column positioning with "after" keyword"
When adding a column in mysql (not sure about other databases) we can specify after which column we want to position the new one or use the keyword 'first' if it should be the first column.

It would be great if we could define this positioning when adding new columns to existing tables.

Cheers,
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2014-04-07 12:13] vnodecg opened #163 "Migrations doesn't work"
for some reason migrations table has nothin..
when I execute db-migrate up it runs only on first migration created. Ignores other migrations

[2014-04-09 17:33] #163 closed, assigned to nobody

[2014-05-09 09:43] piyushbeli opened #164 "'node-waf' is not recognized"
While running db-migrate up I am getting above error. Npm says that it's obsolete now.
Can u please check ?

http://stackoverflow.com/questions/12784161/is-there-any-node-waf-for-node-js-on-windows

[2014-05-09 16:17] jjshoe opened #165 "--dry-run fails when there is no migration table"
In this case it should catch the exception and tell you to run the full list of waiting migrations

[2014-05-09 17:09] #164 closed, assigned to nobody

[2014-05-15 17:33] tybenz opened #168 "Schema snapshot"
Wondering if it's possible to view a snapshot of the current schema. If it's not already available, could this feature be added? Thinking along the lines of Rails's db/schema.rb. It's basically a read-only file useful for getting an overview of the current schema. It's auto-updated whenever migrations are run.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:/

[2014-05-27 12:25] kunklejr opened #169 "Maintainers Needed - please read"
Over the past year or so, `db-migrate` has become a relatively popular project in the node community. Its popularity and the associated community demand have outpaced my ability to maintain it at a level I can be proud of and that it deserves.

When the project was initially created I was using node and db-migrate every day, making it really easy to add new features, fix bugs, etc. However, my job

[2014-06-15 05:12] morefromalan opened #171 "Feature Request: support pg-js"
pg-js (pure javascript postgres driver) uses same interfaces as pg, but without c-binding.  It's more portable and should be a quick fix to support it as an option.

I'm happy to put the code in if you want to weigh in on your preferred architecture: where should option to use pg vs pg-js go?

[2014-06-17 19:18] ericnakagawa opened #172 "Need ability to add "ON UPDATE" and non-escaped values"
For TIMESTAMP data type setting the value you to CURRENT_TIMESTAMP results in the escaped string value being sent: 'CURRENT_TIMESTAMP'. The ideal way this would work is to pass along without quotes.

Secondly, I'd like to be able to add "ON UPDATE" perhaps as "OnUpdate" as API value.

-- I've been trying to add updated timestamp on record update
##

<bountysource-plugin>

---
Want to back this iss

[2014-06-18 22:58] freeauto opened #173 "Need to add quotes around table names in SQL"
For postgres, this causes issues if table-names are SQL proper nouns like USER.

This will fail:

db.renameColumn('user', 'passwordHash', 'password')

For now though, putting double quotes inside of the single quotes works:

db.renameColumn('"user"', 'passwordHash', 'password')

[2014-06-25 03:10] johnmenick opened #175 "db.runSql does not call callback when not using params in v0.6.4"
The following executes successfully, but hangs. The same holds true for` up`.

[code]

[2014-06-30 03:56] vojtajina opened #176 "When an error happens, the migration should be reverted."

[2014-07-30 22:43] sidazhang opened #182 "Is it possible to use db-migrate as a module?"
Instead of running 'db-migrate up'

Is it possible to run this:

[code]

The reason is between each test, I would like to drop all the tables. And I would like to be able to do that without the cli.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3412956-is-it-possible-to-use-db-migrate-as-a-module?utm_campaign=plugin&utm_content=trac

[2014-08-01 13:44] #156 closed, assigned to nobody

[2014-08-05 18:45] #91 closed, assigned to nobody

[2014-08-05 22:58] NidhiArien opened #184 "support for datatype varchar(x)"
I see the various data_types listed at https://github.com/kunklejr/node-db-migrate/blob/master/lib/data_type.js. I was wondering if there would be support for varchar(x).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3575800-support-for-datatype-varchar-x?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=

[2014-08-08 13:25] lourenzo opened #186 "Command to list migrations, and which of them are up / down"
It will be cool to show a list of migrations, and corresponding up/down status.

I shall send a PR with this feature soon.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3627804-command-to-list-migrations-and-which-of-them-are-up-down?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accep

[2014-08-21 08:52] acestudiooleg opened #187 "PostgreSQL Sequence"
When I create new table, I want to automatic create sequence for new table? where key 'sequence'=true

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3960093-postgresql-sequence?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysou

[2014-08-31 05:33] countcain opened #190 "How to drop a sequence?"
In postgresql, I created a sequence. The db object have a method to dropTable. But when it comes to sequence, I could not find a way to drop it. Do this project have this function implemented?
Thanks!

[2014-09-16 22:13] alfa30 opened #191 "you can define the character?"
When loading values ​​in the table or database I can not set the charset.

[2014-09-18 13:52] dalssoft opened #192 "Change the migration table name"
Our use case is that we are refactoring a huge system into a multiple smaller systems, all of them with separated migrations but using the same DB (it will be separated later).

We'd like to be able to specify the name of migration table, so it won't conflict. I think it will be valuable to others use cases.

We thought it could be a key in the config file ex: "prod": { "driver": ..., "user": ...,

[2014-10-17 17:36] gramakri opened #193 "db-migrate takes very long time to exit"
Just testing out db-migrate for the first time. I have a noop migration.

exports.up = function(db, callback) {
    callback(null);
};

The above takes 1m30secs to complete. Note that 'No migrations to run' is printed immediately. It just takes a long time to exit.

time ./node_modules/.bin/db-migrate up
[INFO] No migrations to run
[INFO] Done

real	1m0.439s
user	0m0.142s
sys	0m0.028s

[2014-11-25 13:49] #165 closed, assigned to nobody

[2014-12-05 20:03] sidazhang opened #196 "Multiple Schema support"
db-migrate only current supports migration sequence for one schema that means

migrations/20111219120005-create-owners-table.js
migrations/20111220890005-create-shops-table.js

This is fine if you only have one schema in the database to manage

In a scenario where you have multiple schema

e.g.

You may have 2 sets of schemas:
1. core data - public schema
2. analytics tables / views - analytics sc

[2014-12-31 01:47] #176 closed, assigned to nobody

[2015-01-10 16:12] magmel48 opened #199 "Foreign key"
Please, provide information about making foreign key without using raw sql statements (I mean js-way). It's important feature for PostgreSQL

[2015-01-22 00:01] EvAlex opened #200 "Sqlite3Driver.runSql() executes only first statement in query string"
SQL file based migrations seem to be broken for SQLite. sqlite3's implementation of run() only executes the first instruction. One should use exec() function to run several queries at once. Therefore Sqlite3Driver.runSql() should call sqlite3.exec() instead of sqlite3.run() for SQL file based migration to support more than one statement.

Module ./lib/driver/sqlite3.js
API function: runSql

[2015-01-25 12:53] wzrdtales commented on #169
Hi together,

I'm currently working on a project called [umigrate](https://github.com/wzrdtales/node-ultimate-migrate). It's a reverse migrator with diffing capabilities and should provide migration abilities by itself. For this purpose this project is wrapping db-migrate currently and I intend to to keep db-migrate as the migrator.
But over the time, more and more stuff opened to me which isn't c

[2015-01-29 17:29] wzrdtales commented on #169
@kunklejr Is there currently anyone maintaining this project? It seems to be pretty dead right now :/
Hope you can find time for an answere on the weekend.

[2015-01-31 16:01] kunklejr commented on #169
@wzrdtales Please see your email for a message I just sent you.

[2015-01-31 16:53] wzrdtales commented on #169
@kunklejr thanks, have answered you.

[2015-02-01 14:27] wzrdtales commented on #199
@magmel48
I see, this is missing, will add this to the documentation.

Unfortunately foreign keys are not yet implemented for postgres.
There is a pull request open for this https://github.com/kunklejr/node-db-migrate/pull/181

I will see that this will merged soon.

[2015-02-01 16:11] wzrdtales commented on #193
Can't verify this, which node version do you used? Maybe already fixed?

[code]

[2015-02-01 16:26] wzrdtales commented on #191
@alfa30 Could give a more thorough explanation, of when you want to define the encoding?

[2015-02-01 16:30] wzrdtales commented on #190
@countcain Are you asking how to create a serial sequence of instructions?
This would be already documented here:
https://github.com/kunklejr/node-db-migrate#creating-migrations

If not please provide more information and/or examples what you're trying to do.
Thanks

[2015-02-03 15:57] wangbus opened #202 "Extend migrations with database creation method."
Would be particularly useful for systems like Circle CI or Travis.

[2015-02-04 00:14] wangbus commented on #202
shortcut for createdb in postgres or mysql's CREATE DATABASE

[2015-02-04 07:42] wzrdtales commented on #202
Ahh ok, you want a method to create a database within migration.

This will be implemented together with support for  #196

[2015-02-04 21:28] wzrdtales opened #204 "Generalize the usage of automatic quoting over all current drivers"
See https://github.com/kunklejr/node-db-migrate/pull/203 and https://github.com/kunklejr/node-db-migrate/pull/181#issuecomment-50529553 for details.

[2015-02-04 21:34] toymachiner62 commented on #145
Any plans to support mongodb? There's not a great lib out there for mongodb migrations yet. Only a couple of half baked solutions that i've come across.

[2015-02-04 21:37] wzrdtales commented on #145
@toymachiner62
Yes, I plan to support it see also my related project https://github.com/wzrdtales/node-ultimate-migrate/issues/7

I think I will create a little roadmap what is going to be done the next weeks/months

[2015-02-04 21:41] toymachiner62 commented on #145
That would be great. The company that I work for is looking to ditch https://github.com/toymachiner62/node-mongo-seeds/issues/2 for a real migration library in the next 2 weeks or so (And build one if one doesn't exist) as we're very close to moving to production. Any chance I could help you bang this out in the next few weeks? Will you be responsive to pull requests?

Initially I created node-mon

[2015-02-04 21:47] wzrdtales commented on #145
I will be totally responsive to pull requests and I appreciate them ;)

There would be a chance to do this, I'm working on a number of projects currently but I think I can free a weekend and some afternoons. But I wont guarantee for it.

[2015-02-05 05:37] wzrdtales opened #205 "MongoDB Driver"
@toymachiner62 As requested in #145 the Support of the first NoSQL Schema, in this case MongoDB, is planned within the next release.

[2015-02-05 16:38] toymachiner62 opened #206 "createdb db_migrate_test gives command not found"
I'm following your instructions for developing on this project and I'm getting this error.

[code]

Is there a global package I need to install to use the command `createdb`?

[2015-02-05 16:40] wzrdtales commented on #206
This should be automatically available, as far as you have installed
postgres.

To note, this notices are from jeff, I'm currently reworking all tests
with lab. But this still takes some time.

Am 05.02.2015 um 17:38 schrieb Tom Caflisch:

[2015-02-05 16:41] toymachiner62 commented on #206
Oh i don't have postgres installed. I'll do that.

You're reworking the tests with lab? Like for testing the hapi framework? https://www.npmjs.com/package/lab

[2015-02-05 16:42] wzrdtales commented on #206
yes exactly

[2015-02-05 16:42] toymachiner62 commented on #206
Why would you do that if you're not using the hapi framework? I'd suggest using Mocha if you're rewriting the tests. Lab is based on it, but is specificially built for the hapi framework. node-db-migrate has nothing to do with hapi.

[2015-02-05 16:53] wzrdtales commented on #206
You must not use hapi to use lab, they're not connected and lab And as you already said, lab has oriented much at mocha. But there are some things that are not available from mocha itself, controlable parallelism is not for example, correct me if I'm false and this is now a core component of mocha. Also I like the clean and simpleness, is there a specific reason why you would choose mocha over lab

[2015-02-05 17:04] toymachiner62 commented on #206
So i can't answer about controlable parallelism b/c I don't know what that means, but i've used both lab and mocha pretty extensively and Mocha is actually a cleaner approach IMO b/c you can just use `describe` and `it`, while with lab you need to do `var lab = exports.lab = Lab.script();` and then use `lab.experiment` and `lab.test`.

Mocha also seems to have better handling for async and promise

[2015-02-05 17:05] toymachiner62 commented on #206
From a guy who has used both, and continues to use both for different purposes - mocha for all my lib stuff and lab for all my hapi stuff, i'd recommend mocha over lab for your lib, unless you have a good reason against this.

[2015-02-05 17:13] wzrdtales commented on #206
You can also do this to make it look like bdd

[code]
And then just use
Also documented in the lab doc.

The reason I want to use lab is basically because of the controlable parallelism. As I can pass in the option: { parallel: true } and control like this every single test or a whole suit to run parallel or not. Thats quite useful, also I could easily switch from lab to mocha without much work.

[2015-02-05 17:35] wzrdtales commented on #206
Question answered

[2015-02-05 17:35] #206 closed

[2015-02-07 05:06] toymachiner62 opened #210 "db-migrate command not found"
I'm trying to follow the README exactly to use this package.

If i run `$ npm install db-migrate --save` and then run any `$ db-migrate` command I get command not found. Does db-migrate need to be installed globally or what am I doing wrong?

[code]

[2015-02-07 05:36] toymachiner62 commented on #210
Disregard this. It seems to be working now, but I get the error `[ERROR] Error: Could not find database config file '/Users/tomcaflisch/Sites/test-db-migrate/database.json'` which is a good error message, but I don't see anything in the README about neededing to create a database.json file unless wanting to specify it's location or to use different environments.

Do you think the README should be

[2015-02-07 10:24] wzrdtales commented on #210
Actually this is already covered here:
https://github.com/kunklejr/node-db-migrate#configuration

The problem with db-migrate, the usage as global and local module is something I'm already working on at the moment.

Also I will move the docs from the readme into a more structured order, so anyone may be able to find the answere to his questions faster.

[2015-02-07 10:25] wzrdtales commented on #210
But yeah, It should be a part of the usage headline mentoining there is a need for the database.json

[2015-02-07 11:58] #199 closed

[2015-02-07 12:45] wzrdtales commented on #210
related to #138

[2015-02-07 12:55] wzrdtales opened #211 "Support of Trigger"
Support of Trigger, needs a concept as not portable at all.

[2015-02-07 12:56] wzrdtales commented on #172
related to #211

[2015-02-07 13:11] wzrdtales commented on #124
Actually autoIncrement works together with mysql.
Reopen this if you this is still not fixed and you can specify an exact scenario where it does not work.

[2015-02-07 13:11] #124 closed

[2015-02-07 13:13] wzrdtales commented on #155
related to #204

[2015-02-07 13:15] wzrdtales commented on #142
Can you post the migrations which are failing?

[2015-02-07 13:16] wzrdtales commented on #140
related to #204

[2015-02-07 15:08] #35 closed

[2015-02-08 15:28] gflarity opened #212 "override default templates"
Hi,

Love this module!

Question: Is there way to override the default templates used for migrations?

We use postgres and always include a begin and commit statement in our migrations.  Just want to add it to the default.

Thanks
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8395534-override-default-templates?utm_campaign=plugi

[2015-02-08 15:33] wzrdtales commented on #212
You can open a pull request adding new templates.

However, I'm looking into introduce a per migration transaction by default. So if a single migration fails everything gets rolled back and migration process stops right there.

But yet this is not within the scope of v0.9.0, but I always appreciate pull request ;)

[2015-02-08 21:53] #192 closed

[2015-02-09 16:23] toymachiner62 opened #213 "No Remove method in the API?"
I noticed there is an insert command in the API, but no remove method.

Was this done on purpose or is the remove method just missing?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8424611-no-remove-method-in-the-api?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2015-02-09 16:41] wzrdtales commented on #213
It's just missing, if we're pendantic one could say inserting data is part of a seeder but not of a migration.

And I'm not sure yet, If I wouldn't want to separate this.

Going to think about this a bit more.

[2015-02-09 16:43] toymachiner62 commented on #213
True, but this lib contains everything needed to also be a seeder as well as a migration library since you can run raw sql.

[2015-02-09 16:44] toymachiner62 commented on #213
If it just had a couple more methods such as remove it could easily also be used to seed without having to use raw sql.

[2015-02-09 16:44] wzrdtales commented on #213
There is a difference between, enabled by design and abused by design :)

[2015-02-09 16:46] wzrdtales commented on #213
Generally it may not hurt to implement full seeding capabilities, but I don't like the Idea of a migration that leads to bad design decisions.

And seeding and migrations I think is something anyone should carefully separate. Especially when working with foreign keys and constraints, things quickly collide.

[2015-02-09 16:48] wzrdtales commented on #213
May be it's a step in the right direction to have seeding capabilities within db-migrate, but to enforce them not being in the same scope. Thus there are single routines and also folders for both, but I'm not sure yet.

[2015-02-09 16:58] wzrdtales commented on #213
Nevertheless, a remove method and general seeding capabilities should be a part of db-migrate, so they could be implemented.

But in long term there should be a separation from migrations to seeders.

Thoughts?

[2015-02-09 17:16] wzrdtales opened #214 "Provide a general usage API"
Retire the old bin/db-migrate and define a reusable api, while leaving bin/db-migrate as link for global installations.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8426167-provide-a-general-usage-api?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2015-02-09 17:16] wzrdtales commented on #133
Related to #214

[2015-02-09 17:56] toymachiner62 commented on #213
Yea i think they should be separate as well. I always think of the way that Ruby on Rails works with migrations and seeds. They have a separate folder for seeds and a separate folder for migrations. There is also separate commands for each `rake db:migrate` vs `rake db:seed`.

[2015-02-09 17:58] toymachiner62 commented on #213
I guess though in my case maybe what i'm wanting is to be able to write seed commands in a migration because even in Rails you can reseed multiple times and get duplicate data.

I'll explain my use case in a bit.

[2015-02-09 18:58] toymachiner62 commented on #213
My use case is that I want to populate a mongodb collection with new data periodically without having to worry about creating duplicate data.

I have an authorizedUsers collection for example which is a list of users that are authorized to use my app. If I need to give access to a new user, I want to be able to add that user in an insert statement in a migration and run the migration.

This allows

[2015-02-09 19:13] wzrdtales commented on #213
So this may be a case for a version controlled seeder, instead of invoking them from the migrations?

[2015-02-09 19:24] toymachiner62 commented on #213
Yea i guess so. That'd be a great feature.

[2015-02-09 19:25] wzrdtales commented on #213
Okay, gets right on my ToDo List

[2015-02-09 20:51] #123 closed

[2015-02-09 21:45] #140 closed

[2015-02-09 21:45] #155 closed

[2015-02-09 21:45] #204 closed

[2015-02-09 21:50] wzrdtales opened #215 "Version controlled seeder"
Implementation of a version controlled seeder, plus seeder in general.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8433667-version-controlled-seeder?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm

[2015-02-09 21:53] wzrdtales opened #216 "Transaction based migrations"
Implement transactions per migration, thus everything gets rolled back on failure.

**Notes:**
Make it possible to deactivate transactions within the migrations.
Drivers gets flagged with transaction capability

[2015-02-09 21:53] wzrdtales commented on #212
Related to #216

[2015-02-10 21:12] #158 closed

[2015-02-10 21:22] #200 closed

[2015-02-10 21:41] toymachiner62 commented on #138
How do you plan to solve this? By requiring it to be installed globally?

[2015-02-10 21:46] wzrdtales commented on #138
Similarly like I did it in umigrate, there won't be a need to modify NODE_PATH or set it though. I feels always like NODE_PATH is to much unknown by everyone, just because it's not really documented in node.js. There was also a big discussion about global modules and that npm wont support them at all, with Isaac schlueter.

But at first I will just change the documentation to:
    npm install -g d

[2015-02-10 21:49] wzrdtales commented on #138
To add some Informations to this:

Even if db-migrate is installed globally, the migrations local will throw the error it can't find db-migrate, because NODE_PATH is unset.

I solved this by requiring the components in db-migrate itself globally and share them down to the migrations.

[2015-02-10 21:50] toymachiner62 commented on #138
Oh interesting. I'll look at the commit once it's complete.

[2015-02-10 21:50] wzrdtales commented on #138
have found it, this issue I meant:
https://github.com/npm/npm/issues/823

[2015-02-10 21:54] wzrdtales commented on #138
Thus I will solve the problem in db-migrate making it usable as a global and local module and so spare the nerves of many people who don't know about NODE_PATH has to be set if they want to use global modules and want to require them from the local module.

[2015-02-10 22:12] #205 closed

[2015-02-11 18:02] #138 closed

[2015-02-11 18:02] #210 closed

[2015-02-11 20:18] toymachiner62 opened #219 "Default environment should not be dev"
I don't think the environment should default to dev because you can accidently populate your dev db if you forget to specify the env paramater.

An example use case is we have 3 servers - dev, int, and prod, which have those same NODE_ENV's set (so the NODE_ENV=dev on the dev server etc.).

All the developers also have their own local mongo instances installed as well. If I just run `$ db-migrate

[2015-02-11 20:22] toymachiner62 opened #220 "---env option is not working"
I can succcessfully set the environment by using the `-e` option, but the `---env` option is not working:

example:
[code]

[2015-02-11 20:58] wzrdtales commented on #219
Well, I always used dev for my local database and something like test_environment for the test servers. Because dev means develop to me, so this is definitely a behavior that changes from user to user.

We can default to something else than dev, but I would suggest "default" instead of "undefined". Undefined would be misleading again and nothing were won through this change.

[2015-02-11 20:59] toymachiner62 commented on #219
The only reason i suggested undefined is because it is the default NODE_ENV. Otherwise a user will always have to specify their environment with the `-e` option.

[2015-02-11 21:00] toymachiner62 commented on #219
I do agree though that undefined is a confusing env name.

[2015-02-11 21:04] wzrdtales commented on #220
Can't reproduce this, maybe you can track this down via node debug?

[2015-02-11 21:04] toymachiner62 commented on #219
The thing you'd win with this change is that users couldn't accidently populate their "dev" database due to not specifying an environment with the "-e" option.

[2015-02-11 21:05] toymachiner62 commented on #220
Maybe it's a difference with windows/*nix. I'll try to track it down.

[2015-02-11 21:07] wzrdtales commented on #220
Haven't tested it yet under windows, but I would wonder if this is the reason.

It's strange you enter myEnv as environment and it trys to find dev and development.

[2015-02-11 21:08] wzrdtales commented on #219
Yeah, I don't say you're wrong, but I feel like the most devs think that dev is their local database.

That leads my to one thought, might this change be a breaking change? Because every user currently using db-migrate and don't have the NODE_ENV set, would have to update his configs.

[2015-02-11 21:08] toymachiner62 opened #221 "How to run all down migrations without specifying a max"
I notice that when I just run

[code]

it defaults to 1 down migration. I see there is a `-c` option to specify the count of migrations I want to run, but is there a way to specify "all" down migrations? And should there be or is that a rediculous request?

[2015-02-11 21:11] toymachiner62 commented on #219
Yes you're right i think it would be a breaking change.

[2015-02-11 21:11] toymachiner62 commented on #220
I'm working on OSX. I thought you were on windows the other day.

[2015-02-11 21:12] wzrdtales commented on #221
There is currently no such thing like -c all. I also wondered frist about the behavior of down, but I don't think that the default behavior of migration only a single down is wrong.

I would suggest adding reset, to literally reset all migrations.

[2015-02-11 21:12] toymachiner62 commented on #221
Ahh i like the idea of reset. It's like Ruby on Rails `rake db:migrate:reset` command.

[2015-02-11 21:14] wzrdtales commented on #220
Well no, I'm only on Windows if I don't want to work with my System i.e. gaming... . Using Arch Linux here ;)

[2015-02-11 21:34] wzrdtales commented on #220
So however, still can't reproduce this. Would be great if you could deliver more information what exactly is happening.

[2015-02-11 21:36] wzrdtales commented on #219
Ok there are news:
default is already considered https://github.com/kunklejr/node-db-migrate/blob/master/lib/config.js#L40-L46

But for some strange reason the default is dev and not default itself.

[2015-02-11 21:38] wzrdtales commented on #219
Or more specific, default is as long default as it is defined.

[2015-02-11 21:50] toymachiner62 opened #222 "Can't specify a specific migration when running a down command"
I'm trying to run the down command for a specific migration file and it doesn't seem to be working:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8500832-can-t-specify-a-specific-migration-when-running-a-down-command?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties vi

[2015-02-11 21:51] toymachiner62 commented on #220
I'll get some more specifics on this and get back to you.

[2015-02-11 21:54] wzrdtales commented on #222
I see, the docs are misleading again.

    db-migrate [up|down|create] migrationName [options]

The migrationName is referenced to the create method, but not to down or up. That's probably a feature to add.

Questionable if it's not dangerous running migrations out of order.

[2015-02-11 21:57] toymachiner62 commented on #222
I suppose it does give the user the opportunity to be dangerous, but i see that the rails migration lib allows this so it must not be too dangerous right? :) http://edgeguides.rubyonrails.org/active_record_migrations.html#running-specific-migrations

[2015-02-11 21:58] wzrdtales commented on #222
Saying you are able to jump off the cliff doesn't makes it less dangerous ;)

[2015-02-11 22:00] toymachiner62 commented on #222
Ha that's true. I still think it's a feature that should be added. What if i create 3 migrations and then run all 3 of them. Then i decide I didn't need the second one. There's no way to "down" that one so I have to manually delete the migration file + manually undo whatever that migration just did in the database.

[2015-02-11 22:05] wzrdtales commented on #222
Well you could also chain 3 commands, down/reset && rm file && up ;)

But it wont hurt to implement it, also I still can't see the advantage. But thats just my view of the things.

[2015-02-11 22:15] wzrdtales commented on #222
I always think of this as probably dangerous. You have 3 migrations and you want to delete one. Then I might ask, why do you want this? Because it's not shared over the repository or in production? Well that would be legible, but what if you just miss something, down this single migration and now one hour later something doesn't work like you expect it to work.

You now waste a half hour to track

[2015-02-12 14:36] toymachiner62 opened #223 "Is this variable necessary?"
Looking at the code that is generated for migrations, is the "type" variable necessary? I don't see where it's used, and I don't use it in any of my migration files: https://github.com/kunklejr/node-db-migrate/blob/master/lib/migration.js#L81

[2015-02-12 14:48] wzrdtales commented on #223
Yes of course it is ;)

there are generic datatypes which should be used in the best case. They
can translate to other datatypes if you switch between databases and
this databases have different datatypes which fullfil the same thing.

Am 12.02.2015 um 15:36 schrieb Tom Caflisch:

[2015-02-12 14:49] wzrdtales commented on #223
Unfortunately I see, this is also not documented...

[2015-02-12 17:20] toymachiner62 commented on #220
Doh!. If you look closer at the error i posted, I had used 3 dashes instead of two. User error.

[2015-02-12 17:20] #220 closed

[2015-02-12 19:51] #221 closed

[2015-02-13 09:14] wzrdtales opened #224 "Replace optimist"
Replace optimist with a better component. As it's no longer support by the developer and doesn't met the requirements anymore.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8544676-replace-optimist?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2015-02-13 21:29] toymachiner62 commented on #219
I'm just thinking about this some more and what if we had an option in the database.json file to set the default environment to use when no `-e` or `--env` option is set? That way I can set it in my database.json to be undefined if that's what I want, you can set it to dev, and the next guy can set it to local if they want.

Thoughts?

[2015-02-13 21:31] wzrdtales commented on #219
That would be a no change, because you can already ;)

Everything that is a parameter is also a config option.

[2015-02-13 21:32] toymachiner62 commented on #219
Oh really? How would I specify that in the database.json file? Just with `env: 'default'`?

[2015-02-13 21:39] wzrdtales commented on #219
Oh well, I see. I'm in fault, everything except env. Will add this though.

[2015-02-13 21:40] toymachiner62 commented on #219
Awesome. I like this solution. Thanks.

[2015-02-13 21:41] wzrdtales commented on #219
ah well, ok. But is already there :D

`default: 'data'`

[2015-02-13 21:42] toymachiner62 commented on #219
what do you mean? So by specifying "default" that actually means the "env"?

[2015-02-13 21:43] wzrdtales commented on #219
yes

[2015-02-13 21:43] toymachiner62 commented on #219
Oh well can we change that so it matches the params that can be passed in to the command line? I think that's much more intuitive.

[2015-02-13 21:44] wzrdtales commented on #219
Not change but add it also to the list. Don't want to break any behavior, that is already in use.

[2015-02-13 21:44] wzrdtales commented on #219
Have added it so far, at my local changes.

[2015-02-13 21:45] toymachiner62 commented on #219
What do you mean? You've added it to the list for version 0.9.0?

[2015-02-13 21:46] toymachiner62 commented on #219
oh i think i see so you can now specify either "default" or "env" in the database.json file and they'll do the same thing.

[2015-02-13 21:47] wzrdtales commented on #219
y

[2015-02-13 22:23] #202 closed

[2015-02-13 22:24] wzrdtales commented on #219
It's included in the latest, commit.
https://github.com/kunklejr/node-db-migrate/commit/ce69a1f4573aaf8d55071d0aadc975cd1fa77eb0

Is this issue for you resolved with this?

[2015-02-13 23:24] #196 closed

[2015-02-13 23:29] #223 closed

[2015-02-13 23:33] wzrdtales opened #225 "Refactor Documentation"
The documentation is going to be moved into a separated structure, probably going to use readthedocs.

[2015-02-14 08:20] gramakri opened #226 "v0.9.0, v0.9.1: migrate up crashes with sqlite3"
In lib/driver/base.js, allLoadedMigrations calls "this.connection.query.apply(this.connection, sql);". However the sqlite3 connection object does not have a method named query (https://github.com/mapbox/node-sqlite3/wiki/API).It has only Database#run.

0.8.0 and below used to call Base.runSql which was implemented as run() in sqlite3 driver and works fine.

[2015-02-14 08:48] SPY commented on #226
have the same problem.
this code looks odd https://github.com/kunklejr/node-db-migrate/blob/master/lib/driver/base.js#L293
i think it should be call instead of apply or just this.connection.query(sql)

[2015-02-14 09:43] wzrdtales commented on #226
I see, patch is incoming

[2015-02-14 10:59] #226 closed

[2015-02-14 10:59] wzrdtales commented on #226
Fixed and also fixed some failures I found while fixing this.

[2015-02-14 18:02] gramakri commented on #226
I can confirm this is fixed.

[2015-02-14 18:04] wzrdtales commented on #226
Thanks for reporting :)

[2015-02-14 23:07] wzrdtales opened #227 "Implement new driver model"
Drivers are not part of db-migrate anymore, they are external components that can be installed in a "plug and play" manner.

However, we continue to support the current drivers, but moved them to their own repositories. Take a look at the organization to find all officially supported drivers:

https://github.com/db-migrate

Also the tests are going to move, but not yet. I'm currently looking forwa

[2015-02-15 19:08] wzrdtales commented on #213
related to #215

[2015-02-15 19:10] wzrdtales commented on #193
closed as not responding, feel free to reopen.

[2015-02-15 19:10] #193 closed

[2015-02-17 13:59] dalemanthei opened #229 "Will the real callback please stand up?"
The callback variable is defined twice in mongodb.js _run function:

![mongodb_js_ _db-migrate](https://cloud.githubusercontent.com/assets/6266984/6229208/d36e916a-b67a-11e4-9ece-e540fe58eb88.png)

[2015-02-17 15:21] wzrdtales commented on #229
Have clearly overseen this while checking the merge request, thanks for reporting. However _makeParamArgs returns as [2] element the last element of arguments. So the callback is still the same.

@toymachiner62 Can you tell me why you used defined params and arguments together here? Does there exist a reason for that, or may I just remove this and use the callback provided already.

[2015-02-17 15:50] toymachiner62 commented on #229
I didn't realize i did that. I made the arguments explicitly passed in b/c I hate the magical-ness of not having them passed into the function.

I didn't mean to do both though.

[2015-02-17 16:07] wzrdtales commented on #229
I also like it better to define them in the function, I will change this to not use arguments in this case.

[2015-02-17 17:04] #229 closed

[2015-02-19 22:02] jarwol commented on #216
Looking forward to this feature.  Very easy to get your DB into a bad state when a migration you're testing fails halfway through.

[2015-02-19 22:28] wzrdtales opened #230 "Integrate Migrations with Seeders and vice versa"
Create the possibility to connect VC-Seeder and Migrations and also static Seeders with each other, table definitions and migrations that are still handling VC-Seeds.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8726107-integrate-migrations-with-seeders-and-vice-versa?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=

[2015-02-20 13:21] awinder opened #231 "SQL file migrations do not exit on failures"
I'd like to get some information on why this is the behavior, or if it's just a bug / oversight.  When creating a sql file migration, you end up with code blocks that look like this:

[code]

So in the case of errors you do get a notification, but the process never exits because the callback is skipped over.  The easy fix for our team has been to replace `return console.log(err);` references with

[2015-02-20 14:18] wzrdtales commented on #231
There is absolutely a chance to get things changed, especially if they're bugs or undefined behavior.

You can also open a pull request, which I would appreciate, fixing this behavior. The feature itself was also introduced by a pull request https://github.com/kunklejr/node-db-migrate/blame/master/lib/migration.js#L117 and this thing was definitely overseen.
What I want to say, changes are always

[2015-02-22 11:05] wzrdtales commented on #231
To add an information here, this bug is currently priorized low and I'm going to fix this earliest in the v0.11.0 version.
But you're free to open a pull request to make it available in v0.10.0 already.

[2015-02-22 17:15] awinder commented on #231
Thanks wzrdtales, I'll get you a PR today for this, just figured I'd check to make sure beforehand :smile:

We're using sql file migrations right now because it lined up with a previous (homegrown) system that was in place, so that feature really helped us transition into node-db-migrate quickly. I think it was also seen as less-onerous for the dev team since it lined up with the old practice of j

[2015-02-22 17:22] wzrdtales commented on #231
If you're using mysql currently you might like looking into my other project
https://github.com/wzrdtales/node-ultimate-migrate

This is a reverse migrator, which has capabilities to reverse a database to migrations. Also it allows to make a diff against the actual migrations and generate from that state the new migrations.

You can look into this, may be it helps you. But please mind, this is sti

[2015-02-22 18:16] awinder commented on #231
Wow, that's actually really cool.  I'm tempted to give it a shot just to see what happens :grinning:

I posted up a PR at #232, thanks for all your help!

[2015-02-22 20:00] #216 closed

[2015-02-22 20:05] wzrdtales commented on #231
Yeah just look into it and if something went south open an issue :)

[2015-02-22 21:22] wzrdtales commented on #216
Actually mysql doesn't support DDL Transactions for now. Luckily MariaDB is going to support this soon:

https://mariadb.atlassian.net/browse/MDEV-4259

Thus this issue is closed as transactions are now built in, but mysql still wont rollback any ddl actions such as drop table.

Nevertheless, migrations will get more intelligent in the next versions of db-migrate. So db-migrate knows about states,

[2015-02-22 21:30] wzrdtales opened #233 "Implement State discovery"
Let db-migrate learn about the actual state of the executed migrations, linked tables and actions.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8811186-implement-state-discovery?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-02-22 21:37] #231 closed

[2015-02-22 21:55] wzrdtales commented on #231
bugfix patch published under v0.9.3

[2015-02-24 16:48] veswill3 opened #234 "SQL generated from user table migration added extra set of quotes"
Here is my migration for my users table.
[code]
This runs just fine in `db-migrate@0.8.0` but in `db-migrate@0.9.3` it did not. Here is the output:
[code]
I am guessing the problem is that user is double wrapped in quotes on the ALTER TABLE line.
Is this a bug or did the syntax for writing the migration change?

[2015-02-24 16:50] wzrdtales commented on #234
db.removeColumn('"user"', '"lowcaseEmail"', callback);

You should not escape within db.removeColumn or any other methods. db-migrate will escape for you  comaptible for your choosed database system automatically.

[2015-02-24 16:52] wzrdtales commented on #234
This is also due to the fact, that db-migrate should escape everything for you. But this wasn't consequent everywhere before 0.9.0.

This is the reason why your old migrations work on 0.8.0 but not on 0.9.0. Just remove your quoting as db-migrate does this now for you.:

   db.addColumn('user', 'lowcaseEmail', {

[2015-02-24 16:57] tobalsgithub commented on #234
Did that change recently? The user table is a reserved word in PostgreSQL, and when we don't escape the table name, the migrations fail. On version 0.8.0 this all worked fine. Only when upgrading to 0.9.3 did we hit this issue.

[2015-02-24 17:00] wzrdtales commented on #234
I know that it is a reserved name, as pointed out:
db-migrate will now do the escaping for you. You don't need to look out for special names that are reserved by some db. This applies now also to all other drivers. As long as you don't use runSql you don't need to escape yourself anymore.

See also:

https://github.com/kunklejr/node-db-migrate/blob/master/lib/driver/pg.js#L238-L287

https://github

[2015-02-24 17:02] wzrdtales commented on #234
That in 0.8.0 there was in some cases no automatic escaping was not intended so. The other drivers already escaped themselfes.

[2015-02-24 17:17] tobalsgithub commented on #234
Sorry, missed your second post. That all makes sense.

We just need to go back and update our migration syntax to match the new version.

[2015-02-24 17:19] wzrdtales commented on #234
Shouldn't be hard task so :) little bit of regex search and replace

[2015-02-24 17:52] mpalmerlee opened #235 "Upgraded from 0.5.4 to 0.9.2, new migrations are prefixed with slash, old migrations will not migrate down"
We recently upgraded from 0.5.4 to 0.9.2 and noticed that new migrations in the migrations table are prefixed with a forward slash:

old:
20150121183613-target-token

new:
/20150218150557-random

We generate these migrations like so:
./node_modules/db-migrate/bin/db-migrate create migration-name --migrations-dir lib/migrations --config  config/config.json

and run up like so:
./node_modules/db-mig

[2015-02-24 17:55] wzrdtales commented on #235
I see, well this wasn't exactly intended:
https://github.com/kunklejr/node-db-migrate/blob/master/lib/migrator.js#L38

And was introduced due to:
https://github.com/kunklejr/node-db-migrate#multiple-migration-scopes

I will create a patch for this.

[2015-02-24 18:05] veswill3 commented on #234
Thanks @wzrdtales!

[2015-02-24 18:05] #234 closed

[2015-02-24 18:12] #235 closed

[2015-02-24 18:37] wzrdtales commented on #235
bugfix is now online in the newest version 0.9.4 published a second ago

thanks for reporting

[2015-02-24 18:37] wzrdtales commented on #234
I suggest you update to 0.9.4, as you may run into this failure:
https://github.com/kunklejr/node-db-migrate/issues/235

also. Just published a bugfix for this.

[2015-02-24 18:55] mpalmerlee commented on #235
Awesome! Thanks for the fast resolution!

[2015-02-24 19:11] wzrdtales commented on #235
No problem, don't hesitate to open issues on problems.

[2015-02-25 18:07] wzrdtales opened #236 "Multiple foreign key mapping doesn't generate a executable query on mysql driver"
The following query gets generated, when mapping of multiple mappings like this:

[code]
[code]

`ea_id,system_id` are espaced here as one column and thus the database don't know what to do with this.

[2015-02-25 18:15] #236 closed

[2015-02-26 19:33] rkmax opened #237 "foreign key definition dont works with Postgresql"
I have the migration below, but the foreign keys are not added

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8981914-foreign-key-definition-dont-works-with-postgresql?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2015-02-26 19:34] wzrdtales commented on #237
which database?

[2015-02-26 19:35] rkmax commented on #237
@wzrdtales Postgresql see the title

[2015-02-26 19:37] wzrdtales commented on #237
Comes in v0.10.0
https://github.com/kunklejr/node-db-migrate/commit/e82f78dc4a053cbe93b2b34fa15590c5fa708309#diff-04c6e90faac2675aa89e2176d2eec7d8L441

This note was removed from the master readme, but this feature was introduced first in v0.9.0 and only for mysql. Please wait for v0.10.0 to use this on postgres.

https://github.com/kunklejr/node-db-migrate/blob/v0.9.x/README.md

[2015-02-26 19:52] wzrdtales commented on #237
I will leave this question open, for others that may don't recognize this. Will be closed on release of v0.10.0

[2015-02-26 19:59] #173 closed

[2015-02-26 20:02] wzrdtales commented on #175
can't verify this on the newest version. I will close this as fixed in the newest version, feel free to reopen of not.

[2015-02-26 20:02] #175 closed

[2015-02-26 20:04] wzrdtales commented on #191
Asked for response, there was no response so far. Thus I close this, as I clearly don't understand what exactly you want to be solved.

Feel free to reopen with a more thorough explanation

[2015-02-26 20:04] #191 closed

[2015-02-26 20:07] wzrdtales commented on #190
Dropping sequences was already implemented and is part of v0.9.x

[2015-02-26 20:07] #190 closed

[2015-02-26 20:08] wzrdtales commented on #182
related to #214

[2015-02-26 20:11] wzrdtales commented on #159
Marked as nice to have, has a very low priority and might be implemented in some far future. Feel free to open a pull request to directly contribute this feature

[2015-02-26 20:13] wzrdtales commented on #148
Can't reproduce

I close this as very old and we may talk about very old versions. If this problem is still existent, please reopen this issue and post new logs and I will try to get this fixed.

[2015-02-26 20:13] #148 closed

[2015-02-26 20:28] wzrdtales commented on #142
Seems to be fixed in the newest, can't reproduce this.

Feel free to reopen if this error still occurs and post a log and details about your used migrations and setup

[2015-02-26 20:28] #142 closed

[2015-02-26 20:28] wzrdtales commented on #139
Seems to be fixed in the newest, can't reproduce this.

Feel free to reopen if this error still occurs and post a log and details about your used migrations and setup

[2015-02-26 20:28] #139 closed

[2015-02-26 20:29] wzrdtales commented on #134
refers to #215

[2015-02-26 20:30] wzrdtales commented on #134
also runSql already delivers all functionality needed

[2015-02-26 20:32] wzrdtales commented on #135
very low priorized, feel free to open a pr to support those things. But this wont come in the foreseeable future.

[2015-02-26 20:37] wzrdtales commented on #122
This is already implemented

[2015-02-26 20:37] #122 closed

[2015-02-26 20:38] rkmax commented on #237
@wzrdtales thanks, For when you have planned 0.10.0 relase?

[2015-02-26 20:42] wzrdtales commented on #237
Something in the next 4-6 weeks, there is still a list of features which are flagged for v0.10.0 that needs to be finished. Also I'm investing a high amount of my time currently to several other projects I'm involved, thus I can't made a real finite announce.

[2015-02-26 20:44] wzrdtales commented on #237
But to leave some hope, I make good progress. We will see how fast I write down those things. Most concepts are already made though.

[2015-02-26 20:58] wzrdtales commented on #105
already implemented

[2015-02-26 20:58] #105 closed

[2015-02-26 21:16] #68 closed

[2015-02-26 21:17] wzrdtales commented on #45
refers to #214

[2015-02-26 21:18] wzrdtales commented on #33
refers to #120

[2015-02-26 21:20] wzrdtales commented on #70
Creating databases was implemented in v0.9.0 for multiple database and cross database migrations.

[2015-02-26 21:20] #70 closed

[2015-02-26 21:21] rkmax commented on #237
@wzrdtales A 0.9.8 would be very appreciated :+1:. add support to postgres

[2015-02-26 21:22] wzrdtales commented on #237
Well I don't think this fits to be released as a patch, more then to be released as a minor and thus this would break with semver.

[2015-02-26 21:23] wzrdtales commented on #74
Closed as old and probably resolved.

Feel free to reopen this issue and post more details about your setup and used migrations to solve your problem entirely.

[2015-02-26 21:23] #74 closed

[2015-02-26 21:25] rkmax commented on #237
Bad luck, I'll wait then, I'll take eye on the issues, maybe I can work with something

[2015-02-26 21:29] wzrdtales commented on #237
Well if you really want to use this feature right now, you could use the project from this commit
https://github.com/kunklejr/node-db-migrate/commit/7aeea1f69427a719a035d6e265d246a7693f8b0a

This is state should be stable enough, at least it has passed all tests, also the tests which are currently only on my local drive.

[2015-02-26 21:33] wzrdtales commented on #171
Closed in favour of incoming external drivers.

refer to #227

[2015-02-26 21:33] #171 closed

[2015-02-26 21:38] rkmax commented on #237
@wzrdtales Great!

[2015-03-02 20:04] wzrdtales commented on #225
documentation was moved to readthedocs and gets now differentiated between latest docs and version specifics

[2015-03-02 20:04] #225 closed

[2015-03-02 20:05] wzrdtales commented on #214
API is so far implemented, documentation is still missing though.

[2015-03-04 15:40] BorePlusPlus commented on #192
Unless you go via API this seems to create table called `undefined` and breaks our current setup (as it used to use `migrations`).

[2015-03-04 16:16] gayanhewa opened #238 "Error: Cannot enqueue Quit after invoking quit"
I keep on getting this error although the migrations run smoothly. How do I get rid of this and whats the reason behind it ?

[2015-03-04 17:04] wzrdtales commented on #192
@BorePlusPlus
I really don't understand what you try to say.

Fact is, the default is to create a table named migrations unless you define migration-table within your config or via commandline.

[2015-03-04 17:05] wzrdtales commented on #238
Hi @gayanhewa
I can't help you if you don't specify what exactly the failure is plus, which version of node you use and a log from a run in the verbose mode (-v).

[2015-03-04 17:08] wzrdtales commented on #192
Also see here:
https://github.com/kunklejr/node-db-migrate/blob/v0.9.x/bin/db-migrate#L29

migration-table never defaults to undefined though.

[2015-03-04 17:11] wzrdtales commented on #238
Also please add details about your configuration.

[2015-03-04 17:18] gayanhewa commented on #238
This is how the error looks like :

[code]

Output from the db-migration up -v

[code]

[2015-03-04 17:19] gayanhewa commented on #238
NPM Version - 1.4.28
DB-Migrate - ^0.9.7

Server : Ubuntu 14.04 -/ Vagrant instance.

[2015-03-04 17:24] wzrdtales commented on #238
Ok, in your last run you didn't run into a failure. I must be able to reproduce this bug to fix it.
Cannot enqueue Query after fatal error. Sounds like there went something wrong just before.

Could you please also deliver your node.js version?

Can you provide me more to reproduce this? Migrations with which this error is raised for example?

[2015-03-04 17:27] wzrdtales commented on #192
Ah, well I think I understand now.

You mean the command line not the API, in v0.9.x isn't any API. If you're calling from another application you need to define global.migrationTable = "migrations", so db-migrate now about the table.

The good news, in v0.10.0 a API is going to be delivered.

[2015-03-04 17:28] gayanhewa commented on #238
Nodejs - v0.10.33

How do I know for which migration this happened ? , I have a few migrations and it happens even if I run just one.

[2015-03-04 17:29] wzrdtales commented on #238
Does this happen with every of your migration? Try up -count 1 and look if this happens to all migrations even they're started single.

[2015-03-04 17:41] gayanhewa commented on #238
Yes. if I use the flag -c 1 it will happen aswell , but just once.

[2015-03-04 17:44] wzrdtales commented on #238
Well I still can't reproduce this, could you please post one of your migrations. Of course should delete everything that's maybe confidential.

[2015-03-04 18:16] wzrdtales commented on #238
I'm away for some hours now, so I wont answere from now on.

Please provide enough information to make it possible to **anyone** to reproduce your issue. Without the possibility to reproduce no one can help you and the bug keeps unsolved.

So please post:

* Used configuration tweaks.
* How does db-migrate gets invoked
* The full log of the full run where the error occurs in verbose mode, also inc

[2015-03-05 09:18] BorePlusPlus commented on #192
Looking forward to it

[2015-03-05 13:16] gayanhewa commented on #238
Hi, Thank you for the help. Here is what I could gather from my findings :

The Error doesn't result in a failure. Its more connected to node-mysql rather the db-migrate module.

http://stackoverflow.com/questions/23328496/node-js-mysql-cannot-enqueue-a-query-after-calling-quit

I was able to come down to the point where , after the migration is processed and a onComplete call back attempts to clo

[2015-03-05 14:32] wzrdtales commented on #238
[code]

Could you show me this migration and the migration?

 Normaly db-migrate shouldn't execute this twice. And also shouldn't write that much entries to the migrations table.

It definitely seems that you made a mistake in your migrations. I suspect you're calling the callback multiple times.

[2015-03-05 14:55] gayanhewa commented on #238
@wzrdtales  http://pastebin.com/jEcHdfcF

[2015-03-05 15:02] gayanhewa commented on #238
You are right :+1:  the issue was with me trying to execute multiple statements within a single migration.

[2015-03-05 15:02] #238 closed

[2015-03-05 15:02] gayanhewa commented on #238
Thank you :+1:

[2015-03-05 15:30] wzrdtales commented on #238
You can call mutiple statements within a single migrations, but you have to call one by one in the callback of the last one and then finally call the callback ;)

And no problem

The good news:
This is getting easier, v0.10.x will introduce Promises support.

[2015-03-05 15:34] gayanhewa commented on #238
Awesome :bow:

[2015-03-05 17:22] wzrdtales opened #239 "Promises"
Make most of the source, especially the driver components working with promises.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9233845-promises?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2015-03-05 22:46] wyefei commented on #239
:+1:

[2015-03-05 23:23] forstermatth opened #240 "Missing 'var' in template"
When creating a new migration, the template is missing a 'var' keyword. I think it might be [here](https://github.com/kunklejr/node-db-migrate/blob/master/lib/migration.js#L56).
I don't see it right away as I am using the `--sql-file` option to keep the database code in SQL, and I don't look at the top level migration file.

This does't affect db-migrates ability to run on my local machine, but it

[2015-03-06 07:33] wzrdtales commented on #240
No it's not. This is clearly intended!

This is the only possibility to share down requires to the migrations without having to set NODE_PATH to the global module directory.

[2015-03-06 07:35] wzrdtales commented on #240
It gets defined in the db-migrate bin
https://github.com/kunklejr/node-db-migrate/blob/master/bin/db-migrate#L19-L20

This will be done through the API also, which gets introduced in v0.10.x, yet there isn't a real support to use db-migrate as a module.

[2015-03-06 09:52] #240 closed

[2015-03-12 12:30] fleg opened #242 "Down migrations with mongodb"
Down migrations are **NOT** run in reverse run order with mongodb driver

example:
[code]

[code]

Probably because of missing sorting by `run_on` field in [allLoadedMigrations](https://github.com/kunklejr/node-db-migrate/blob/bf380ef32c22716620c9f5ac2001537d4f7b8e25/lib/driver/mongodb.js#L326) function

[2015-03-12 22:52] #242 closed

[2015-03-12 23:03] wzrdtales commented on #242
@fleg Bugfix published in v0.9.9.

Thank you for reporting

[2015-03-13 22:15] codeaholics commented on #192
I've just encountered this too, and I'm confused. You say there isn't any API, but there is -- or at least there used to be: require the module, call `connect()` on it, then work with the returned migrator object. It is often necessary to use this. One example use-case being that you want to work with a completely new database and you need to create a schema and switch to it before giving a workin

[2015-03-13 22:24] codeaholics commented on #192
For anyone else struggling with this, pinning to v0.8.0 fixes it. Later versions may also work, but I didn't check.

[2015-03-13 22:53] wzrdtales commented on #192
@codeaholics

Yes there is no API, there is no implemented way to use db-migrate as a module. This means, everything you try to use db-migrate as a module on older versions, can break. Because there is no API.

This fact is the reason why you can't pass variables to any method right now. I'm sorry that things are broken on your side right now, and I know that global namespaces can collide and this

[2015-03-15 11:16] ranzer opened #243 "Question: Why is there no data type TINYINT?"
Why is there no data type TINYINT in  db-migrate/lib/data_type.js file?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9583729-question-why-is-there-no-data-type-tinyint?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campa

[2015-03-15 11:21] ranzer opened #244 "Question: Is it possible to generate migration files from existing database scheme?"
I have already created database scheme and I would like to generate appropriate migration files for it. Can db-migrate read existing scheme and generate migration files for it?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9583836-question-is-it-possible-to-generate-migration-files-from-existing-database-scheme?utm_campaign=plugin&

[2015-03-15 13:27] wzrdtales commented on #244
This isn't something that db-migrate should do, or will ever do. But there is a project from me that is doing what you're searching for.

Please view my other project https://github.com/wzrdtales/node-ultimate-migrate, this is exactly doing what you're searching for. But it's currently still in beta and yet there is only support for mysql.

[2015-03-15 13:38] wzrdtales commented on #243
I reference here to this:
https://github.com/kunklejr/node-db-migrate/issues/86#issuecomment-17732218

But the dataTypes are going to be extended, at least dataTypes which are not some strange datatypes are going to be added.

For example array types are to specific to postgres or enums are to specific and this dataTypes are made to be generic. In short tinyInt or BYTE will be added in the near fu

[2015-03-16 21:42] wzrdtales opened #245 "Add ability to directly choose the target dbms"
When migrating generally database specific and such bound to its specific architecture and specifications like functions and procedures, there is no generic way to accomplish this task.

While creating a new language that would translate into the specific function or procedure code would be a solution, this is clearly not a task of db-migrate.

We instead will provide the ability to explicitly exe

[2015-03-17 00:47] Casen commented on #124
According to my current tests, this still does not work.

[2015-03-17 00:51] Casen commented on #124
[code]

results in

[code]

No auto-increment specified. This results in Users being created without any IDs.

[2015-03-17 11:56] wzrdtales commented on #124
do you really use the latest version of db-migrate?

please post output of

    db-migrate --version

Because this actually working, I have copy pasted your specified migration and this results in:
```[SQL] CREATE TABLE  `Users` (`id` INTEGER  PRIMARY KEY AUTO_INCREMENT)```

And one last question, which dbms you're using?

[2015-03-17 11:58] wzrdtales commented on #124
@Casen

Also the table within the dbms matches everything specified:
[code]

[2015-03-17 17:43] Casen commented on #124
You know what, I made a mistake! I do not have primaryKey: true on that column. I am using the email as the primary key currently, but maybe I will just change that around.

Let me check this out and get back to you.

The version I am using is 0.9.9

[2015-03-17 17:55] Casen commented on #124
Yes just confirmed, autoIncrement does nothing unless it is the primaryKey

[2015-03-17 17:55] Casen commented on #124
I am using MYSQL btw

[2015-03-17 18:00] wzrdtales commented on #124
Well then this is not exactly a failure of db-migrate. But in your migrations.

An auto incrementor in any database must be at least unique!
So either you define your column as primaryKey or unique key.

[2015-03-17 18:03] Casen commented on #124
So if I defined my migration as follows:

[code]

It would correct auto increment the column without it being the primary key?

I obviously understand the column must be unique... I thought that was just a given with auto increment

[2015-03-17 18:07] wzrdtales commented on #124
If auto incrementor would automatically adjust the keys this would lead to undefined behavior. This is clearly not wanted.

And no not yet, yet it needs to be the primaryKey. But this is not wanted like this, I'm going to change this.

[2015-03-17 18:08] wzrdtales commented on #124
also see https://github.com/kunklejr/node-db-migrate/blob/master/lib/driver/mysql.js#L101

[2015-03-17 18:13] wzrdtales opened #246 "can't create auto incrementor on unique keys"
see title

[2015-03-17 18:13] wzrdtales commented on #246
fixed in https://github.com/kunklejr/node-db-migrate/commit/d8e660360bce7c55d66543728153c75eef799b17

[2015-03-17 18:13] #246 closed

[2015-03-17 18:14] wzrdtales commented on #246
will be published in v0.9.10

[2015-03-17 19:43] wzrdtales commented on #124
@Casen
The missing ability of adding auto incrementor to unique keys was applied and published as patch of unexpected behavior in v0.9.10

[2015-03-20 17:12] rkmax opened #248 "How to query exist data before migration"
Example

I need add a new `notNull: true` column, but the table has rows. so

1. I need get current the data from the table
2. add the new column with the `notNull: true` property
3. insert updated records
4. update the column definition with `notNull: true`

[code]

How i can get the current data?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2015-03-20 17:39] wzrdtales commented on #248
Data operations are not exactly a part of the migrations. This more or less belongs to seeding data.

Yet you can't select data, but there are features which are going to be introduced within v0.10.x
I reference here to this:
https://github.com/db-migrate/node-db-migrate/issues/215

and this:
https://github.com/db-migrate/node-db-migrate/issues/230

So currently you can't do this via any method wh

[2015-03-20 18:27] wzrdtales opened #249 "initialization of new columns"
provide a functionality to initialize new columns, rather then permanently defaulting them.

[2015-03-20 18:27] rkmax commented on #248
@wzrdtales yeah are unique values

[2015-03-20 20:50] wzrdtales commented on #248
Then you need to fallback to runSql right now.

[2015-03-20 20:59] rkmax commented on #248
Thanks that was what I did?

For example

[code]

[2015-03-20 22:01] wzrdtales commented on #248
That is probably a solution, if this works for you.

[2015-03-22 16:21] #244 closed

[2015-03-22 16:22] #243 closed

[2015-03-22 16:22] #248 closed

[2015-03-22 19:41] wzrdtales commented on #224
Was moved to v0.11.0, actually we leave it in place for v0.10.x as we're going to take a look at several solutions and make decision afterwards.

[2015-03-29 21:30] #245 closed

[2015-03-31 06:50] pedalpete opened #252 "can't connect to rds database - possibly incorrect database.json file"
Not sure what I'm doing wrong here, but I keep getting an error
`Error: getaddrinfo ENOTFOUND [rds.server.address]`
I've been trying to look through your documentation and code to find how the database.json should be structured, and I've tried to follow what I've found.

My database.json file is (password and addresses have been changed)

[code]

I've tried looking through the documentation of par

[2015-03-31 07:34] wzrdtales commented on #252
You should whether use url or host,user,password,database but not both.

See this for an example configuration:
http://db-migrate.readthedocs.org/en/v0.9.x/Getting%20Started/configuration/

[2015-03-31 23:57] pedalpete commented on #252
thanks wzrdtales, you are correct that trying both url and host results in some... strange behaviour.
What I'm seeing is that if I use `host, user, password, database`, the connection object is correct, but the `getaddrinfo` error, which I've been unable to pin down.

If I use URL, the object that gets passed to `pg.connect` is my localhost details, so it appears url is not being picked up at all.

[2015-04-01 10:48] wzrdtales commented on #252
Thank you for investigating on this, if you need any further help don't hesitate to ask.

[2015-04-01 10:50] wzrdtales commented on #252
@pedalpete **To note**: If you discover the root of your issue and a solution to it, I would appreciate if you would open a pull request to https://github.com/db-migrate/english-docs and document this.

Thank you

[2015-04-02 14:06] axelduch opened #254 "MySQL driver can not handle NULL defaultValue for a column"
AFAIK it is not yet possible with MySQL driver to set defaultValue to NULL (since ```Array.prototype.join``` will skip null, and if you provide 'NULL' as a string, it will be wrapped into a string anyway)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10364119-mysql-driver-can-not-handle-null-defaultvalue-for-a-column?utm_campaign=p

[2015-04-03 13:46] rkmax opened #255 ".addColumn fail on Postgresql if the column definition has a foreignKey"
The following fails

[code]

[code]

I have to do the following

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10411884-addcolumn-fail-on-postgresql-if-the-column-definition-has-a-foreignkey?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2015-04-03 13:49] rkmax commented on #255
I forgot mention I'm using `7bfeea1f` version

[2015-04-03 13:50] wzrdtales commented on #255
@rkmax yes, I know, I do rember #237

[2015-04-03 13:53] rkmax commented on #255
:+1:

[2015-04-03 15:27] wzrdtales commented on #255
I opened a new branch https://github.com/db-migrate/node-db-migrate/tree/maintainedTesting

You can find there a version based on 7aeea1f with the bugfix applied.

[2015-04-03 15:36] rkmax commented on #255
@wzrdtales thanks

[2015-04-07 07:14] wrouesnel opened #256 "How to implement an "are you sure?""
I like to have my db-migration script able to go all the way down to "no database" since it makes resetting dev instances (and testing db migration scripts) easy. But this slightly terrifies me because you could use the same thing to wipe out a production database.

Are any patterns to have my first-level (or any destructive) migration script print a big "ARE YOU SURE?" before it does something -

[2015-04-09 11:27] wzrdtales commented on #256
There are no such pattern, you would have to use just your own javascript piece and I don't see why one would ever call a reset on a production system?
Migrations should be delivered in a state that is building up on top of the last delivered migrations when the final deployment to the production system is done. If this is not the case, then there is something terribly wrong in the usage with migr

[2015-04-10 23:19] rkmax opened #257 "Add the method addColumns"
Always i need write something like the folliwing code to add many columns in the same migration

[code]

it would be great if I can do something like

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10888902-add-the-method-addcolumns?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We acce

[2015-04-11 09:04] wzrdtales commented on #257
With v0.10.x this will work also work with promises like:

[code]

But I will get this also on my feature list.

[2015-04-13 16:14] rkmax commented on #255
@wzrdtales with the last issue solve this still reopen :(

[2015-04-13 17:06] wzrdtales commented on #255
please provide the necessary information to reproduce and actual error logs

[2015-04-13 17:13] wzrdtales commented on #255
are you sure, you're using the right version?

https://github.com/db-migrate/node-db-migrate/blob/master/test/driver/pg_test.js#L498-L525

I have also covered this with a test and it's passing

[2015-04-13 17:16] rkmax commented on #255
Example adding a new column

[code]

The field was added to the table but not as foreign key. this is the DDL generated after apply the migration

CREATE TABLE topics
(
    id SERIAL PRIMARY KEY NOT NULL,
    name VARCHAR NOT NULL,
    description VARCHAR,
    category_id INT,
);

I'm using this https://github.com/kunklejr/node-db-migrate/tarball/faa55cad348d2968582cfd5811c9f540f9e58696

Let me ch

[2015-04-13 17:20] wzrdtales commented on #255
This would be v0.9.7 and this fix is only applied to https://github.com/db-migrate/node-db-migrate/tree/maintainedTesting yet.

[2015-04-13 17:22] wzrdtales commented on #255
Never mind, confused of the title of the tarball, just checked the hash.

[2015-04-13 17:23] rkmax commented on #255
Man, I'm very sorry. seems my GUI Tool is not updating the info properly, I've checked directly with psql and table information was wrong.

[2015-04-13 17:23] #255 closed

[2015-04-13 17:25] wzrdtales commented on #255
ok no problem. if have any problems again please don't forget to provide error messages and a proper way to reproduce so I can faster solve your problem ;)

[2015-04-13 17:26] rkmax commented on #255
Thanks man, much thanks for your help and quickly responses

[2015-04-14 09:36] evgeny-t opened #258 "Error: Cannot enqueue Query after fatal error."
I am trying to apply migrations to an empty database `qwerty`.

I run `db-migrate -e test up` and get
[code]

My `database.json` looks like following:
[code]

I use:
node `v0.12.0`
npm `2.5.1`
db-migrate `0.9.13`

Am I doing something wrong or it is a bug?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11111790-error-cannot-enqueue-

[2015-04-14 09:39] evgeny-t commented on #258
It looks similar to #238.

[2015-04-14 10:21] evgeny-t commented on #258
It has to be `user` instead of `username`. My fault. The error message is confusing though.

[2015-04-15 07:43] wzrdtales commented on #258
closed via https://github.com/db-migrate/node-db-migrate/commit/85397aa4653c7597d2f2f2ce461bcf3def0f2bc3

[2015-04-15 07:43] #258 closed

[2015-04-15 07:59] evgeny-t commented on #258
@wzrdtales I guess it would be better to throw an exception instead of such a workaround. What if someone just misspelled that field name?

[2015-04-15 08:47] wzrdtales commented on #258
I don't think so, username and user are alias able, and to throw an exception if someone sets a config variable is an **undefined** behavior. It could be needed for some special configuration of the user, if he uses the same config of his project together with db-migrate.

[2015-04-17 21:16] rkmax opened #259 "dry-run option throw a error"
when I run `db-migrate up|down --dry-run` I get
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11394270-dry-run-option-throw-a-error?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-04-18 11:25] wzrdtales commented on #259
@rkmax Yes, thanks for reporting.

Those functions need to be executed through `all` as they must run even if dryRun is active. Patch is incoming.

[2015-04-18 11:39] #259 closed

[2015-04-18 11:59] wzrdtales commented on #259
Bugfix also published in maintainedTesting, v0.9.x follows

[2015-04-18 14:04] rkmax commented on #259
Thanks @wzrdtales. Man you're a beast

[2015-04-21 17:42] rkmax opened #260 "Which difference exists between .runSql and .all methods"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11707339-which-difference-exists-between-runsql-and-all-methods?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm

[2015-04-21 21:28] wzrdtales commented on #260
runSql does only run if the dryRun boolean is not set. all gets executed even if the dryRun boolean is set.

all is not a method you should use in your migrations though.

[2015-04-21 22:13] rkmax commented on #260
So if I have special migrations those where I use SELECT raw queries i can use .all in that way I can run the migration with --dry-run and works fine. @wzrdtales thanks should include that informacion in the readme

[2015-04-21 22:13] #260 closed

[2015-04-23 16:01] thokari opened #261 "How to make more complex queries?"
Hi, I want to completely change the structure of my database (mongodb), so the four methods provided by the API will not suffice. How do I use the mongodb API from within migrations?
I am currently stuck with this:
[code]
Which yields:
[code]

[2015-04-25 14:15] wzrdtales commented on #261
This is currently not possible, requests are encapsulated by the _run method which fistly builds the connection. I have planned anyway to make a bit of rework on some drivers, including this one.

So as we're on this topic I can ask this question, I've forgot to ask so often.
@toymachiner62 Could you tell me why exactly you establish the connection not when loading the driver and instead open a ne

[2015-04-28 22:02] toymachiner62 commented on #261
If i remember correctly I was having a helluva time with the connection stuff b/c it's different than most other sql connections. I can't remember the specifics off the top of my head though..

Either that or I was being dense at the time...

[2015-04-29 03:34] wzrdtales commented on #261
@toymachiner62 Ok thanks for your response :)
Then I will check out the details about the connection and see what happens if there is a persisten connection.

@thokari I will schedule this at a later time, I will invest more time in May again and hope to finish the v0.10.x. Either I will schedule this for the v0.10.x release or going to put into the next release, depends on how fast next month eve

[2015-04-29 20:12] fydo23 opened #262 "Postgres missing support for "ALTER TABLE ... ALTER COLUMN ... TYPE ...""
I was looking at https://github.com/db-migrate/node-db-migrate/blob/master/lib/driver/pg.js#L246 and was sad to see that it's impossible to alter an existing column's types in postgres.

I'm thinking, check if `type` is in `columnSpec` to trigger:

     var sql = util.format('ALTER TABLE "%s" ALTER COLUMN "%s" TYPE %s', tableName, columnName, columnType);

Fy.

<bountysource-plugin>
---
Want to ba

[2015-04-29 21:34] fydo23 commented on #262
I modified the `function setNotNull()` to the following:

    function setNotNull() {
        var alter_column = "";
        if (columnSpec.type != undefined){
          var using = util.format("USING %s::%s", columnName, this.mapDataType(columnSpec.type));
          if (columnSpec.using != undefined){
            using = columnSpec.using;
          }
          alter_column = util.format('ALTER CO

[2015-04-29 22:04] wzrdtales commented on #262
Actually there was pull request about this
#209

Unfortunately an incomplete one, not only it is lacking tests, it also failed with the existing ones. Currently this is not in scope of v0.10.x and earliest would be in v0.11.x. But you're free to open a merge request handling tests, this is always appreciated :)

[2015-04-30 09:29] kimmobrunfeldt opened #263 "Mongo driver is missing remove(opposite for insert)"
There is `insert` but not `remove`. It internally uses `this._run('remove')` but that cannot be accessed from migration scripts.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12580273-mongo-driver-is-missing-remove-opposite-for-insert?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept b

[2015-04-30 09:42] wzrdtales commented on #263
This is redundant to #213, please see and join the discussion there

[2015-04-30 09:42] #263 closed

[2015-04-30 10:11] kimmobrunfeldt commented on #213
I'm already using Mongoose in my project, do you see it as an issue to use Mongoose API inside up and down functions. Anyways I would prefer to use a more complete API for modifications in mongo

[2015-04-30 10:25] kimmobrunfeldt commented on #213
I would need to be able to for example add a new attribute for all documents inside my collection. Real world example: I have users collection and I would want to add a new 'column' called age for all the existing users too.

[2015-04-30 10:53] wzrdtales commented on #213
@kimmobrunfeldt Ic, this makes sense, from the perspective of a migrator now, the question is. If we edit a schema, also if this is a NoSQL one, shouldn't we already be able to do this via the addColumn,.. methods and be able to flag it to apply it just to one document or to all.

I think I'm going to create a concept on this topic and open a RFC for this. But first I'm going to push through the v

[2015-05-03 13:24] ncsft opened #265 "Sql AFTER statement"
I want to run something like that?
`alter table ** add column new_column int(10) after exists_column`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12938289-sql-after-statement?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-05-04 06:39] wzrdtales commented on #265
@ncsft Please write a more thorough issue. This issue is completely missing any details.

What is your exact problem?
Why do you want to do, what you try to do?
How did you tried it yet?

Now it seems you have simple SQL Question, this not related to db-migrate, but to SQL instead. To answer how you execute a SQL Query within a migration, this can be done via runSql.
Please always write a detailed

[2015-05-04 07:47] ncsft commented on #265
I want to add column "commission" exactly after column "login" in table "partner"
[code]

[2015-05-04 11:55] wzrdtales commented on #265
@ncsft No not yet, this is also related to #159
This is considered to be a nice to have, as it doesn't influence the performance of anything, but the visual appearance. Thus this has a low priority, if you really want this feature to be implemented fast there are two ways.

1) Do it yourself and open a pull request afterwards.
2) Put a bounty on it, to make the issue attractive for anyone to solve

[2015-05-07 15:18] listepo commented on #224
https://github.com/tj/commander.js

[2015-05-08 15:07] apechimp opened #267 "Can't use choose postgres schema if DATABASE_URL exists"
If the `DATABASE_URL` environment variable is set, the configuration file is not read, so there is no way to choose a schema when using postgres. Would a PR for adding a commandline option for setting a schema be welcome?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13698056-can-t-use-choose-postgres-schema-if-database_url-exists?

[2015-05-08 15:44] wzrdtales commented on #267
@apechimp This is one issue, that might be needed to be carefully handled. This might result in an undefined behavior for some users. A pull request is always welcome though, but in this case this might cause trouble afterwards.

[2015-05-08 15:47] wzrdtales commented on #267
@apechimp May be it would be the better solution to enrich the parse-database-url project with this feature. https://github.com/pwnall/node-parse-database-url

Also there would be the possibility to change the schmea via the scope config, see also https://github.com/db-migrate/node-db-migrate#scope-configuration

[2015-05-08 15:58] apechimp commented on #267
Good suggestions! I too don't think the PR I proposed was a very good idea :wink: I'll submit a patch to parse-database-url.

[2015-05-08 15:58] #267 closed

[2015-05-13 03:24] aaronmoodie opened #270 "Environment variables in config file"
I have separate config json files for dev and prod, using the format
[code]

Using the command `db-migrate up --config config/production.json -e prod` how would I reference USER and PASSWORD from production.json in my database.json config file?

[2015-05-13 07:42] wzrdtales commented on #270
use one configuration file like in this example and differentiate your environments directly:
http://db-migrate.readthedocs.org/en/v0.9.x/Getting%20Started/configuration/#configuration

[2015-05-13 14:34] aaronmoodie commented on #270
thanks @wzrdtales
I've broken the files up so that I can include the right one using `NODE_ENV`. In the same dir as config/production.json and config/development.json I have an index.js which is requiring the appropriate json file for the environment: `module.exports = require('./' + (process.env.NODE_ENV || 'development') + '.json');`
Then elsewhere in my app I can load in the right user and pass

[2015-05-13 15:42] Dynom commented on #262
I would greatly appreciate a more thorough overview of what's supported and what isn't supported per database.

I was scratching my head about why the following
[code]

Produced the following ridiculous SQL statements:
[code]

Until I found this issue.

[2015-05-13 20:50] wzrdtales commented on #262
@Dynom Yes you're right, I'm working on the documentation and informations like this will also be documented there. Thats part of the goal which is set for the v0.10.x release.

Btw. the newest docs are always on readthedocs now, I will clean up the readme soon.

https://readthedocs.org/projects/db-migrate/?badge=latest

[2015-05-15 06:30] Dynom commented on #262
Thanks for the update @wzrdtales I'll make sure to readthedocs more often (-;

[2015-05-19 19:43] TGOlson commented on #270
+1 - I have the same issue. My configs are structured almost identically to what @aaronmoodie described.

Some more dynamic configuration process would be nice, or at the very least making the config file optional so that I can use my own internal tools for exposing a database.

[2015-05-20 06:00] wzrdtales commented on #270
@TGOlson @aaronmoodie The latter one doesn't sound like an option, the only way to "expose" the database by your own tools, would be to pass it in some way to db-migrate. This means you would need to integrate db-migrate with your tools.

So, ok. Let's have a look together at the current https://github.com/db-migrate/node-db-migrate/blob/master/lib/config.js.

As you might notice, the config gets

[2015-05-20 20:15] TGOlson commented on #270
@wzrdtales thanks for the reply, I think your example gives me something to work with.

Also, I don't think I explained my initial idea very well. Injecting a DB connection or ORM object would be really nice (although to your point, a little too complex), but it would also be nice just to skip the config altogether. Something like:

[code]

And then when you write your migration, the db is just an

[2015-05-20 20:19] wzrdtales commented on #270
@TGOlson this would not work, db is not the driver of the database, but the driver of db-migrate for this specific database ;) you would have to link the database driver into this driver.

[2015-05-22 15:05] emanchado commented on #214
Any progress on this? I'm interested in it, too :-) I tried reading the source but couldn't figure out how to use it :-/

[2015-05-22 15:14] wzrdtales commented on #214
There are already docs about this topic:
http://db-migrate.readthedocs.org/en/latest/API/programable/

But I suspect you're using the current stable release, all of this is part of the v0.10.x release which is coming soon.

[2015-05-22 19:00] emanchado commented on #214
Ah, didn't find it, thanks. Looking forward to 0.10!

[2015-05-25 10:38] wzrdtales opened #272 "minimize needed unnecessary functions of standard sql drivers"
Generalize the automatic quoting, by setting variables instead of overwriting functions and write overall the same function like before, just with different quoting.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17528884-minimize-needed-unnecessary-functions-of-standard-sql-drivers?utm_campaign=plugin&utm_content=tracker%2F73887&ut

[2015-05-26 18:14] gregl83 commented on #270
I'm using [config](https://github.com/lorenwest/node-config) for my configuration management.

Config has separate environment configuration files so that sensitive data may be omitted from version control systems (staging / production creds etc).

I believe storing creds in env vars is less secure than files with strict access control...

As db-migrate is currently built it would require storing

[2015-05-26 18:39] wzrdtales commented on #270
@gregl83 There is no "storing" in environment variables.Also I think the variables wasn't intended like you think they're used.

In fact you can utilise this different objects in the json file to define multiple configs for different databases and different dbms's. I do not think that this was planned just for using it to separate test, dev and production though.

Currently to fullfill your requir

[2015-05-26 19:33] gregl83 commented on #270
@wzrdtales, totally get it and thanks for putting the package open source in the first place. I like the idea of keeping the migration process in node vs other solutions available.

Just adding my use case to the mix which seems like may work for both @aaronmoodie and @TGOlson but understand that introducing breaking changes most often is not the best solution.

[2015-05-26 21:11] TGOlson commented on #270
Hey fellas,

Just swinging by to say we solved out problem by wrapping calls to `db-migrate` in our build tool, Gulp. We basically load our own internal config, and then provide the environment specific db url to `db-migrate`. Something like this:

[code]

I omitted some setup code for brevity (if anyone wants the full solution I'd be happy to provide it). We do a little more work to wrap the task

[2015-05-26 22:30] wzrdtales commented on #270
@TGOlson Great to see, you have found a way that works for you and your team.

From what you've done I think, it would help to add a method to the programable API (there is no such API yet, but v0.10.x introduce one) that specifies a config object directly instead of parsing a file?
In v0.10.x things like you have done now, are much easier, as there finally an API gets introduced that is made for

[2015-05-26 22:39] TGOlson commented on #270
@wzrdtales that sounds great. It would definitely be ideal to programmatically call an API instead of wrapping shell commands. Looking forward to seeing it.

[2015-06-04 14:59] shaimr opened #273 "How to check pending migration?"
Hey,

I want to disable my app when pending migration exists. How can i do it?
(I prefer configuration, but code is also a possibility)

Thanks,
Shai.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20415214-how-to-check-pending-migration?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We acc

[2015-06-04 15:20] antoineverger commented on #273
I think you might have to wait ´til the 0.10 milestone (https://github.com/db-migrate/node-db-migrate/milestones/v0.10.0) is released. It will expose the db-migrate api so you can use it as a module in your app and then, you should be able (to be confirmed) to check if you have pending migrations.

[2015-06-04 16:00] shaimr commented on #273
When is it planned to be?

[2015-06-04 18:39] antoineverger commented on #273
I´m not a committer on the project so can not say. If we help on that, it will obviously go faster ;)

[2015-06-06 11:55] wzrdtales commented on #273
@antoineverger @shaimr
Concerning the plan for the release of v0.10.x, I think I will try to fetch some time to publish what exactly is planned, in what order, how the time schedule is setup and so on. To say, there is no fixed date for the release of v0.10.x, there will be a pre-release for v0.10.x, but later more on this topic.
I'm currently working on about 20 projects, I have planned time for

[2015-06-17 17:44] Chipsi opened #275 "[ERROR] Error: Cannot enqueue Query after fatal error."
Hello, I have some problems with migrations.

- node -v v0.12.3
- npm -v 2.9.1

[code]

I have created migration with `db-migrate create init`

Here is my configuration

[code]

Here is my log.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22355230-error-error-cannot-enqueue-query-after-fatal-error?utm_campaign=plugin&utm_content=t

[2015-06-18 00:25] bossqone commented on #275
I've probably found solution.
Original `database.json`:
[code]
Modified working version:
[code]

[2015-06-18 08:49] Chipsi commented on #275
@bossqone fixed my problem, you can #close

[2015-06-18 08:51] wzrdtales commented on #275
@bossqone Awesome, thanks for helping out here :)

@Chipsi I'm glad your problem was resolved. Closing here

[2015-06-18 08:51] #275 closed

[2015-06-19 13:38] emanchado commented on #214
Is there any ETA for 0.10, BTW?

[2015-06-22 16:53] jlippold opened #277 "Redshift migrations break from 0.9.13 to 0.9.14"
When running a fresh migration from a blank db on amazon redshift, the script dies

![http://s3.amazonaws.com/PicUp/ed8q35.png](http://s3.amazonaws.com/PicUp/ed8q35.png)

We are currently using 0.9.13 where redshift was still supported. Maybe 0.9.14 added some new postgres command that [redshift doesn't support](http://docs.aws.amazon.com/redshift/latest/dg/c_redshift-and-postgres-sql.html)?

<bou

[2015-06-22 17:02] wzrdtales commented on #277
@jlippold No there are no new commands in any of the >0.9.13 versions.

Actually the message tells us you're crashing in the all function:
https://github.com/db-migrate/node-db-migrate/blob/9afc4cc480ba762548e5a77f2126cc0bbbceadc7/lib/driver/pg.js#L331

The all function gets only called by System functions, for example when creating a migration table. The query itself doesn't return a result in th

[2015-06-22 17:18] wzrdtales commented on #277
@jlippold In v0.9.14 the createMigrationsTable function has been changed. It now uses all and used before runSql, this was not intended and was a bug.

https://github.com/db-migrate/node-db-migrate/blob/918df65a5828b0ee041d388b5088a0458ec5dc15/lib/driver/pg.js#L123-L179

This means one of the following queries was broken even before 0.9.14

[code]

But this would be strange, because if one of thes

[2015-06-22 17:25] jlippold commented on #277
it's `SET search_path TO $user, public` that's returning the error

[code]
I'm not sure if that helps, i'm digging deeper

[2015-06-22 17:35] wzrdtales commented on #277
This error is generated by the lack of quotes. This have to be at least:
SET search_path TO "$user", public

But db-migrate does generate the correct query, I just switched to the 0.9.14 version and tested it. The following query gets generated:
    SET search_path TO test_schema,"$user",public

[2015-06-22 18:25] jlippold commented on #277
This sql https://github.com/db-migrate/node-db-migrate/blob/918df65a5828b0ee041d388b5088a0458ec5dc15/lib/driver/pg.js#L148 returns the result differently when using redshift

In the latest postgres `SHOW search_path` returns `"$user",public`
While in redshift `SHOW search_path` returns `$user,public` (no quotes)

Which explains the error.. not too sure the best way to fix just yet

[2015-06-22 18:27] wzrdtales commented on #277
ahh, well ok. Now we come close to a solution :)

give me a couple of minutes.

[2015-06-22 18:31] jlippold commented on #277
this sql https://github.com/db-migrate/node-db-migrate/blob/918df65a5828b0ee041d388b5088a0458ec5dc15/lib/driver/pg.js#L133 returns this on redshift:
[code]

and on regular postgres:
[code]

I suppose if you detect the `Redshift` string in the returned version, you can add the fix based on that condition?

[2015-06-22 18:47] wzrdtales commented on #277
https://github.com/db-migrate/node-db-migrate/commit/75e1b17d1468cb21d95887e602d3d757be91eae6

Waiting for travis tests now

[2015-06-22 18:54] jlippold commented on #277
that commit works for me on redshift :+1:

[2015-06-22 18:58] wzrdtales commented on #277
Going to be published as soon as all travis tests are finished.
Version that is going to hold this fix: 0.9.17

[2015-06-22 19:16] jlippold commented on #277
you're the man

[2015-06-22 19:16] #277 closed

[2015-06-22 19:26] wzrdtales commented on #277
applied to master, published to v0.9.17

[2015-06-24 13:23] jefforulez opened #279 "release updated mysql dependency to avoid bignumber.js bug?"
is it possible for to do a hotfix release with the updated mysql version dependency so that the bignumber.js "critical bug" is avoided?

$ npm install

npm WARN deprecated bignumber.js@2.0.0: critical bug fixed in v2.0.4

db-migrate@0.9.17 node_modules/db-migrate
├── ...
├── mysql@2.5.5 (require-all@1.0.0, bignumber.js@2.0.0, readable-stream@1.1.13)

the current ~2.7.0 version would be great.   ht

[2015-06-25 10:25] IyadAssaf opened #280 "Export SQL for all migrations"
I think it would be useful to export the raw SQL commands from all of the migrations so it can be used to initialise new databases from a single file.

For example in my testing environment I generate and start a local Postgres instance which requires setup via migrations before any tests can be run. Currently I have to store ~50 migration files in my repo and run these on every test run. In my ca

[2015-06-25 18:24] zyberspace commented on #280
What about dumping the structure together with the complete `migrations`-table? (from command line)
You could then include this sql-file into your project and use it when you set up a new environment.

When you then run `db-migrate up`, it will look into the `migrations`-table and say "No migrations to run".

Would be nice to have a build-in-function for this tho. :+1:

[2015-06-28 10:34] wzrdtales commented on #279
Hey,

sry for beeing so late. I had a few tough weeks and needed to manage some kind of things and am back working effectively now :)

I will check if the upgrade has any negative effect and if not then releasing an upgrade.

[2015-06-28 10:37] wzrdtales commented on #214
@emanchado Sry for having not answered yet, to little time and to much todo in the last weeks.

In fact there is no real ETA, but  I plan to push through everything which is missing for the release yet, except the tests and release a pre-release of 0.10 while I work on finishing the docs and tests. I work through everything that stacked up the last weeks now :)

[2015-06-28 10:59] wzrdtales commented on #280
I think the proper way would be, to add a log level specification:

    db-migrate up --dry-run --log-level sql > migrations.sql

and a --ignore-completed-migrations flag

Thoghts?

[2015-06-28 11:20] wzrdtales commented on #280
Would look like the following if implemented like suggested:

[code]

[2015-06-28 11:53] wzrdtales commented on #280
Example implementation:

[code]

[2015-06-28 12:08] wzrdtales commented on #280
Pushed example implementation to https://github.com/db-migrate/node-db-migrate/tree/exportSQLMigrations

[2015-06-28 16:27] wzrdtales commented on #279
updated mysql dependency released with v0.9.18

[2015-06-28 16:27] #279 closed

[2015-06-29 13:24] zyberspace commented on #280
@wzrdtales But then it would still run all migrations, you would just have them collected in one file.
I think what @IyadAssaf wanted to have, is a way to create the tables for a new database, for example if you are a new developer and just cloned the project.

[code]

`db-migrate init` could for example take a `structure.sql` (as stated above) as source. If then some changes get made with `db-mig

[2015-06-29 14:43] wzrdtales commented on #280
No I think this is exactly what he wants, because this was exactly what he has written:

If we talk about *dumping* a database, you're in the wrong project :)

There is another project of me https://github.com/wzrdtales/node-ultimate-migrate, which reverts existing database schemas to migrations and also delivers the ability to make diffs against existing databases and the actual existing migratio

[2015-06-29 16:36] zyberspace commented on #280
Damn, you are right, my bad :D

Not exactly (you are the developer of course ;) ), if you don't already have a scheme to work on (/migrate), you need  to run every single migration on that database, which would be much slower than having the current structure saved somewhere and use it if there are no tables yet in the database-scheme.
But like you said, this is then not actually an migration-task

[2015-06-30 10:45] IyadAssaf commented on #280
Yep, this is exactly what I was talking about. Thanks for the quick turnaround, this is awesome!

[2015-07-02 17:00] rkmax opened #281 "Feature: down all migrations one command and allow use db-migrate as module"
I have many migrations that represents all my database, when I run tests I use the migrations to recreate a test database in a known state usualy I pass something like

[code]

would be great if I can pass something like `--all` to the down command and if I can use db-migrate as module

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-07-05 09:14] wzrdtales commented on #281
@rkmax I'm working on this :)
There is a reset method, that already does what you search for and the db-migrate as a module with a stable programable api is also part of the v0.10.x version.

I need to finish and test the last details of the seeder and of the internal structure of db-migrate (restructuring the driver architecture, promisifying and so on...), after this I will release a pre release

[2015-07-05 22:00] rkmax commented on #281
thanks @wzrdtales for all your hard work

[2015-07-28 13:21] rue commented on #237
It’s not explicitly noted here, but if somebody else evaluating this tool is reading, the _separate_ `addForeignKey` works with Postgres.

Where are we with 0.10? It’s 5 months over the original estimate… :)

[2015-07-28 14:28] wzrdtales commented on #237
@rue So true, I really did not expected to have this less time..., but I'm currently much more active again :). Going to push the next changes up on thursday or friday.

I currently finally move the drivers into their own repos (they're already but in fact still exist in the migrator repo) and have some local changes for the VC Seeder, changes at the handling of local variables, API changes for th

[2015-08-01 14:50] #272 closed

[2015-08-01 14:52] wzrdtales commented on #262
closed as it was already merged

[2015-08-01 14:52] #262 closed

[2015-08-01 14:53] wzrdtales commented on #254
closed as it was merged

[2015-08-01 14:53] #254 closed

[2015-08-02 12:18] #239 closed

[2015-08-02 12:27] wzrdtales commented on #280
@zyberspace Yes please open a new issue for this :)

Closed as it is already contained in the master.

[2015-08-02 12:27] #280 closed

[2015-08-05 17:10] wzrdtales opened #286 "Incompatibility to io.js-3.0"
# Broken on io.js 3

As some of you may have mentioned, that the CI is failing on builds upwards version 3.0.

This is because of an incompatibility of the sqlite driver, which does not compile anymore. Also NAN has released a major release, which means that many projects using native modules are pretty broken right now.

This goes for sqlite3 which we use and also pg-native, which we included by

[2015-08-06 06:30] wzrdtales commented on #281
refers to #214

Notes: reset commands already fullfills the described need.

[2015-08-06 06:31] wzrdtales commented on #252
@pedalpete any progress on this?

[2015-08-07 21:43] ice2morrow opened #288 "Migration table not created in designated schema"
The migration table is created inside the public schema regardless of the schema defined in the database config file when migrating to redshift. I want to be able to house multiple schemas on the same DB in redshift, and have separate migrations per schema. Is this possible?

Below is the verbose output from db-migrate when performing a migration on a redshift database:

[INFO] connected
Inside cr

[2015-08-07 21:58] wzrdtales commented on #288
Please provide all necessary informations to reproduce this.

I'm currently missing:
db-migrate version used,
node version used

[2015-08-07 22:06] wzrdtales commented on #288
Also I could be wrong, but I think this problem was also solved in the new version which was released today (v0.9.19), which includes the following bugfix which I merged today:

#287

Please always include the version information and all necessary informations to complete reproduce the issue. So we can help you way faster, without having to guess and collect data :)

[2015-08-10 14:14] ice2morrow commented on #288
@wzrdtales You are correct, this is basic information that I did not mean to leave out.

Node version - 0.10.38
db-migrate version - 0.9.19 (as of the last time I tried this, and it still did not work).

Below is the error printed:

[code]

Redshift does not support a serial column type, so ahead of time I tried creating the migrations table myself with correct column type (identity), and then hop

[2015-08-10 17:23] almasakchabayev opened #289 "is it possible to use with es6 syntax?"
cannot make it work with es6 imports

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25613396-is-it-possible-to-use-with-es6-syntax?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&

[2015-08-10 18:59] wzrdtales commented on #289
Ok..., please be so kind and open an issue with a bit more of love. Clearly missing your own interest in this issue, as you're leaving out:

Why you need it and details how it may should look and feel like.
Maybe already a suggestion on how a solution could look like.

Just opening an issue with no content at all and just saying "cannot make it work", is some kind of rude.

Ok...
After we got this

[2015-08-10 19:27] wzrdtales commented on #288
Ok, this is strange. I know from the issue #277 that migrations do work on redshift. This means something has changed somewhere. It's a bit tricky to figure this out, as I can't test it locally...

The second error, comes directly from the pg driver and not from db-migrate though. Seems like the table can't be found?
To the first error:
This is indeed strange, as you can see yourself from the link

[2015-08-10 19:51] wzrdtales commented on #289
Also an option would be to pass it as an environment variable, with a call style like:

NODE_ARGS='--harmony --harmony-modules' db-migrate

Would also be an way to accomplish that. Not sure about the windows support yet.

[2015-08-10 20:07] wzrdtales commented on #288
@ice2morrow lets focus on the second error first. Can you somehow ensure that in the schema the migration table exists (with the identity instead of serial), maybe you created it in the wrong schema?

The error: `relation "migrations" does not exist` is mostly related to a missing table, or insufficent permissions.

[2015-08-10 22:08] ice2morrow commented on #288
@wzrdtales I can confirm the table is there, and with the correct column type when I create it manually. If I leave it to db-migrate, its created, but with the wrong column type, which throws the error.

[2015-08-10 22:16] wzrdtales commented on #288
@ice2morrow Then please do the following, get the queries generated by db-migrate through the verbose mode. And try executing them one by one manually and try to figure out where exactly the problem is.

As pointed out, this could also be a problem with missing permissions, which would cause a `relation "" does not exist` failure.

Can you also try version 0.9.17, with the migration table manually

[2015-08-11 15:46] wzrdtales commented on #289
Ok, after having a look at this, npm currently doesn't support a behavior that would make it possible to solve this problem without calling a subprocess from node itself.

I guess I will do it in a similar way, in which mocha has done it.

[2015-08-12 01:07] nguyenchr opened #290 "Cannot create coffee and sql files"
Just wondering how the `node_module/.bin/db-migrate` file get’s created
I have npm install’ed the latest version and it seems that file is missing some functionality that seems to be present in `node-db-migrate/api.js`
to be specific this line is not there

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25667687-cannot-cre

[2015-08-12 09:38] wzrdtales commented on #290
You might confuse the actual released version and the current work in progress version.

This is the release branch of the actual published version:

https://github.com/db-migrate/node-db-migrate/tree/v0.9.x

The master contains everything related to the new version and what is currently work in progress and thus doesn't ment to be 100% production ready.

[2015-08-12 09:41] wzrdtales commented on #288
@ice2morrow Just to inforn you:
I will pick up this task for the redshift driver, which is going to use IDENTITY instead of SERIAL after I have finished on the linking between VC Seeders and Migrations.

Did you already had some time to try the queries manually, to discover where exactly everything stucks?

[2015-08-12 14:34] ice2morrow commented on #288
@wzrdtales I did what you asked, downgrading to 0.9.17 first, listed is the verbose output:

[code]

Then I ran them manually:
[code]

The results were the same on both versions but below is the stacktrace from 0.9.19:
[code]

[2015-08-12 15:01] wzrdtales commented on #288
@ice2morrow Ok good, then this is nothing that was introduced with any of the last patches. Good to know!

So the node-pg driver (not the db-migrate pg driver) is returning the error at

     SELECT * FROM "migrations" ORDER BY run_on DESC, name DESC

Nothing new so far..., next question is:
Did you executed the queries with the same credentials you used in your database.json config for db-migrate

[2015-08-12 15:13] wzrdtales commented on #288
@ice2morrow I think I have found the failure:

    [SQL] SET search_path TO "dev","$user"," public"

Watching this cloooooosely, makes us aware of an space before public..

There was a pull request, for a similar bug that made it into the master concerning postrgresql 9.5 alhpa #282. Seems like the amazon devs are porting some buggy features. Going to release a patch for this.

[2015-08-12 15:20] wzrdtales commented on #288
Waiting for tag passing tests:
https://travis-ci.org/db-migrate/node-db-migrate/builds/75284843

[2015-08-12 15:26] wzrdtales commented on #288
Tag has passed the tests.

Released new patch v0.9.20.

Closed the issue, please try it with the newest version and reopen of necessary.

[2015-08-12 15:26] #288 closed

[2015-08-12 23:02] wzrdtales opened #291 "Add ability to use IDENTITY instead of SERIAL on Redshift"
Create a new driver from the postgresql driver with minor changes to provide a better Redshift support.

We need to use IDENTITY instead of SERIAL, amazon doesn't use the same datatype for autoIncrements like it is done in postgresql.

Also refers and fixes parts #288

[2015-08-12 23:03] wzrdtales commented on #288
Added Issue concerning the issue with the SERIAL datatype.

@ice2morrow Did the released fix work for you?

[2015-08-12 23:06] ice2morrow commented on #288
@wzrdtales It looks like it did, thank you very much

[2015-08-12 23:07] wzrdtales commented on #288
Great, looking forward to create a better support for redshift, thus you and no one else have to create the migration table by hand :)

[2015-08-13 16:35] charyorde opened #292 "What does seeders do?"
Seems like it's a newly added feature.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25730416-what-does-seeders-do?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=i

[2015-08-13 16:45] wzrdtales commented on #292
It is not only new, it is not released yet :)

Like the name says, they provide the ability to seed your database. Or more specific, everything that is related to data manipulation and not part of the data definition is part of a Seeder.

There are two types of seeds that are going to be introduced. VC Seeder and static Seeder.

The release will also provide documentation for all of this.

[2015-08-13 16:56] wzrdtales commented on #292
If you want to have more informations right now, you can also read the describing comment of the seederInterface:
https://github.com/db-migrate/node-db-migrate/blob/master/lib/interface/seederInterface.js#L1-L36

[2015-08-13 17:09] charyorde opened #293 "Make relation module optional in Migrator"
Can [this](https://github.com/db-migrate/node-db-migrate/blob/master/lib/migrator.js#L13) be optional?

Use case: no concept of relation in Cassandra database.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25731957-make-relation-module-optional-in-migrator?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source

[2015-08-13 17:15] wzrdtales commented on #293
It actually is optional :)

This is the preparation for automatic look ups of values in the new Seeders. And yes there is probably no relation in Cassandra, that is true. But it is still possible that there is some relation in your dataset, but this is just a question of the design. Most of the time you're right and NoSQL like Databases will store the whole object/document/whatever with everything

[2015-08-13 17:16] charyorde commented on #292
Sounds like a data transformer layer. That's powerful. Considering one can easily manipulate production schema on a fly without necessarily rolling out a new deployment.

Well explained. Thanks

[2015-08-13 17:46] wzrdtales commented on #292
That is the plan yes.

One of the hairiest use cases would also be for example:

### Renaming, moving or duplicating a Column

It isn't a big deal normaly, but not if you want to keep your zero downtime deployment, you need to take the detour. Creating a new column in the first step, copy over the data of the column in the second step, set the new application live and if it is live, running and wo

[2015-08-13 22:15] nguyenchr commented on #290
I see, is there any plan to do a new release with all the changes in master soon?

[2015-08-18 10:49] wzrdtales commented on #290
Yes, there are plans to do this soon.
I currently work on the linking between the new Seeders and Migrations, that is one of the last things I have to finish.

You can also look up the planned features, by viewing the milestone:

https://github.com/db-migrate/node-db-migrate/milestones/v0.10.0

You may notice, that some issues are the same feature. So generally there are really only a few tasks le

[2015-08-18 22:20] nguyenchr commented on #290
thanks for the very thorough answer @wzrdtales :+1:

[2015-08-19 01:46] lewisdawson opened #294 "Specifying dbname parameter during create causes an exception"
If you specify a `dbname` parameter during a create operation, as the documentation suggests you can, you get an exception.

[code]

In addition, the name of the migration that's used is the `dbname` parameter, not the `migrationName` parameter.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25928774-specifying-dbname-parameter-duri

[2015-08-19 09:36] wzrdtales commented on #294
Ic, this information is indeed misleading.

I don't even know right now, why I have written like that. It is the plan to replace optimist soon and to rewrite the whole cli. I will correct the documentation, to make them fit what you actuall  can do. Thank you very much for reporting this issue!

For you a first version of the correction I'm going to apply to the master, please note that coffee scr

[2015-08-19 09:41] wzrdtales commented on #294
Ok, I now know why it was noted like that.
Some time back, when I introduced scoped migrations, see https://github.com/db-migrate/node-db-migrate#multiple-migration-scopes for this topic, there has been a first version, which used parameters instead of the `up:scope` notation. There is no such parameter like "all" in any of the functionalities, but there was for the first version of scoping.

I'm

[2015-08-19 09:56] #294 closed

[2015-08-19 12:12] ramakrishnan opened #295 "Migrations ran_on using current date"
When I run a batch of migrations. The ran_on column takes the current date. I feel this should be the timestamp of the migration file. This will help us in rolling back the last ran migrations,

When the ran_on has the same timestamp rollback might not undo the last migration ran as ordering by ran_on may not point to the previous migration.

<bountysource-plugin>
---
Want to back this issue? **[P

[2015-08-19 13:13] wzrdtales commented on #295
@ramakrishnan This sounds more to me, as if you're manipulating the order in which you execute your migrations. As they get executed in the order of their timestamps.

Please provide a use case, when this would happen and why you think this would be a solution that would fit in more natural, then using the actual point in time, to give me an insight and make me able to make the right decision.

Th

[2015-08-19 13:42] wzrdtales commented on #295
Also I don't understand your logic at this point:

When you want to rollback the last ran migration, than it has to be the actual timestamp, as you might have copied over a migration from another project, which timestamp doesn't fit in.

[2015-08-20 04:40] ramakrishnan commented on #295
@wzrdtales
Lets say if I create two migrations.
create_customers and create_accounts, thought the file name will have different (timestamp) when ran using `db-migrate up` the migrations table's ran_on will have the same timestamp, as both these migrations got executed on the same time.

Lets assume customer got created first and accounts got created later.

Now what if I need to rollback one level

[2015-08-22 10:42] ramakrishnan commented on #295
Any thoughts on my comments?

[2015-08-22 11:34] wzrdtales commented on #295
Yes but the last two days I have dedicated to other projects.

Actually the sorting is like the following: https://github.com/db-migrate/node-db-migrate/blob/master/lib/driver/base.js#L473

First sorting with the run date and then with the migration date. That is perfectly fine already, as if there were executed many migrations at the same time, they would be rolled back in the same order of their

[2015-08-24 14:49] murmur76 opened #296 "No way to add double precision type in postgresql driver."
I want to add latitude, longitude data as double precision type but there's no way to do that in postgresql.

I've looked at driver sources and noticed that type.REAL actually is mapped to postgresql's REAL data type which is 4 byte 6 decimal digits precision whereas DOUBLE_PRECISION is 8 byte 15 decimal digits.

I've checked another databases such as mysql, sqlite3 and both of them map type.REAL

[2015-08-24 15:00] murmur76 commented on #296
Sorry, I've just found that
`type: 'double precision'
just works.

[2015-08-24 15:00] #296 closed

[2015-08-24 15:33] ramakrishnan commented on #295
Thanks a lot for the clarifications. It makes sense, it boils down to the driver's implementation of handling `allLoadedMigrations`.

[2015-08-24 15:33] #295 closed

[2015-08-24 15:44] wzrdtales commented on #295
No problem, if you have any other questions don't hesitate to ask.

[2015-08-25 11:47] #293 closed

[2015-08-25 15:58] ecksun commented on #252
I don't know if its related but I'm having similar issues.

    $ ./node_modules/.bin/db-migrate --env staging --dry-run --verbose --config config/database.json up
    [INFO] dry run
    [INFO] Using staging settings: { driver: 'pg',
      host: 'localhost:5433',
      port: '5433',
      database: 'adatabase',
      user: 'auser',
      password: '******' }
    [INFO] require: ./pg
    [INFO] con

[2015-08-25 16:00] wzrdtales commented on #252
[code]

Why do you specify the port twice?

[2015-08-25 16:24] wzrdtales commented on #252
@ecksun This is possibly your issue, the host is only the host. The way you defined your configuration applies to connection strings, but in this case you're using parameters.

Also take look at the parameter list of pg.
https://github.com/brianc/node-postgres/wiki/Client#new-clientobject-config--client

So just config like the following:

* host: this is only the hostname/domain/ip
* port: here y

[2015-08-26 08:14] ecksun commented on #252
The port field was added later when I started to try to find a workaround to the issue, before I only had specified the host field ("localhost:5433").

I never realized that the parameter list is just passed through to node-postgres, I don't know if it's because I missed that part of the documentation or if its simply missing but I do think it might be something we could improve upon.

[2015-08-26 08:43] wzrdtales commented on #252
I'm always open to improve our documentation though :)

Does it works now for you or do you still have issues?

[2015-08-26 09:30] ecksun commented on #252
Yes, it works when I specify the port separately.

I would suggest you quickly write about how the config parameters are used and
what they are in the
[configuration](https://github.com/db-migrate/node-db-migrate/#configuration
section).

And if it is so that the configs are only passed through, just mentioning that
should be more than good enough (doesnt have to be more than a sentence
really).

[2015-08-26 10:55] wzrdtales commented on #252
Ok perfect, I guess I will rewrite this documentation part and separate simple examples and structurize the in depth configurations.

[2015-08-26 13:53] sudhirravindramohan opened #297 "can db-migrate be used on mariadb?"
It works with database type as mysql, however what are your recommendations?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26202477-can-db-migrate-be-used-on-mariadb?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-08-26 18:47] wzrdtales commented on #297
I personally only use mariadb all the time. You can use mariadb with db-migrate without thinking a second about it.

[2015-08-27 06:28] sudhirravindramohan commented on #297
Thanks, noted and closing this ticket. In future if there is going to be divergence and a separate mariadb driver support (say via mariasql - https://github.com/mscdex/node-mariasql) we would be interested to develop this and adopt. however at the moment we will not be able to take this up.

[2015-08-27 06:28] #297 closed

[2015-08-27 06:37] ghost opened #298 "npm installs all drivers - sqllite, pg, mysql and mongo"
I am using mariadb for test/production and would need that, I use sqllite for dev, however the mongo and pg drivers are not used and because it is part of the npm dependencies of db-migrate, they get installed.

In contrast sequelize does not include these dependencies and it is upto the dependant package (my module) to define what drivers to install and use.

I understand that there would be a th

[2015-08-27 07:18] wzrdtales commented on #297
MariaDB probably never going to be incompatible to MySQL, but may provide features not supported by MySQL. At this time I wouldn't spent time on a mariasql driver (also I use it in all my projects though), as it is just more efficient than the MySQL driver, but in the context of a migration framework mariasql actually it doesn't add any benefit, as we execute one query by one and doesn't benefit b

[2015-08-27 07:20] wzrdtales commented on #298
Please just wait for v0.10.x, with v0.10.x db-migrate and the drivers get separated. This means you install db-mgirate and you install db-migrate-mysql or db-migrate-pg or whatever you need. These dependencies are going to disappear though and you will gain much more control then you have now.

[2015-08-27 16:40] sudhirravindramohan commented on #298
Thanks I will wait for 0.10 version release. Thanks for the information.

[2015-08-27 19:27] keneasson opened #299 "TIME type missing from mysql driver"
using 'time' returns: [WARN] Using unknown data type TIME
lib/driver/mysql.js
        return 'TINYTEXT';
      case type.DATE_TIME:
        return 'DATETIME';
+      case type.TIME:
+        return 'TIME';
      case type.BLOB:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26252848-time-type-missing-from-mysql-driver?utm_campaign=p

[2015-08-27 19:35] wzrdtales commented on #299
You can use an unsupported data type, you just get this warning message you already have seen. This is intended, as it means: Hey you can use this, but look out if everything works like it should, because this is not officially supported yet.

[2015-08-27 21:51] keneasson commented on #299
Thanks so much for the quick reply.
I found the problem i was having: it was with timestamp and creating an Current_time. I solved it this way: lib/driver/mysql.js
    if (spec.defaultValue !== undefined) {
      constraint.push('DEFAULT');

      if (typeof spec.defaultValue === 'string'){
        if (spec.type === 'timestamp') {
          constraint.push(spec.defaultValue);
        }
        els

[2015-08-27 21:54] wzrdtales commented on #299
With the next release current_timestamp gets also handled more comfortable, see:

https://github.com/db-migrate/node-db-migrate/blob/37a3176ad0e7d33c38b05732e93100a711e3be43/lib/driver/mysql.js#L131-L154

[2015-08-27 22:21] keneasson commented on #299
Nice!

Sent from my HTC

----- Reply message -----
From: "Tobias Gurtzick" <notifications@github.com>
To: "db-migrate/node-db-migrate" <node-db-migrate@noreply.github.com>
Cc: "Ken Easson" <ken@di.fm>
Subject: [node-db-migrate] TIME type missing from mysql driver (#299)
Date: Thu, Aug 27, 2015 5:52 pm

With the next release current_timestamp gets also handled more comfortable, see:

https://github

[2015-08-31 21:40] bherila opened #300 "Quotes in type name cause issue (MySQL)"
When I try to add a SET column to a MySQL database, db-migrate chokes
[code]

Result:
[code]

when this is done with a regular SQL command it works fine:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26345063-quotes-in-type-name-cause-issue-mysql?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=g

[2015-08-31 21:59] wzrdtales commented on #300
@bherila The problem has nothing to do with SQL or your custom type.

The problem is the last part of your migration, which is invalid:

[code]

First of all, there is currently no type.float and the second failure is. You always need to supply an object. You have just directly passed `type.FLOAT`, but actually exepected is: `{ type: type.DECIMAL }`. The chosen type decimal is just an example here

[2015-08-31 22:03] wzrdtales commented on #300
See also
https://github.com/db-migrate/node-db-migrate#generic-datatypes

[2015-08-31 22:06] wzrdtales commented on #300
To note, many drivers support some more types. Like MySQL do, it will have  a separate documentation soon, which outlines these differences. However a nonexistent type is just "not supported", but you should be  able to use it anyway. Maybe you need to escape the quoting a bit to get it work (like you have to do when you use the enum type of MySQL)

[2015-08-31 22:06] wzrdtales commented on #300
If you have any other questions, just ask and we will see if we can help you.

[2015-09-01 21:26] bherila commented on #300
Thank you @wzrdtales !

I will try to find some time to contribute extra content/examples to the readme.md so that others won't run into this too :+1:

[2015-09-01 21:28] bherila commented on #300
One other question actually:

I had found a function which attempts to "normalize" the type in the event that something is supplied that doesn't have a `type` member. I guess that shouldn't be taken advantage of?

[2015-09-01 21:50] wzrdtales commented on #300
Yes you're right, this slipped my mind. The normalize function does parse the options argument to be a type option if you supply a string. You have supplied type.FLOAT which is undefined, so this condition wasn't called either. So yes you can either define a string, existing datatype or object.

[2015-09-03 13:10] maligree opened #302 "Mention that db-migrate works with dotenv out of the box"
Honestly, I didn't expect `{"ENV": ... }` config settings to pull in my `.env` file.

I was pleasantly surprised by this, and I think it deserves a mention in the readme.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26417242-mention-that-db-migrate-works-with-dotenv-out-of-the-box?utm_campaign=plugin&utm_content=tracker%2F73887&ut

[2015-09-03 13:13] maligree opened #303 "multipleStatements vs multiple-statements"
The readme first mentions setting `multiple-statements: true` and then sets `multipleStatements: true`. This is slightly confusing, i.e. it made me check both ways to see if perhaps the lib works with both camelCase and hyphenated attributes.

[2015-09-03 13:16] christemple opened #304 "No more ENV allowed for full database URL in 0.9.20"
Hi guys,

I have been trying to get my database config file to support using a full database connection URL from and environment variable i.e.

[code]

It keeps throwing an error saying I need to specify a driver, however the following suggests I should be able to this:

https://github.com/db-migrate/node-db-migrate/blob/master/lib/config.js#L26

But the version that's on Github is only at 0.9.12,

[2015-09-03 13:31] wzrdtales commented on #304
Here is the v0.9.x track https://github.com/db-migrate/node-db-migrate/tree/v0.9.x
the master version is actually not relevant. The master is **newer** than the v0.9.x track and contains features and changes that are part of the incoming v0.10.x

[2015-09-03 19:43] wzrdtales commented on #304
To answer your questions, I haden't the time when I first read your issue.

The master is currently in a WIP state and near to the first release of the v0.10.x, you can us, but always look out if the actual tests of the CI are passing.

[2015-09-03 19:47] wzrdtales commented on #303
That is indeed a bit confusing.

To note, in the case of MySQL, it is always true if it applies to node-mysql:

https://github.com/felixge/node-mysql/#multiple-statement-queries

I flag this as a note to rework this part of the documentation.

Thank you for reporting this issue!

[2015-09-10 00:33] SamuelBolduc opened #305 "db-migrate doesn't compile using the new node 4.0.0"
Crashes when installing sqlite3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26573586-db-migrate-doesn-t-compile-using-the-new-node-4-0-0?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-09-10 04:46] jhs67 commented on #286
Release 3.1.0 of sqlite3 package is available, and this works with iojs 3 and node 4. Indeed, the master branch of this repo seems to work fine with node 4 (and the sqlite driver as well).

[2015-09-10 10:58] maligree commented on #305
Seeing this as well. Here's the output of `npm install db-migrate`:

[code]

[2015-09-10 11:00] maligree commented on #305
Rushed it, didn't notice there's a PR already open and linked.

[2015-09-10 11:02] wzrdtales commented on #286
Yes since today iojs-3 builds fine again. https://travis-ci.org/db-migrate/node-db-migrate/builds/79347057

closing this note.

[2015-09-10 11:02] #286 closed

[2015-09-10 11:10] #305 closed

[2015-09-10 11:11] wzrdtales commented on #305
This refers to #286

fixed since the new ABI is now supported by sqlite

[2015-09-10 11:23] wzrdtales commented on #305
Published a patch to the v0.9.x track. Newest sqlite version should be downloaded now in v0.9.21.

[2015-09-10 13:38] #227 closed

[2015-09-10 18:48] mdreizin opened #307 "postgres: db:create doesn't work"
`db-migrate db:create test`

[code]

`database.json`

[code]

What kind of options should be defined to successfully create database?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26594164-postgres-db-create-doesn-t-work?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-09-10 18:58] mdreizin opened #308 "Load options form database.json instead of command line args"
It would be nice to have ability to load any options from `database.json` or `.db-migraterc` instead of command line args.

Example:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26594428-load-options-form-database-json-instead-of-command-line-args?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_sou

[2015-09-10 19:10] wzrdtales commented on #308
All options from the CLI are also available from the config see https://github.com/db-migrate/node-db-migrate#configuration

Or do I misunderstand your problem?

[2015-09-10 20:04] wzrdtales commented on #307
@mdreizin I just discovered there was a fallse quotation in those methods for the pg driver.

I will publish a bugfix shortly

[2015-09-10 20:11] #307 closed

[2015-09-10 20:13] wzrdtales commented on #307
bugfix published under v0.9.22

try it again, it should work now

[2015-09-10 20:38] mdreizin commented on #307
@wzrdtales Thanks alot for the fix.

if I run `db-migrate db:create test` with the following config:

[code]

It will work: `[INFO] Created database "test"`

But if I run the same command with the following config:

[code]

It will not work:

[code]

[2015-09-10 20:47] mdreizin commented on #308
@wzrdtales

Currently `db-migrate` doesn't respect `migrations-dir`, `migration-table` options from config file.

Only supported property is `sql-file` under `0.9.x` version:

[code]

It would be nice if `db-migrate` can use options from config file if command line doesn't contain them.

[code]

or

[code]

As I can see this behaviour is not supported now. Please see [node-db-migrate/v0.9.x/bin/db

[2015-09-10 20:59] wzrdtales commented on #307
I agree, this a quite confusing behavior, but this is not "fixable". As it is not a bug of db-migrate and also not really a bug of postgres, but a "feature" if someone want to call it one...

The failure is the following, the pg driver gets the connection parameters, including your database parameter. And the pg driver now throws an error, because the database does not exist yet. You need to provi

[2015-09-10 21:08] mdreizin commented on #307
@wzrdtales Thanks a lot for detailed answer.

As I can see it can be fixed if `db-migrate db:create` command will read `database` from config file and then delete it from `config` variable (from connection params) during connection. That true for `0.9.x`.

Probably it could be implemented under `0.10.x`.

[2015-09-10 21:10] wzrdtales commented on #307
Unfortunately no, this wont fix it. If you don't supply a database, the default behavior of pg is to open a database that has the same name as your current user. if this db also does not exist, you still run into a failure.

[2015-09-10 21:20] wzrdtales commented on #308
duh! You're right, my fault. Actually this is something I have planned and wanted to do together while replacing optimist. I have moved that plans to a later point as there are other things that I'm working on currently. E.g. making the framework zero downtime friendly and other stuff, but I definitely look out to accomplis this. I also watched out for other modules that can replace optimist and p

[2015-09-10 21:23] wzrdtales commented on #308
refers to #224

[2015-09-15 06:56] wzrdtales commented on #307
@mdreizin The only thing which might resolve this issue, would be to default to `postgres` as default database.

[2015-09-15 06:58] wzrdtales commented on #308
We're going to extend the defaults object with the current config for a quick fix for this issue.

[2015-09-16 12:01] jrdi commented on #291
I am going to work on this issue but I don't know how to implement it. Can I create the new driver inside this repo and you will move it to a separate repo like pg, mysql, etc?

[2015-09-16 16:10] wzrdtales commented on #291
No, every table should always have an id. You need it to reference it, delete entries with it and so on. Only the pk is a trustable unique identifier with reasonable performance while searching through the table.

If you want to work on this, you may start in your own repo for a driver and start working on it in the new driver model. We can transfer this repo into the db-migrate organization later

[2015-09-16 16:44] wzrdtales commented on #291
@jrdi And one example is already given, 0.10.x already introduces a relationship from the migration table to another one. The seeder and migrations are related to each other. And as you can use seeders and migrations independently, Seeders are not just a part of the migration.

[2015-09-16 16:45] jrdi commented on #291
@wzrdtales Where did you use this id? You always use name to delete entries, so don't have much sense to maintain  a non used field. If you want a pk you can use name as it.

I tried to run from master using modules for each driver and I can't make it run, maybe I am missing something but I didn't see what to proceed on the readme.

[2015-09-16 16:54] wzrdtales commented on #291
The documentation for the new driver model is not completed yet. A bit is yet described here:

http://db-migrate.readthedocs.org/en/latest/Developers/contributing/#creating-your-own-driver

You would start by creating your package json, name your package in the following schema `db-migrate-drivername` and install the db-migrate-pg dependency. In this case you don't need the base dependency as you'

[2015-09-16 16:59] wzrdtales commented on #291
@jrdi Considering your question of the PK, read my last note. I will try to help you getting started, I'm away for some hours now, but just leave questions here and I will answer them.

[2015-09-16 20:21] wzrdtales commented on #291
@jrdi I just noticed you have started working on the v0.9.x track, you need to start on the v0.10.x track  (current master) instead.

[2015-09-17 08:14] jrdi commented on #291
@wzrdtales I know, but I need a fast fix in order to use db-migrate with redshift. Now I'm using this quick fix but I will try to implement it to v0.10.x later.

[2015-09-17 19:56] wbecker opened #309 "semver + Version 1.0.0?"
Is there any reason this hasn't launched a version 1.0.0? The public API seems pretty stable and last few releases have all just contained backwards compatible improvements, and is definitely ready for production environments.

It would make life a lot easier if this complied with [semver](http://semver.org/), so that I could safely get new versions by putting 1.x in my package.json instead of hav

[2015-09-19 15:37] MattMorgis opened #310 "Read database passwords from my.cnf, .pgpass file or other stand"
It would be great if instead of having to set ENV variables, db-migrate would look into the standard password files (my.cnf for MySQL and .pgpass for PostgreSQL) similar to how Sqitch handles this: https://github.com/theory/sqitch/blob/master/lib/sqitch-passwords.pod#user-content-Use_a_Password_File

[2015-09-19 15:47] wzrdtales commented on #310
I'm not sure if this should be a port of db-migrate, but of the drivers for db-migrate. But generally I like the idea of using the default configurations if they're accessable. This is however very specific to the database and from a security perspective the users should be warned they should never include credentials in those configuration files when we talk about production systems. Thus there h

[2015-09-19 15:54] MattMorgis commented on #310
I didn't even realize the drivers were all separate repos. I may file this on the mysql driver and attempt to contribute just to make my transition from Sqitch a bit easier. Security details about it are explained fairly well here: http://security.stackexchange.com/questions/72823/mysql-root-password-stored-in-my-cnf for documentation purposes.

[2015-09-19 16:11] wzrdtales commented on #309
As soon as the programatic API and Seeders which are going to be introduced, can be considered as stable, I will think about bumping to the first major version. However, you're right that it might be already the time to release the first major release as we're focused on keeping the API stable.

[2015-09-19 16:14] wzrdtales commented on #310
They haven't been separated just a short time ago, but as we continue to move to version 0.10.x they're separated now.

So far db-migrate parses the configuration, thus the driver has either to react on a missing password and user by searching for this files or it has to be an additional configuration parameter. I thiink the first option is the way to strive for.

[2015-09-19 17:18] wbecker commented on #309
Please do :smile:

[2015-09-21 10:57] MattMorgis opened #311 "Fatal error on first migration run MySQL in Ubuntu"
I am working on an Ubuntu 14.04 server with MySQL 5.6. I am running nom v2.14.2 and node v4.0.0.

I checked out my repo and on my first attempt to setup the database I keep getting fatal error. Here is the verbose output:

[code]
I am not sure if this is a problem with my setup or db-migrate. I can run the migrations on my OS X local machine just fine.

I also can log into the MySQL console on the

[2015-09-21 10:58] MattMorgis commented on #311
My first migration is as follows:

[code]

[2015-09-21 11:58] wzrdtales commented on #311
Is this really the value of the database name in your configfile?

    database: '<databases-name>',

[2015-09-21 12:01] wzrdtales commented on #311
If yes, this could be the failure. And it seems to be that you specified invalid values in your configuration as when loading the data sets from your migrations table: at Class.Base.extend.allLoadedMigrations (/usr/local/lib/node_modules/db-migrate/lib/driver/mysql.js:424:10)

[2015-09-21 12:05] MattMorgis commented on #311
Um.. no. I changed for the sole purpose of posting the ticket. Again, I check the repo out on my OS X machine and run `db-migrate up` and it creates the migrations table and runs through the commands fine. I do it on Ubuntu and I get that stack trace.

[2015-09-21 12:10] MattMorgis commented on #311
Mac OS X stack trace with empty database and no migrations table.
[code]

[2015-09-21 12:18] wzrdtales commented on #311
Yes and this stack trace indicates an error while loading the migrations from your table. Please make sure your configuration and permission fits.

I just tested on the exact same environment you described and had no issues, so this is definitely a configuration issue.

[2015-09-21 12:29] wzrdtales commented on #311
Maybe you can post your config files? Naturally star out the password and secret stuff ;)

[2015-09-21 12:31] MattMorgis commented on #311
[code]

[2015-09-21 12:32] MattMorgis commented on #311
Why would the same config file work on OS X and not linux? And why can I log into the console on my Ubuntu server and run the same commands without any permissions errors? I can also echo DB_USER and DB_PASS. db-migrate is obviously picking them up because it prints "root" in the stack trace.

[2015-09-21 12:39] MattMorgis commented on #311
How can I add additional logging to get a more descriptive error message?

[2015-09-21 12:39] wzrdtales commented on #311
Ok I tested with the exact same configuration. And I was able to reproduce the same stack trace you've got. My issue was, that the database hasn't exist. After I created it, everything works again. Maybe you've got the same issue?

I will see to make the logging include more informations in case of errors.

[2015-09-21 12:41] MattMorgis commented on #311
No. See screen shot. The database is created and correctly named. I've checked that about 15 times.
![screen shot 2015-09-21 at 8 40 10 am](https://cloud.githubusercontent.com/assets/4664374/9991951/8e511e2e-603c-11e5-87bf-fc0e02bc7275.png)

[2015-09-21 12:43] wzrdtales commented on #311
Then the database user can not see this database for some reason, probably a permission problem. You know that the permissions for the user root@127.0.0.1 are not automatically the same as for root@localhost?

[2015-09-21 12:46] wzrdtales opened #312 "Create toolset to check the current configuration for issues"
To make it easier to discover issues with configurations and setups, we're going to implement a toolset which is going to find the issues and give detailed informations about it.

Refers to #311

[2015-09-21 12:46] wzrdtales commented on #311
#312 created and planned to make such tasks easier in the future.

[2015-09-21 12:47] MattMorgis commented on #311
I had localhost to start and changed to 127.0.0.1 to see if that made a difference. Again running `mysql -u root -p` and then creating the table myself works fine. If the database didn't exist or it was a permission error, wouldn't the migrations table not get created in the first place the program bomb out there?

[code]

[2015-09-21 12:49] wzrdtales commented on #311
For some strange reason it doesn't fail while creating the migratin table. I have seen the same behavior on my side. I'm going to look after this how ever.

If you do a `mysql -u root -p` you will always connect via the unix socket and thus connect as root@localhost not as root@127.0.0.1

[2015-09-21 12:49] MattMorgis commented on #311
Okay. Changing 127.0.0.1 to localhost in my config file gives me the same results.

[2015-09-21 12:59] wzrdtales commented on #311
Root should normally be able to see all dbs, this is strange enough that there seems to be a problem with this. I'm unfortunately not able to reproduce your issue with the current amount of informations. Could you maybe prepare a gist with an example that fails at your side and try to include the permissions you set and so on?

Or you could create a mini script and run queries with your config via

[2015-09-21 13:15] MattMorgis commented on #311
Is there anywhere I can add a log statement to get the exact error MySQL is returning? That would probably help narrow this down more. I'm not sure how much more information I can give you. I created the server. I ran
 `apt-get install mysql-server`
`mysql_secure_installation`
`mysql -u root -p`
`mysql> CREATE DATABASE databasename_v1;`
`apt-get install git`
`git clone https://github.com/repo.git`

[2015-09-21 13:17] MattMorgis commented on #311
In the my.cnf file I have the bind-address property set to the external IP of the server. Could that have anything to do with this? I will try running on a fresh install again. But getting the exact MySQL error would make this less of a wild goose chase.

[2015-09-21 13:18] wzrdtales commented on #311
You would need to get in the runsql function and add a console.log in the callback of it.

I have tested some other things right now. And I saw, that if the password is wrong I also get the same stack trace. Maybe this is your issue?

[2015-09-21 13:25] wzrdtales commented on #311
The error handling is definitely a topic I wanted to rework, but there are some things discovered by this issue I see that are missing now. The mysql driver implicitly opens the connection on the first query, and thus this case isn't handled.

I'm away for some hours now, please check if the password in the environment is correct. May be it has an empty space at the end or something like this. I'm

[2015-09-21 13:27] MattMorgis commented on #311
I'm in the same boat and have to step away for a bit too. I'll double check the password and let you know. I'll also add in that console.log when I get a chance later and post the response.  Thank you for the help.

[2015-09-21 14:17] MattMorgis commented on #311
After some additional logging, I found this `{ [Error: Cannot enqueue Query after fatal error.] code: 'PROTOCOL_ENQUEUE_AFTER_FATAL_ERROR', fatal: false }` which seems to be related to the node-mysql library.

https://github.com/felixge/node-mysql/issues?q=is%3Aissue+%7B+%5BError%3A+Cannot+enqueue+Query+after+fatal+error.%5D+code%3A+%27PROTOCOL_ENQUEUE_AFTER_FATAL_ERROR%27%2C+fatal%3A+false+%7D+is

[2015-09-21 14:26] wzrdtales commented on #311
No we don't use pools and this is also controlled by the configuration you provide though. However, the problem right now is, if the node driver is running into an error, the error doesn't seem to be thrown and the **next** execution of some command is going to fail. This means, actually not the latest executed command is the problem, but the one before it.

I'm sorry that I'm away again and first

[2015-09-21 14:51] MattMorgis commented on #311
I have figured out the cause of the issue. I have edited the MySQL configuration file (/etc/mysql/my.cnf) and changed the `bind-address` property from 127.0.0.1 to the IP of the server. This is acting as a remote DB instance. When I changed the IP back to 127.0.0.1, `db-migrate up` worked just fine. Changing it back to the IP address caused the crash again.

I followed these instructions: https://

[2015-09-21 14:55] MattMorgis commented on #311
Now we have a starting point for when you are available again. I need to accept external database connections and not just ones from localhost.

[2015-09-21 18:16] wzrdtales commented on #311
Ok, this is actually not a failure of db-migrate, but of your configuratoin.

If you're configuring your MySQL/MariaDB server to listen on the external ip, you need to specify also the external ip in your db-migrate configuartion. Alternatively you can do two things.

1. use unix sockets, look up the configs for this here https://github.com/felixge/node-mysql/#connection-options
2. bind your MySQL

[2015-09-21 18:21] wzrdtales commented on #311
@MattMorgis I've just published v0.9.23 this version has got a patch which throws now an exception if the connection establishment has not worked properly.

[2015-09-23 14:59] MattMorgis commented on #311
So after messing with the user's and bind-address I think I've got this all sorted out. I don't believe node-mysql is connecting via localhost so I needed to setup a user like `'username'@'privatenetworkIP' instead of 'user'@'localhost' in the config. I also noticed that the patch now includes the SQL error message. This issue can now be closed.

[2015-09-23 14:59] #311 closed

[2015-10-08 17:20] kidbrax commented on #305
having the same issue. it would be nice if we could just exclude sqlite somehow

[2015-10-08 17:25] wzrdtales commented on #305
@kidbrax Actually this issue was already solved, as it builds for a long time now:
https://travis-ci.org/db-migrate/db-migrate/node-db-migrate/builds/81440161

Please open a new issue and deliver all needed details to help you.

[2015-10-08 17:26] wzrdtales commented on #305
Seems like linking travis builds is some kind of buggy right now:
https://travis-ci.org/db-migrate/db-migrate/node-db-migrate/branches

[2015-10-08 17:30] kidbrax commented on #305
@wzrdtales thanks. guess i'll have to dig deeper to see why I'm still having issues

[2015-10-08 17:31] wzrdtales commented on #305
@kidbrax Feel free to open a new issue if you can't find a solution and we will be happy to help you.

[2015-10-08 18:03] kidbrax commented on #305
just to clarify, this will install a version of sqlite3 that should work with node 4.x?

[2015-10-08 18:12] wzrdtales commented on #305
@kidbrax yes: https://travis-ci.org/db-migrate/node-db-migrate/builds/84356421

[2015-10-08 18:27] kidbrax commented on #305
ok, worked this time for me. thanks again

[2015-10-16 10:09] edorivai opened #313 "Migrating to a specific version"
First off, thanks for creating this great tool!

I'd really like to be able to _just_ migrate to a specified version, without having to worry about whether the migration would be _up_ or _down_. This is already kinda possible; for `db-migrate up` I can specify the version I want to migrate to. So this leaves two problems:

1. **Determining whether to migrate up or down.**

   Granted, this one is

[2015-10-16 10:50] wzrdtales commented on #313
This basically possible and easy to implement, and this needs to address the lowest or highest (to be) executed migration.

But I think this wouldn't be enough, if we want this feature I would also suggest to introduce tagging  of this different points in time.

[2015-10-16 11:17] edorivai commented on #313
Yeah, I took a quick peek at the code, and it does indeed seem really easy to implement. You basically already have all of the functionality for going up. Honestly, I was kinda surprised it was possible for going up, but not for going down.

The tagging would be nice, but it wouldn't be strictly necessary for me. I will just have a configuration file that contains the version that is compatible wi

[2015-10-16 11:37] edorivai opened #314 "Foreign key on creation not being added (postgres)"
I might be missing something, but running when the following migration on Postgres, the foreign key fails to be added:

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27458768-foreign-key-on-creation-not-being-added-postgres?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We acce

[2015-10-16 11:39] wzrdtales commented on #314
Already answered in #237

[2015-10-16 11:41] edorivai commented on #314
Ah, I see, thanks for the swift reply. Sorry for spamming, but is there any indication as to when the 0.10 update will come through?

[2015-10-16 11:47] wzrdtales commented on #314
I have a lot of changes here local on my sys which I haven't pushed up yet. I'm currently finalizing everything of the seeder components. Other preparations have been done over the last few weeks (moved the drivers out of the repository).
I'm also working on another currently project, but I'm looking forward to give db-migrate a big timeslot tomorrow and finish on these things. After that there ar

[2015-10-16 11:50] wzrdtales commented on #314
For a small overview:
https://github.com/db-migrate/node-db-migrate/milestones/v0.10.0

These items are currently still open, many of them are duplicates and others just lack of documentation and are finished themselfes.

[2015-10-16 12:03] edorivai commented on #314
Awesome, thanks!

[2015-10-17 21:48] #134 closed

[2015-10-17 22:33] wzrdtales opened #315 "Release Plan 0.10.x, migration instructions and the future roadmap"
Hey guys,

First of all, as of today I will release the first beta version of the 0.10.x version. This will follow some releases, described like in the following plan:
- beta A generally stable version, some tests are missing. documentation is lacking details.
- rc1 Providing tests to cover new programable API functionality.
- final release Polishing everything to release the final version.

As yo

[2015-10-19 15:33] Suhov-Igor opened #316 "Error: Handshake inactivity timeout"
<h4>Hello, I had an error:

Handshake inactivity timeout
    at Handshake.<anonymous> (/usr/local/lib/node_modules/db-migrate/node_modules/mysql/lib/protocol/Protocol.js:154:17)
    at emitNone (events.js:67:13)
    at Handshake.emit (events.js:166:7)
    at Handshake._onTimeout (/usr/local/lib/node_modules/db-migrate/node_modules/mysql/lib/protocol/sequences/Sequence.js:116:8)
    at Timer.listOn

[2015-10-19 15:38] wzrdtales commented on #316
@Suhov-Igor Ok, as this error occurs on the connection establishment, this is an error with node-mysql.

Can you tell me how you configured to connect to this db?

- Where is the database located, local or remote?
- Do you use tls?
- Do you connect via unix socket?

The best would be if you could copy paste your configuration file, naturally replace sensitive informations like passwords with dummi

[2015-10-19 20:27] suomi35 opened #317 "0.10.0-beta.1 does not allow down and/or possibly up"
The following will produce the below error:
`npm install -g db-migrate && db-migrate down && db-migrate up`

Error:
-e/rof/.nvm/v0.10.40/bin/db-migrate -> /home/rof/.nvm/v0.10.40/lib/node_modules/db-migrate/bin/db-migrate
db-migrate@0.10.0-beta.1 /home/rof/.nvm/v0.10.40/lib/node_modules/db-migrate
parse-database-url@0.2.2
async@1.4.2
dotenv@1.2.0
pkginfo@0.3.0
semver@5.0.3
mkdirp@0.5.1 (minimist@0

[2015-10-19 20:32] wzrdtales commented on #317
@suomi35 Thank you for reporting.
Is it possible that you have installed locally a db-migrate version that is lower than 0.10.x?

If yes, db-migrate always prefers from 0.10.x on the local installed version. v0.9.x does not have the getInstance singleton and this would explain this failure.

This behavior is also mentioned within the breaking changes:
https://github.com/db-migrate/node-db-migrate/

[2015-10-19 20:32] wzrdtales commented on #317
With local I do mean an installation within your project you try to execute the migrations from.

[2015-10-19 20:37] wzrdtales commented on #317
I think I will make the startup script recognize if versions are lower than 0.10.0, so that no one has to run in this kind of issue.

[2015-10-19 20:41] suomi35 commented on #317
Thanks for the prompt attention! I am building a virtual machine via codeship and installing db-migrate in sequence with some other modules. So it should be pulling from the internet every time.
I read #315 and decided to modify as follows to grab the driver, but still get the same error:
`npm install -g db-migrate && npm install -g db-migrate-pg && db-migrate down && db-migrate up`

[2015-10-19 20:42] wzrdtales commented on #317
Ok, does your project package.json include a lower db-migrate version as 0.10.x?

[2015-10-19 20:44] suomi35 commented on #317
`"db-migrate": "^0.9.23"`

[2015-10-19 20:45] wzrdtales commented on #317
Yes this is the failure here. DBMigrate recognizes this and calls the 0.9.23 instead of your local project. Update this one 0.10 or just completely remove it. I will publish a patch shortly which ignores your local version if it is lower than 0.10.x and also displays an information if the local version is used.

[2015-10-19 20:46] suomi35 commented on #317
Thanks so much for the assist!

[2015-10-19 20:46] #317 closed

[2015-10-19 20:46] wzrdtales commented on #317
@suomi35 My pleasure, whenever you have another question feel free to ask.

[2015-10-19 21:25] wzrdtales commented on #317
Published a patch under 0.10.0-beta.2 including a more convient handling of this issue and better failure reporting.

[2015-10-19 21:39] wzrdtales commented on #317
@suomi35 Considering the npm install -g db-migrate-pg  I'm also going to make this easier now that I notice that this is not working yet and make it possible to always load a driver from the local project if possible.

[2015-10-19 21:39] wzrdtales opened #318 "Resolve drivers also from local project if available"
To remove the need to install the driver globally if using a global db-migrate installation we're going to resolve them the same way the as on the bootup.

Idea from #317

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27534508-resolve-drivers-also-from-local-project-if-available?utm_campaign=plugin&utm_content=tracker%2F73887&utm_me

[2015-10-19 21:42] suomi35 commented on #317
I was about to ask you if I was missing something because it doesn't seem to be working with db-migrate-pg :) Thanks!

[2015-10-19 23:08] #318 closed

[2015-10-19 23:17] wzrdtales commented on #318
@suomi35 0.10.0-beta.3 just released, this version now also loads the drivers from the local project if available.

[2015-10-20 01:21] suomi35 commented on #317
Strangely, I still get an error about the driver not being installed. I have tried installing it with npm install -g db-migrate-pg both before and after npm install -g db-migrate. I get the error either way during the down. Is there something that has to be done in the migration scripts to point to the driver? How does db-migrate know to use the db-migrate-pg driver in the first place?
I have `"dr

[2015-10-20 08:44] wzrdtales commented on #317
@suomi35 the driver pg should require for the db-migrate-pg. There is just one possibility, your using migrations from a very old schema. Can you post the failure message from the verbose mode you get please?

And also search if you're require'ing db-migrate from one of your migrations, if this is the case, this is no longer necessary and you have to replace this by the new schema or install db-mi

[2015-10-20 08:45] wzrdtales commented on #317
You could also set the NODE_ENV to the global space this would also make node find it, but I do not suggest to do so.

[2015-10-20 08:46] wzrdtales commented on #317
To explain, db-migrate is now self injecting into the migrations in the setup routine. I see I need to add this to the breaking changes.

[2015-10-20 09:05] Suhov-Igor commented on #316
<h5>database.json content:

"dev": {
    "host": "localhost",
    "user": "*****",
    "password" : "*****",
    "database": "testdb",
    "driver": "mysql",
    "multipleStatements": true
  }

local db,
I don't use any sockets or tls connections

[2015-10-20 09:08] wzrdtales commented on #316
interesting is there something special about your database config itself? As this seems to timeout while connecting.

[2015-10-20 09:08] wzrdtales commented on #317
@suomi35 Have found the issue, it's located in the pg driver going to update this in an hour or so.

[2015-10-20 09:11] Suhov-Igor commented on #316
All was good, until I update db-migrate, node and npm to latest version

[2015-10-20 09:24] wzrdtales commented on #316
@Suhov-Igor Ok, I assume this is something that was introduced within the node-mysql module, which has been updated in 0.9.x.

The problem is, it is really hard to help you, if I'm not able to reproduce your failure. I installed several versions of mysql and everything works out of the box.Thus I'm in the need of more details to be able to help you.

[2015-10-20 09:27] wzrdtales commented on #316
Probably your database is very slow and responds not in time:
https://github.com/felixge/node-mysql/issues/883

Try to adjust your config like this and try again, maybe this helps already...

[code]

[2015-10-20 09:31] Suhov-Igor commented on #316
I try this options with 100000 value. And nothing change, after that I wrote to you)))

[2015-10-20 11:26] wzrdtales commented on #316
@Suhov-Igor ok, I can't do anything for you other than searching for issues on this in the node-mysql project. As I need to be able to reproduce this.

You say you're using node 4.2.0:

https://github.com/felixge/node-mysql/issues/1241
https://github.com/felixge/node-mysql/issues/1239

There is this bug suggesting to update to 4.2.1 because of a bug in 4.2.0, this seems to match with your experien

[2015-10-20 11:36] wzrdtales commented on #317
@suomi35 Try to reinstall the pg driver again, I have published a patch that should fix this issue: db-migrate-pg@0.1.5

[2015-10-20 11:45] Suhov-Igor commented on #316
<h4>Thank you very much, it helped me.

[2015-10-20 11:45] #316 closed

[2015-10-20 12:21] wzrdtales commented on #237
closed as of the beta release including this and soon following final release.

[2015-10-20 12:21] #237 closed

[2015-10-20 14:05] suomi35 commented on #317
Thank you for all of the explanation and the latest fix. It's all working again :)
We really appreciate your efforts on this framework.

[2015-10-20 15:09] Nedudi opened #319 "Hang during the --sql-file migrations in 0.10.0-beta.3"
1) create sql migration with  --sql-file
2)

insert any simple sql like

    select * from users;

in ...migration-up.sql file

3)

    db-migrate up

----

*result:*

console hang, there is no record in `migrations` table

same working on the rignt way in 0.9.23 version

---

thanks in advance

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2015-10-20 17:08] wzrdtales opened #320 "Replace "templates""
Remove the old "templates" and replace them with real templates, looking at handlebars and other engines. Needs to be evaluated.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27557472-replace-templates?utm_campaign=plugin&utm_content=tracker%2F73887&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2015-10-20 17:10] wzrdtales commented on #319
Thank you for reporting, the new template sreleased in beta.4 should work again.

[2015-10-21 16:02] edorivai commented on #315
Hey man. Great work so far! One question:

I'm getting `This function "insert" is deprecated and is going to be completely removed, use version controlled seeds instead.`. But I can't seem to find any docs on seeder usage. Am I missing something?

[2015-10-21 17:01] Nedudi commented on #319
thanks a lot

after update I have

~/work/kuku/login • db-migrate create first-test-migration77
dima@Dmitrys-MacBook-Pro
module.js:338
    throw err;
          ^
Error: Cannot find module 'when'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymou

[2015-10-21 17:04] Nedudi commented on #319
opps.. sorry

reinstalled and all is great now !!

Awesome!

[2015-10-21 17:04] #319 closed

[2015-10-21 22:30] wzrdtales commented on #315
You're missing the missing docs about those new things. I'm working on that right now :)

[2015-10-21 22:45] wzrdtales commented on #315
@edorivai To give a quick shot of information here:
insert is "deprecated" if used in a migration, it remains basically the same, but should be called in the future from a vc or static seeder instead.

[2015-10-21 23:10] edorivai commented on #315
Haha, I got that much. Just have no idea how to implement a seeder.

[2015-10-21 23:20] wzrdtales commented on #315
Just use the insert in a migration for now, it is quite easy to transfer those to seeders later, I will come up with some docs and some additions to all this stuff over the next days (lets say monday as I'm quite busy this weekend). I'm currently working on the docs and some enhancements and going to push them the next days.

I'm also working on strategies for users that used db-migrate for a long